

<div class="fondo" >

    

    <img src="assets/Imagenes/rotulos/Ingles/mando08.png" style="position:absolute;height: 155px; left: 90px; top: 120px; ">
  
  
  
  
  
    <div class="container-fluid" style="position: absolute; top: 300px; left: 150px; z-index: 8;" > 
     
      <main class="animate__animated animate__fadeInDown" >
   
        <div class="container-fluid" >
          <div class="row">
            <div class="col-xl-6" >
              <h1 class="avenir" style="font-size: 50px;color: white;position: absolute;left: 300px;">ROUTES</h1><br><br><br><br>
             
              <div style="position: absolute; width: 40%;top: 50px;"><br>
                  <h2 class="avenir" style="font-size: 20px;color: white;text-align: center;">Main routes of the Panama Canal. Average 2020-2022 (CP/SUAB tons*)</h2>
              <table class="table table-bordered" style="border: 10px; height: 380px;" >
                 
                  <thead>
                    <tr>
                      <th scope="col" class="rutas">Position</th>
                      <th scope="col" class="rutas">Route</th>
                      <th scope="col" class="rutas">Tonnage in thousands</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row" class="rutas2">1</th>
                      <td class="rutas2">East Coast USA - Asia</td>
                      <td class="rutas2">249.079</td>
                      
                    </tr>
                    <tr>
                      <th scope="row" class="rutas2">2</th>
                      <td class="rutas2">East Coast USA - West Coast South America</td>
                      <td class="rutas2">41.288</td>
                   
                    </tr>
                    <tr>
                      <th scope="row" class="rutas2">3</th>
                      <td  class="rutas2">Europe - West Coast South America</td>
                      <td  class="rutas2">26.162</td>
                    </tr>
                    <tr>
                      <th scope="row" class="rutas2">4</th>
                      <td class="rutas2" >East Coast USA - West Coast Central America</td>
                      <td class="rutas2" >21.384</td>
                    </tr>
                    <tr>
                      <th scope="row" class="rutas2">5</th>
                      <td  class="rutas2">Coast to Coast of South America</td>
                      <td class="rutas2">20.985</td>
                    </tr>
                  </tbody>
                </table></div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<b id="text-amp">*CP/SUAB: Volume measurement unit from the Panama Canal Universal Vessel Admeasure System equal<br> to 2,83 m<sup>3</sup> (100 ft3).</b>

                   
             
              
               <br><br>  
  
                 
  
  
  
                  
  
                  
              
              
  
           
  
  
              
              <br> 
              
  
  
            </div>
            <div class="col-xl-6" style="position: relative; top: 45px; left: -20px;" >
              <h1 class="avenir" style="font-size: 50px;color: white;position: absolute; top: -55px;left: 270px;">USERS</h1><br><br><br><br>

              <div style="position: absolute; width: 70%;top: -20px;"><br>
                  <h2 class="avenir" style="font-size: 20px;color: white;text-align: center;">Panama Canal main users. <br> Average 2020-2022 (long tons*)</h2>
              <table class="table table-bordered" style="border: 10px;height: 380px;" >
                 
                  <thead>
                    <tr >
                      <th scope="col" class="rutas">Position</th>
                      <th scope="col" class="rutas" style="text-align: center;">Country</th>
                      <th scope="col" class="rutas" style="text-align: center;">Tonnage</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row" class="rutas2">1</th>
                      <td  class="rutas2"><img src="assets/Imagenes/stickers/Banderas/USA.png" height="40px;">United States</td>
                      <td style="text-align: center;" class="rutas3">201.971.048</td>
                      
                    </tr>
                    <tr>
                      <th scope="row" class="rutas2">2</th>
                      <td  class="rutas2"><img src="assets/Imagenes/stickers/Banderas/CHINA.png" height="40px">China</td>
                      <td style="text-align: center;" class="rutas3">55.796.947</td>
                   
                    </tr>
                    <tr>
                      <th scope="row" class="rutas2">3</th>
                      <td  class="rutas2" ><img src="assets/Imagenes/stickers/Banderas/JAPON.png" height="40px">Japan</td>
                      <td style="text-align: center;" class="rutas3">38.886.429</td>
                    </tr>
                    <tr>
                      <th scope="row" class="rutas2">4</th>
                      <td  class="rutas2" ><img src="assets/Imagenes/stickers/Banderas/CHILE.png" height="40px">Chile</td>
                      <td style="text-align: center;" class="rutas3">28.976.860</td>
                    </tr>
                    <tr>
                      <th scope="row" class="rutas2">5</th>
                      <td  class="rutas2" ><img src="assets/Imagenes/stickers/Banderas/R.COREA.png" height="40px">South Korea</td>
                      <td style="text-align: center;" class="rutas3" >28.840.952</td>
                    </tr>
                  </tbody>
                </table></div>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<b id="text-amp">*Long ton: is a measurement unit equal to 2240 pounds (1,016.047 kg).</b>


             
            
  
  
  
  
  
              
          
             
  
  
  
            
            </div>

            
            


          </div >
        </div>
  
  
        
      </main> 
  
      
     
  </div>

 
  
   
    
  
    
  
  
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando36.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 9;" alt="" routerLink="/conexiones_eng" >
  
  
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando60.png" style="height: 120px;   position: absolute; top: 870px;
  right: 90px; z-index: 12;" alt="" routerLink="/home_eng" (click)="enviarHome();" >
  
  <img src="assets/Imagenes/textos_iconos/AssetsFinales/esp_blanco.png" style="height: 90px;   position: absolute; top: 900px;
  right: 250px; z-index: 10;" alt="" routerLink="/rutas_usuarios">
  <!-- Boton de ingles español -->
  
  
  
  
  
  
  
  
   
  </div>
  
  
  
  
  
