

<div class="fondo" >

    

    <img src="assets/Imagenes/rotulos/Ingles/mando08.png" style="position:absolute;height: 155px; left: 90px; top: 100px; ">
  
  
  
  
  
    <div class="container-fluid" style="position: absolute; top: 280px; left: 150px; z-index: 8;" > 
     
        <main class="animate__animated animate__fadeInDown" >
     
          <div class="container-fluid" >
            <div class="row">
                <div class="col-xl-6" >
                    <h1 class="avenir" style="font-size: 35px;color: white;">IMPROVEMENT IN NAVIGATIONAL CHANNELS</h1><br><br><br>
                   
                     <p class="text_ampliacion" style=" position: relative; top: -60px; font-size: 22px; text-align: justify;color: white;" id="parrafo">
                      Just as in the Canal entrances, the widening and deepening of the navigation channels played a vital role in facilitating the passage of neopanamax vessels through the interoceanic waterway <br><br>
    
                      However, unlike the activities conducted at the Atlantic and Pacific entrances, the dredging operations in Culebra Cut and Gatun Lake were executed by the Panama Canal Authority since its personnel possessed extensive experience in this field and utilized their own machinery, including the Mindi dredger, the Barú drilling barge, and the <b>Quibián I</b> cut and suction dredger. 
                      <br><br>
                      <b>Relevant facts:</b>
                      <br>
                      <i class="fa-solid fa-circle fa-2xs"></i> The Panama Canal Authority only rented one piece of equipment for these tasks; the Il Principe dredger which was owned by the Belgian company Jan De Nul.     <br><br>
                      
                      <i class="fa-solid fa-circle fa-2xs"></i> In total, an impressive 150 million m<sup>3</sup> of material were excavated and dredged as part of the expansion project. 
                         
                   
                    
                     <br><br>  
        
                       
        
        
        
                        
        
                        
                     </p>
                    
        
                 
        
        
                    
                    <br> 
                    
        
        
                  </div>
              <div class="col-xl-6" style="position: relative; top: -50px; left: 90px;" >
               
    
               <!-- Aqui va una imagen de referencia -->
  
               <img src="assets/Imagenes/stickers/Vehiculos/Stickers-70.png" class="container-fluid" style="width: 650px;position: absolute; left: -60px;top: 50px;" routerLink="/contenido-ampliacion"><br>
              
    
    
    
    
    
                
            
               
    
    
    
              
              </div>
  
              
              
  
  
            </div >
          </div>
    
    
          
        </main> 
    
        
       
    </div>
  
   
    
  
    
  
  
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando36.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 9;" alt="" routerLink="/contenido_ampliacion_eng" >
  
    
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando60.png" style="height: 120px;   position: absolute; top: 870px;
  right: 90px; z-index: 9;" alt="" routerLink="/home_eng" (click)=" enviarHome();" >
  
  <img src="assets/Imagenes/textos_iconos/AssetsFinales/esp_blanco.png" style="height: 90px;   position: absolute; top: 900px;
  right: 250px; z-index: 9;" alt="" routerLink="/navegacion">
  <!-- Boton de ingles español -->
  
  
  
  
  
  
  
  
   
  </div>
  
  
  
  
  
  
