<footer class="text-center text-lg-start animate__animated animate__fadeInUp"  style="background-color: #ECE4DC;">
    <div class="container d-flex justify-content-center py-5">
       <div class="text-center text-white p-3">
     
      <img src="./assets/images/Botones/BTN-Eng.svg" height="100" width="100" style="position: relative ; top:-55px;left: -480px; z-index: 200; " routerLink="/canalmapa">
    </div>
 


    

     <p style="text-align: center;"  class="d-flex justify-content-center py-2"><br>
      <i class="fa-solid fa-house fa-2xl"  routerLink="/" style="font-size: 50px;" ></i>
  </p> 


<!-- <p style="text-align: right; position: relative;  left: 400px;" *ngIf="wsSocket.socketStatus" >Estado: <b class="text-success" >Online</b></p>
<p style="text-align: right; position: relative; top: -40px;"  *ngIf="!wsSocket.socketStatus"> Estado: <b class="text-danger"  >Offline</b></p>  -->

    <!-- <div class="waves" >
      <div class="wave circulo a"></div>
      <div class="wave circulo b"></div>
      <div class="wave circulo c"></div>
    </div> -->

     </div>


  </footer>
