<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal Militar</title>
</head>
<body class="{{cssAnimate}}">

    <main>
     <div class="container  ">
     <h1 class="text-center text-primary" ></h1>
     
     <video id="video" [autoplay]="true" [muted]="true" [loop]="true" src="/assets/proyeccion/rio2.mp4" width=100%  height=100% ></video>

     </div>
    </main>

    
    
</body>
</html>

