

<div class="fondo" >

    

    <img src="assets/Imagenes/rotulos/ampliacion.png" style="position:absolute;height: 180px; left: 140px; top: 90px; ">
  
  
  
  
  
    <div class="container-fluid" style="position: absolute; top: 280px; left: 150px; z-index: 8;" > 
     
        <main class="animate__animated animate__fadeInDown" >
     
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-6" >
                <h1 class="avenir" style="font-size: 35px;color: white;">DEEPENING OF CANAL ENTRANCES</h1><br><br><br>
               
                 <p class="text_ampliacion" style=" position: relative; top: -60px; font-size: 21px; text-align: justify;color: white;" id="parrafo">
                    The deepening of the Canal’s Atlantic and Pacific entrances represented a pivotal component of the expansion project as it facilitated the passage of Neopanamax vessels through the interoceanic waterway.   <br><br>

                    The dredging of the Pacific sector was entrusted to the Belgian company Dredging International, while in the Atlantic sector another Belgian company named <b>Jan de Nul</b> was awarded the contract.  
                  <br><br>
                  <b>Relevant facts: </b>
                  <br><br>
                  <i class="fa-solid fa-circle fa-2xs"></i> To accomplish these undertakings, both companies deployed remarkable dredging vessels, including the D'Artagnan for the Pacific and the De Bougainville for the Atlantic, among others.  <br><br>
                  
                  <i class="fa-solid fa-circle fa-2xs"></i> In both the Pacific and Atlantic sectors, the entrance was expanded to a minimum width of 225 m and deepened to 15.5 m below mean low tide. 
                     
               
                
                 <br><br>  
    
                   
    
    
    
                    
    
                    
                 </p>
                
    
             
    
    
                
                <br> 
                
    
    
              </div>
              <div class="col-xl-6" style="position: relative; top: -50px; left: 90px;" >
               
    
               <!-- Aqui va una imagen de referencia -->
  
               <img src="assets/Imagenes/stickers/Vehiculos/Stickers-77.png" class="container-fluid" style="width: 650px;position: absolute; left: -60px;top: 50px;" routerLink="/contenido-ampliacion"><br>
              
    
    
    
    
    
                
            
               
    
    
    
              
              </div>
  
              
              
  
  
            </div >
          </div>
    
    
          
        </main> 
    
        
       
    </div>
  
   
    
  
    
  
  
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando36.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 9;" alt="" routerLink="/contenido_ampliacion_eng" >
  
    
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando60.png" style="height: 120px;   position: absolute; top: 870px;
  right: 90px; z-index: 9;" alt="" routerLink="/home_eng"  (click)="enviarHome();">
  
  <img src="assets/Imagenes/textos_iconos/AssetsFinales/esp_blanco.png" style="height: 90px;   position: absolute; top: 900px;
  right: 250px; z-index: 9;" alt="" routerLink="/profundizacion">
  <!-- Boton de ingles español -->
  
  
  
  
  
  
  
  
   
  </div>
  
  
  
  
  
  