

<div class="fondo" >

    

  <img src="assets/Imagenes/rotulos/Ingles/mando08.png" style="position:absolute;height: 155px; left: 90px; top: 120px; ">





  <div class="container-fluid" style="position: absolute; top: 300px; left: 150px; z-index: 8;" > 
   
      <main class="animate__animated animate__fadeInDown" >
   
        <div class="container-fluid" >
          <div class="row">
            <div class="col-xl-6" >
              <h1 class="avenir" style="font-size: 40px;color: white;">THE PANAMA CANAL AND ITS CONNECTIONS </h1><br><br><br>
             
               <p class="text_ampliacion" style=" position: relative; top: -70px; font-size: 24px; text-align: left;color: white;" id="parrafo">
                From its emergence to the present, this Isthmus has served as a vital crossroad for the movement of animals, people, ideas, and goods. With the inauguration of the Panama Canal in 1914, world maritime trade was revolutionized by significantly reducing travel distances and facilitating the transit of ships between the Pacific and Atlantic Oceans.  <br><br>
                Currently, with the expansion of the interoceanic route and the transit of larger vessels, the Panama Canal connects about 1920 ports across 170 countries along 5 continents through a network of 180 maritime routes. This has positioned Panama as a pivotal global logistics hub that is complemented by its Pacific and Atlantic ports and the interoceanic railroad.   <br><br>

<b id="text-amp">*Select from these options to view the content &nbsp;<i id="mano" class="fa-solid fa-hand-point-right fa-xl fa-bounce"></i></b>

                   
             
              
               <br><br>  
  
                 
  
  
  
                  
  
                  
               </p>
              
  
           
  
  
              
              <br> 
              
  
  
            </div>
            <div class="col-xl-6" style="position: relative; top: 100px; left: 30px;" >
             
              <div class="d-grid gap-3"  >
                <div class="avenir" style="font-size: 35px;color: white;" routerLink="/rutas_eng"><img src="assets/Imagenes/stickers/Buque/Refrigerado.png" style="height: 80px;">ROUTES AND USERS</div>

                <div class="avenir" style="font-size: 35px;color:  white;" routerLink="/buques_eng"><img src="assets/Imagenes/stickers/Mercancía/Contenedor.png" style="height: 140px;">VESSELS AND COMMODITIES</div>


    

               
 
                 
               </div>
            
  
  
  
  
  
              
          
             
  
  
  
            
            </div>

            
            


          </div >
        </div>
  
  
        
      </main> 
  
      
     
  </div>

 
  

  



  <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando36.png" style="height: 100px;   position: absolute; top: 880px;
  left: 100px; z-index: 9;" alt="" routerLink="/ampliacion_eng" >



  <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando60.png" style="height: 120px;   position: absolute; top: 870px;
right: 90px; z-index: 12;" alt="" routerLink="/home_eng" (click)="enviarHome();" >

<img src="assets/Imagenes/textos_iconos/AssetsFinales/esp_blanco.png" style="height: 90px;   position: absolute; top: 900px;
right: 250px; z-index: 10;" alt="" routerLink="/conexiones">
<!-- Boton de ingles español -->








 
</div>





