

<div class="fondo" >

    

    <img src="assets/Imagenes/rotulos/Ingles/mando06.png" style="position:absolute;height: 230px; left: 190px; top: 95px; ">




  

    <div class="container-fluid" style="position: absolute; top: 400px; left: 150px; z-index: 8;" > 
     
        <main class="animate__animated animate__fadeInDown" >
          <!-- <h1 class="animated flip" style="margin: 0 auto;" class="titulo2  {{cssTexto}}" id="titulo">{{Titulo}}</h1> -->
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-6" >
                <h1 class="calistoga" style="position: absolute; top: -50px;">PROTECTED AREAS</h1><br><br><br><br><br>
               
                 <p class="runted" style=" position: relative; top: -50px; font-size: 25px; text-align: justify;" id="parrafo">
                  The <b> Canal watershed </b> is synonymous with biodiversity due to its rich presence of flora and fauna. <br><br>To preserve it, 1,347  km<sup>2</sup> of land have been designated for the creation of six protected areas which account for 39% of the watershed’s surface area. <br><br>

                  <b id="text-green">*Choose from these protected areas to locate them <i id="mano" class="fa-solid fa-hand-point-right fa-xl fa-bounce"></i></b>
                    
                     
               
                
                 <br><br>  
    
                   
    
    
    
                    
    
                    
                 </p>
                
    
             
    
    
                
                <br> 
                
    
    
              </div>
              <div class="col-xl-6" style="position: relative; top: -60px; left: -10px;" >
               
    
               <!-- Aqui va una imagen de referencia -->
               <div class="d-grid gap-3"  >
                <div class="titulo_cuenca" style="font-size: 25px;color: black;" routerLink="/barrocolorado_eng"><img src="assets/Imagenes/textos_iconos/AssetsFinales/mando27.png" style="height: 70px;">BARRO COLORADO NATURAL MONUMENT</div>

                <div class="titulo_cuenca" style="font-size: 25px;color: black;" routerLink="/altoscampana_eng"><img src="assets/Imagenes/textos_iconos/AssetsFinales/mando27.png" style="height: 70px;">ALTOS DE CAMPANA NATIONAL PARK</div>

                <div class="titulo_cuenca" style="font-size: 25px;color: black;" routerLink="/soberania_eng"><img src="assets/Imagenes/textos_iconos/AssetsFinales/mando27.png" style="height: 70px;">SOBERANIA NATIONAL PARK</div>

                <div class="titulo_cuenca" style="font-size: 25px;color: black;" routerLink="/caminocruces_eng"><img src="assets/Imagenes/textos_iconos/AssetsFinales/mando27.png" style="height: 70px;">Camino de Cruces National Park</div>

                <div class="titulo_cuenca" style="font-size: 25px;color: black;" routerLink="/chagres_eng"><img src="assets/Imagenes/textos_iconos/AssetsFinales/mando27.png" style="height: 70px;">Chagres National Park</div>

                <div class="titulo_cuenca" style="font-size:25px;color: black;" routerLink="/gatun_eng"><img src="assets/Imagenes/textos_iconos/AssetsFinales/mando27.png" style="height: 70px;">Gatun Lake Recreational Natural Area</div>

               
 
                 
               </div>
    
    
    
    
    
                
            
               
    
    
    
              
              </div>

              
              


            </div >
          </div>
    
    
          
        </main> 
    
        
       
    </div>

   
    

    



    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando35.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 9;" alt="" routerLink="/introcuenca_eng"  >


    <img src="assets/Imagenes/textos_iconos/AssetsFinales/home37.png" style="height: 120px;   position: absolute; top: 870px;
right: 90px; z-index: 6;" alt="" routerLink="/home_eng" (click)="enviarHome();">

<img src="assets/Imagenes/textos_iconos/AssetsFinales/esp.png" style="height: 90px;   position: absolute; top: 900px;
right: 250px; z-index: 6;" alt="" routerLink="/introareas"> 
<!-- Boton de ingles español -->




 



   
  </div>


  

 


