<div class="fondo">

    <div class="texto_pos"><br><br><br>
        <img src="assets/Imagenes/rotulos/Ingles/mando04eng.png" style="position:absolute;height: 165px; left: 140px; ">
   </div>
  
    
  
   <img src="assets/Imagenes/textos_iconos/AssetsFinales/Assets-02.png" style="height: 150px;   position: absolute; top: 880px;
   left: 100px; z-index: 9;" alt="" routerLink="/bases_eng" (click)="bases()">
  
  
  
   <img src="assets/Imagenes/textos_iconos/AssetsFinales/home38.png" style="height: 120px;   position: absolute; top: 890px;
  right: 90px; z-index: 9;" alt="" routerLink="/home_eng" (click)="enviarHome()">
  
  <img src="assets/Imagenes/textos_iconos/AssetsFinales/esp.png" style="height: 80px;   position: absolute; top: 920px;
  right: 250px; z-index: 10;" alt="" routerLink="/panel-cocosolo">
  
  
  <div class="container-fluid" style="position: absolute; top: 480px; left: 150px; z-index: 8;" > 
       
      <main class="animate__animated animate__fadeInDown" >
        <!-- <h1 class="animated flip" style="margin: 0 auto;" class="titulo2  {{cssTexto}}" id="titulo">{{Titulo}}</h1> -->
        <div class="container-fluid" >
          <div class="row">
            <div class="col-xl-6" >
              <h1 class="Tit_revertidas" style="position: absolute; top: -190px;">COCO SOLO</h1><br><br><br><br><br>
             
               <p class="text_revertidas" style="letter-spacing: 0.5px; position: relative; top: -200px; font-size: 25px; text-align: justify;" id="parrafo">
               <b>Inauguration date:</b>  c. 1920s. <br>
  
                <b>Original name:</b> Coco Solo Naval Reservation <br>
                
               <b>Previous use: :</b>  served as a base for submarines and, during the Second World War, it functioned as an aeronaval station. After this conflict, the military use of Coco Solo diminished and was destined for civilian purposes. <br><br>
                
                 
                
               <b>Reversion date:</b>  1999. <br>
                
                <b>Current name:</b> Coco Solo  <br>
                
               <b>Current use:</b> this area was divided into two sections and a container port was established in each one: Colon Container Terminal (CCT), in the north, and Manzanillo International Terminal (MIT) in the south. 
              
               <br>
  
                 
  
  
  
                  
  
                  
               </p>
              
  
           
  
  
              
              <br> 
              
  
  
            </div>
            <div class="col-xl-6" style="position: relative; top: -120px;" >
        
  
  
             <div class="container" style="position: absolute; top: -75px;" >
  
              <div id="carouselExampleIndicators" class="carousel slide carousel-fade" style="width: 650px;">
                <div hidden="true" class="carousel-indicators">
                  <button id="btnCarusel" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/ImagenesExp/CocoSolo/coco1.jpg" class="d-block w-100 img-fluid" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/ImagenesExp/CocoSolo/coco2.jpg" class="d-block w-100 img-fluid" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/ImagenesExp/CocoSolo/coco3.jpg" class="d-block w-100 img-fluid" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/ImagenesExp/CocoSolo/coco4.jpg" class="d-block w-100 img-fluid" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/ImagenesExp/CocoSolo/coco5.jpg" class="d-block w-100 img-fluid" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/ImagenesExp/CocoSolo/coco6.jpg" class="d-block w-100 img-fluid" alt="...">
                  </div>
                </div>
                <button (click)="prevImg();" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <i class="fa-solid fa-circle-chevron-left fa-2xl" style="font-size: 70px;"></i>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button (click)="nextImg();" class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <i class="fa-solid fa-circle-chevron-right fa-2xl" style="font-size: 70px;"></i>
                  <span class="visually-hidden">Next</span>
                </button>
               
              </div>
              <br>
              <p style="text-align: center; font-size: 20px;position: absolute;left: 60px;" id="runted" (click)="Mapa();" ><b>
                Press the zoom symbol to enlarge the military base</b>&nbsp; <i class="fa-solid fa-magnifying-{{valor}}  fa-xl" style="font-size: 45px;"></i></p>
  
              
          
              </div>
  
  
  
            
            </div>
          </div>
        </div>
  
  
        
      </main> 
  
      
     
  </div>
  
   </div>
  
  
  
