

  <div class="fondo" >

    <div class="titulo animate__animated animate__flipInX">
    
    </div>

    <div class="linea_lateral">

    </div>
    

    
<!-- Imagen de cuenca -->

    <img class="animate__animated animate__fadeInDown" src="../../../assets/Imagenes/textos_iconos/AssetsProvicionales/Sub.png" style="height: 600px; position: absolute; top: 250px;
    left: 130px;" alt="" routerLink="/subcuenca" >
    <!-- Imagen de cuenca -->

    <!-- Areas Revertidas -->
  <img class="animate__animated animate__fadeInDown" src="../../../assets/Imagenes/textos_iconos/AssetsProvicionales/cobv.png" style="height: 600px;   position: absolute; top: 330px;
  left: 700px;" alt="">
 <!-- Areas Revertidas -->

  <!-- Canal Siglo Xii -->
<img class="animate__animated animate__fadeInDown" src="../../../assets/Imagenes/textos_iconos/AssetsProvicionales/aprot.png" style="height: 600px;   position: absolute; top: 250px;
right: -90px;" alt="" routerLink="/areas-prot">
 <!-- Canal Siglo Xii -->


 <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-08.png" style="height: 150px;   position: absolute; top: 70px;
    left: -10px; z-index: 6;" alt="" routerLink="/" >

<!-- Boton de Home -->
<img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-10.png" style="height: 150px;   position: absolute; top: 920px;
left: -10px; z-index: 6;" alt="" routerLink="/" >
<!-- Boton de ingles español -->




 <div class="ñeque">
    <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-17.png" style="height:350px;position: relative; z-index: 2;transform: scaleX(-1);">
  </div> 

  <div class="arbol ">
    <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-20.png" style="height:400px;position: relative; z-index: 2;">
  </div> 

  

  <div class="perezoso">
    <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-18.png" style="height:400px;position: relative; z-index: 2;transform: rotateZ(-15deg);">
  </div>
  
  <div class="tucan">
    <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-16.png" style="height:400px;position: relative; z-index: 2;transform: rotateZ(-15deg);">
  </div> 



   
  </div>


  

 