

<div class="fondo" >

    

  <img src="assets/Imagenes/rotulos/ampliacion.png" style="position:absolute;height: 180px; left: 140px; top: 90px; ">





  <div class="container-fluid" style="position: absolute; top: 400px; left: 150px; z-index: 8;" > 
   
      <main class="animate__animated animate__fadeInDown" >
   
        <div class="container-fluid" >
          <div class="row">
            <div class="col-xl-7" >
              <div class="circle " ></div>
             
               <p class="text_ampliacion" style=" position: relative; top: -60px; font-size: 26px; text-align: justify;color: white;" id="parrafo">
                Transferido el canal a manos panameñas el <b>31 de diciembre de 1999</b>, los programas de mantenimiento y modernización continuaron con el fin de mejorar la conectividad del Canal y la experiencia de los usuarios de la ruta interoceánica, así como mejorar la competitividad y eficiencia de la vía en el nuevo siglo.<br><br>

                Con el programa de ampliación, el proyecto de modernización más grande de la administración panameña hasta la fecha, se logró abrir nuevos mercados, potenciando el rol del canal panameño como una importante vía acuática, por donde actualmente transitan unos 14.000 barcos y cerca del 3% del comercio marítimo global, lo que equivale a más de 200 millones de toneladas de mercancías al año.

                <br><br>
                <b id="text-amp">* Selecciona uno de estos botones para ampliar más información sobre el Canal de Panamá <i id="mano" class="fa-solid fa-hand-point-right fa-xl fa-bounce"></i></b>
                
                   
             
              
               <br><br>  
  
                 
  
  
  
                  
  
                  
               </p>
              
  
           
  
  
              
              <br> 
              
  
  
            </div>
            <div class="col-xl-5" style="position: relative; top: -120px; left: 30px;" >
             
  
             <!-- Aqui va una imagen de referencia -->

             <img src="assets/Imagenes/rotulos/proyec.png" class="container-fluid" style="width: 450px;position: absolute; left: 20px;" routerLink="/contenido-ampliacion"><br>
             <img src="assets/Imagenes/rotulos/canal_conexiones.png" class="container-fluid" style="width: 455px;position: absolute; left: 30px; top: 260px;" routerLink="/conexiones"><br>
            
  
  
  
  
  
              
          
             
  
  
  
            
            </div>

            
            


          </div >
        </div>
  
  
        
      </main> 
  
      
     
  </div>

 
  

  



  <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando36.png" style="height: 100px;   position: absolute; top: 880px;
  left: 100px; z-index: 12;" alt="" routerLink="/" (click)="enviarHome()" >

  

  <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando40.png" style="height: 120px;   position: absolute; top: 870px;
right: 90px; z-index: 9;" alt="" routerLink="/" (click)="enviarHome()" >

<img src="assets/Imagenes/textos_iconos/AssetsFinales/mando42.png" style="height: 90px;   position: absolute; top: 900px;
right: 250px; z-index: 10;" alt="" routerLink="/ampliacion_eng">
<!-- Boton de ingles español -->








 
</div>





