

  <div class="fondo">

    <div class="texto_pos">
     <h1 class="titulo_ampliacion" style="position: absolute; z-index: 7; left: 600px; top: 60px;"><b>EL CANAL</b> DE PANAMA<br> EN EL SIGLO XXI</h1>
   </div>
 
     <div class="linea_lateral">
 
     </div>
 
     <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-07.png" style="height: 150px;   position: absolute; top: 70px;
     left: -10px; z-index: 6;" alt="" routerLink="/" >
 
     <!-- <img src="../../../assets/Imagenes/textos_iconos/AssetsProvicionales/eng.png" style="height: 250px;   position: absolute; top: 750px;
 left: -70px; z-index: 6;" alt="" > -->
 
     <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-09.png" style="height: 150px;   position: absolute; top: 920px;
 left: -10px; z-index: 6;" alt="" routerLink="/" >
 
  <div class="container" style="position: absolute; top: 480px; left: 290px; z-index: 8;" > 
      
        <main class="animate__animated animate__fadeInDown" >
          <!-- <h1 class="animated flip" style="margin: 0 auto;" class="titulo2  {{cssTexto}}" id="titulo">{{Titulo}}</h1> -->
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-6" >
                <div class="circle  {{cssImg}}"  [ngStyle]="{'background-image': 'url(' + Img + ')'}" ></div>
               
                 <p class="text_revertidas {{cssTexto}}" style="letter-spacing: 0.5px; position: relative; top: -100px;" id="parrafo">
                 {{desc}}
                 <br><br>  
    
                   <b>Fuente:</b> Canal de Panamá 
 
 
 
                    
    
                    
                 </p>
                
    
             
    
    
                
                <br> 
                
 
    
              </div>
              <div class="col-xl-6" style="position: relative; top: -50px;" >
               <div class="d-grid gap-2">
                <ul class="list-group text_revertidas" style="background-color: #ECE4DC;">
                  <li class="list-group-item" style="background-color: #ECE4DC;">Mejoras al cauce de acceso del Pacífico </li>
                  <li class="list-group-item" style="background-color: #ECE4DC;">Profundización de las entradas del Canal </li>
                  <li class="list-group-item" style="background-color: #ECE4DC;">Mejoras a los cauces de navegación </li>
                  <li class="list-group-item" style="background-color: #ECE4DC;">Diseño y construcción de esclusas </li>
                  <li class="list-group-item" style="background-color: #ECE4DC;">Mejoras al suministro de agua </li>
               
                </ul>
 
 
                 
               </div>
 
 
              
    
    
    
              
              </div>
            </div>
          </div>
    
    
          
        </main> 
    
        
       
    </div>
 
 
   </div>
    
   <!-- <app-footer></app-footer> -->
    
    
  
    
    