

<div class="fondo" >

    

    <img src="assets/Imagenes/rotulos/ampliacion.png" style="position:absolute;height: 180px; left: 140px; top: 90px; ">
  
  
  
  
  
    <div class="container-fluid" style="position: absolute; top: 280px; left: 150px; z-index: 8;" > 
     
        <main class="animate__animated animate__fadeInDown" >
     
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-6" >
                <h1 class="avenir" style="font-size: 35px;color: white;">DISEÑO Y CONSTRUCCIÓN DE ESCLUSAS</h1><br><br><br>
               
                 <p class="text_ampliacion" style=" position: relative; top: -60px; font-size: 22px; text-align: justify;color: white;" id="parrafo">
                  El diseño y construcción de las esclusas y sus tinas de ahorro de agua fue considerado como el componente más complejo del proyecto de ampliación por el nivel técnico de ejecución que demandaba esta obra.    <br><br>

                  Este contrato fue adjudicado al consorcio Grupo Unidos por el Canal S.A. (GUPCSA), formado por Sacyr Vallehermoso de España; Impregilo de Italia; Jan De Nul de Bélgica y Constructora Urbana de Panamá, por un costo original de 3,221 millones de dólares.  <br><br>
                  
                  El diseño incluyó dos complejos de esclusas: Agua Clara en el Atlántico y Cocolí en el Pacífico; cada uno con dimensiones de 427 m de largo, 55 m de ancho y 18.3 m de profundidad.<br><br> Cada complejo de esclusas cuenta con compuertas rodantes que permiten más eficientes y con nueve tinas reutilización diseñadas para ahorrar hasta el 60% del volumen de agua requerido para cada tránsito. Las esclusas <i>neopanamax </i>utilizan 7% menos agua que las esclusas panamax por tránsito.  
                    
                     
                  
               
                
                 <br><br>  
    
                   
    
    
    
                    
    
                    
                 </p>
                
    
             
    
    
                
                <br> 
                
    
    
              </div>
              <div class="col-xl-6" style="position: relative; top: -50px; left: 90px;" >
               
    
               <!-- Aqui va una imagen de referencia -->
  
               <img src="assets/Imagenes/stickers/Landmarks/Stickers-56.png" class="container-fluid" style="width: 650px;position: absolute; left: -60px;top: 50px;" routerLink="/contenido-ampliacion"><br>
              
    
    
    
    
    
                
            
               
    
    
    
              
              </div>
  
              
              
  
  
            </div >
          </div>
    
    
          
        </main> 
    
        
       
    </div>
  
   
    
  
    
  
  
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando36.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 9;" alt="" routerLink="/contenido-ampliacion" >
  
    
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando40.png" style="height: 120px;   position: absolute; top: 870px;
  right: 90px; z-index: 9;" alt="" routerLink="/" (click)="enviarHome();" >
  
  <!-- <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando42.png" style="height: 90px;   position: absolute; top: 900px;
  right: 250px; z-index: 9;" alt=""> -->
  <!-- Boton de ingles español -->
  
  
  
  
  
  
  
  
   
  </div>
  
  
  
  
  
  