

<div class="fondo" >

    

    <img src="assets/Imagenes/rotulos/ampliacion.png" style="position:absolute;height: 180px; left: 140px; top: 90px; ">
  
  
  
  
  
    <div class="container-fluid" style="position: absolute; top: 280px; left: 150px; z-index: 8;" > 
     
        <main class="animate__animated animate__fadeInDown" >
     
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-6" >
                <h1 class="avenir" style="font-size: 35px;color: white;">MEJORAS AL SUMINISTRO DE AGUA</h1><br><br><br>
               
                 <p class="text_ampliacion" style=" position: relative; top: -60px; font-size: 22px; text-align: justify;color: white;" id="parrafo">
                  Con este componente se buscó garantizar el suministro de agua para el consumo de la población de Panamá y la operatividad del Canal, además de aprovechar el rendimiento hídrico actual para evitar construir nuevos embalses.   <br><br>

                  Para cumplir con estos objetivos, las mejoras al suministro de agua consistieron en la construcción de las 18 tinas de ahorro de agua de las esclusas, la profundización de los cauces de navegación del lago Gatún y el aumento del nivel máximo operativo de este lago de 26.7 m a 27.1 m. 
                  <br><br>
                  <b>Datos Curioso:</b>
                  <br><br>
                  <i class="fa-solid fa-circle fa-2xs"></i> El incremento del nivel máximo operativo del lago Gatún añade alrededor de 200 millones m<sup>3</sup> a la reserva de agua del Canal.   <br><br>
                  
                  
                     
               
                
                 <br><br>  
    
                   
    
    
    
                    
    
                    
                 </p>
                
    
             
    
    
                
                <br> 
                
    
    
              </div>
              <div class="col-xl-6" style="position: relative; top: -50px; left: 90px;" >
               
    
               <!-- Aqui va una imagen de referencia -->
  
               <img src="assets/Imagenes/stickers/Vehiculos/Stickers-78.png" class="container-fluid" style="width: 650px;position: absolute; left: -60px;top: 50px;" routerLink="/contenido-ampliacion"><br>
              
    
    
    
    
    
                
            
               
    
    
    
              
              </div>
  
              
              
  
  
            </div >
          </div>
    
    
          
        </main> 
    
        
       
    </div>
  
   
    
  
    
  
  
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando36.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 9;" alt="" routerLink="/contenido-ampliacion" >
  
   
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando40.png" style="height: 120px;   position: absolute; top: 870px;
  right: 90px; z-index: 9;" alt="" routerLink="/" (click)="enviarHome();" >
  
  <!-- <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando42.png" style="height: 90px;   position: absolute; top: 900px;
  right: 250px; z-index: 9;" alt=""> -->
  <!-- Boton de ingles español -->
  
  
  
  
  
  
  
  
   
  </div>
  
  
  
  
  
  