

<div class="fondo" >

    

    <img src="../../../assets/Imagenes/rotulos/cuenca.png" style="position:absolute;height: 240px; left: 140px; top: 90px; ">



  

    <div class="container-fluid" style="position: absolute; top: 400px; left: 150px; z-index: 8;" > 
     
        <main class="animate__animated animate__fadeInDown" >
          <!-- <h1 class="animated flip" style="margin: 0 auto;" class="titulo2  {{cssTexto}}" id="titulo">{{Titulo}}</h1> -->
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-6" >
                <h1 class="calistoga" style="position: absolute; top: -50px;"> PARQUE NACIONAL SOBERANÍA</h1><br><br><br><br><br>
               
                 <p class="runted" style=" position: relative; top: -50px; font-size: 25px; text-align: left;" id="parrafo">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

 
                    
                     
               
                
                 <br><br>  
    
                   
    
    
    
                    
    
                    
                 </p>
                
    
             
    
    
                
                <br> 
                
    
    
              </div>
              <div class="col-xl-6" style="position: relative; top: -80px; left: 30px;" >
               
    
               <!-- Aqui va una imagen de referencia -->
               <div class="d-grid gap-3"  >
                <div class="titulo_cuenca" style="font-size: 25px;color: black; position: absolute; top: 90px;" routerLink="/panel-barrocolorado"><img src="../../../../assets/Imagenes/stickers/Animales/Stickers-05.png" style="height: 400px;"></div>

               

               
 
                 
               </div>
    
    
    
    
    
                
            
               
    
    
    
              
              </div>

              
              


            </div >
          </div>
    
    
          
        </main> 
    
        
       
    </div>

   
    

    



    <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/mando35.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 9;" alt="" routerLink="/introareas" >

    <!-- <img src="../../../assets/Imagenes/textos_iconos/AssetsProvicionales/eng.png" style="height: 250px;   position: absolute; top: 750px;
left: -70px; z-index: 6;" alt="" > -->

    <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/mando39.png" style="height: 120px;   position: absolute; top: 870px;
right: 90px; z-index: 6;" alt="" routerLink="/" >

<img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/eng.png" style="height: 90px;   position: absolute; top: 900px;
right: 250px; z-index: 6;" alt="">
<!-- Boton de ingles español -->




 



   
  </div>


  

 

