<div class="fondo">

    <div class="texto_pos"><br><br><br>
        <img src="assets/Imagenes/rotulos/Ingles/mando04eng.png" style="position:absolute;height: 165px; left: 140px; ">
   </div>
  
    
  
   <img src="assets/Imagenes/textos_iconos/AssetsFinales/Assets-02.png" style="height: 150px;   position: absolute; top: 880px;
   left: 100px; z-index: 9;" alt="" routerLink="/bases_eng" (click)="bases()" >
  
  
  
   <img src="assets/Imagenes/textos_iconos/AssetsFinales/home38.png" style="height: 150px;   position: absolute; top: 870px;
  right: 90px; z-index: 9;" alt="" routerLink="/home_eng" (click)="enviarHome()">
  
  <img src="assets/Imagenes/textos_iconos/AssetsFinales/esp.png" style="height: 100px;   position: absolute; top: 900px;
  right: 250px; z-index: 10;" alt="" routerLink="/panel-gulik">
  
  
  <div class="container-fluid" style="position: absolute; top: 480px; left: 150px; z-index: 8;" > 
       
      <main class="animate__animated animate__fadeInDown" >
        <!-- <h1 class="animated flip" style="margin: 0 auto;" class="titulo2  {{cssTexto}}" id="titulo">{{Titulo}}</h1> -->
        <div class="container-fluid" >
          <div class="row">
            <div class="col-xl-6" >
              <h1 class="Tit_revertidas" style="position: absolute; top: -190px;">GULICK</h1><br><br><br><br><br>
             
               <p class="text_revertidas" style="letter-spacing: 0.5px; position: relative; top: -200px; font-size: 25px; text-align: justify;" id="parrafo">
               <b>Establishment date: </b>  1941<br>  
  
               <b>Original name: </b>  Fort Gulick <br> 
                
               <b>Previous use: </b>from 1949 until its reversion, Fort Gulick was the base of operations of the School of the Americas <br> <br> 
                
                 
                
               <b>Reversion dates: </b>  1984 and 1999 <br> 
                
               <b>Current name:  </b> Fort Espinar <br> 
                 
               <b>Current use: </b> residential use. A hotel was established in the buildings belonging to the former School of the Americas. 
              
               <br><br>  
  
                
  
  
  
                  
  
                  
               </p>
              
  
           
  
  
              
              <br> 
              
  
  
            </div>
            <div class="col-xl-6" style="position: relative; top: -100px;" >
            
  
  
             <div class="container" style="position: absolute; top: -60px;" >
  
              <div id="carouselExampleFade" class="carousel slide carousel-fade" style="width: 650px;">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/ImagenesExp/Gulick/gul1.jpg" class="d-block w-100 img-fluid" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/ImagenesExp/Gulick/gul2.jpg" class="d-block w-100 img-fluid" alt="...">
                  </div>
                  <!-- <div class="carousel-item">
                    <img src="assets/Imagenes/parque1.jpg" class="d-block w-100 img-fluid" alt="...">
                  </div> -->
                </div>
                <button (click)="prevImg();" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                  <i class="fa-solid fa-circle-chevron-left fa-2xl" style="font-size: 70px;"></i>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button (click)="nextImg();" class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                  <i class="fa-solid fa-circle-chevron-right fa-2xl" style="font-size: 70px;"></i>
                  <span class="visually-hidden">Next</span>
                </button>
               

                  
              </div>
              <br>
              <p style="text-align: center; font-size: 20px;position: absolute;left: 60px;" id="runted" (click)="Mapa();" ><b>
                Press the zoom symbol to enlarge the military base</b>&nbsp; <i class="fa-solid fa-magnifying-{{valor}}  fa-xl" style="font-size: 45px;"></i></p>
  
              
          
              </div>
  
  
  
            
            </div>
          </div>
        </div>
  
  
        
      </main> 
  
      
     
  </div>
  
   </div>
  
  
  
  