

<div class="fondo" >

    

    <img src="assets/Imagenes/rotulos/Ingles/mando08.png" style="position:absolute;height: 155px; left: 90px; top: 120px; ">
  
    <div class="container-fluid" style="position: absolute; top: 300px; left: 150px; z-index: 8;" > 
     
        <main class="animate__animated animate__fadeInDown" >
     
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-6" >
                
                <h1 class="avenir" style="font-size: 40px;color: white;position: absolute; left: 300px;">VESSELS</h1><br><br><br><br>
               
                <div style="position: absolute; width: 30%;top: 70px;"><br>
                    
                    <div style="position: relative; left: -60px; top: -80px;">
                    <div class="container avenir" style="position: absolute; top: 80px;color: white;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                        <img src="assets/Imagenes/stickers/Buque/final13.png" height="80px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dry bulk carriers
                    </div>
                    <br>

                      
                    <div class="container avenir" style="position: absolute; top: 180px;color: white;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom2" aria-controls="offcanvasBottom">
                      <img src="assets/Imagenes/stickers/Buque/Petroleo.png" height="80px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Crude product tankers
                  </div>

                  <div class="container avenir" style="position: absolute; top: 280px;color: white;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom3" aria-controls="offcanvasBottom">
                    <img src="assets/Imagenes/stickers/Buque/gases.png" height="80px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gas vessels
                </div>

                <div class="container avenir" style="position: absolute; top: 380px;color: white;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom4" aria-controls="offcanvasBottom">
                  <img src="assets/Imagenes/stickers/Buque/Refrigerado.png" height="80px">Refrigerated cargo ship
              </div>
-
            </div>


              <div style="position: relative;left: 480px; top: -450px;">
              <div class="container avenir" style="position: absolute; top: 480px;color: white;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom5" aria-controls="offcanvasBottom">
                <img src="assets/Imagenes/stickers/Buque/crucero.png" height="80px">Passenger vessels
            </div>

            <div class="container avenir" style="position: absolute; top: 580px;color: white;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom6" aria-controls="offcanvasBottom">
              <img src="assets/Imagenes/stickers/Buque/Portavehiculos.png" height="80px">Vehicle carriers
          </div>

          <div class="container avenir" style="position: absolute; top: 680px;color: white;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom7" aria-controls="offcanvasBottom">
            <img src="assets/Imagenes/stickers/Buque/final15.png" height="80px">Container carriers
        </div>
      </div>
                    


                    
             
                </div>



  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <b id="text-amp" style="font-size: 20px;">Select from these options to view content &nbsp;<i id="mano" class="fa-solid fa-hand-point-up fa-beat fa-xl fa-bounce"></i></b>
  
                     
  
                
                 <br><br>  
    
                   
    
    
    
                    
    
                    
                
                
    
             
    
    
                
                <br> 
                
    
    
              </div>
              <div class="col-xl-6" style="position: relative; top: 45px; left: -20px;" >
               
                <div style="position: absolute; width: 70%;top: -80px;"><br>
                  <h1 class="avenir" style="font-size: 40px;color: white;position: absolute; left: 200px;">COMMODITIES</h1><br><br><br><br>


                  <div style="position: relative; left: 90px;top: -70px;">
                    <div class="container avenir" style="position: absolute; top: 80px;color: white;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom8" aria-controls="offcanvasBottom">
                      <img src="assets/Imagenes/stickers/Mercancía/Crudo.png" height="80px">OIL
                  </div>

                  <div class="container avenir" style="position: absolute; top: 180px;color: white;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom9" aria-controls="offcanvasBottom">
                    <img src="assets/Imagenes/stickers/Mercancía/Granos.png" height="80px">Grains
                </div>

                <div class="container avenir" style="position: absolute; top: 280px;color: white;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom10" aria-controls="offcanvasBottom">
                  <img src="assets/Imagenes/stickers/Mercancía/Gas.png" height="80px"> Gas
              </div>

              <div style="position: relative; left: 250px; top:-300px;">
              <div class="container avenir" style="position: absolute; top:380px;color: white;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom11" aria-controls="offcanvasBottom">
                <img src="assets/Imagenes/stickers/Mercancía/Guineo.png" height="80px">Others
            </div>

            <div class="container avenir" style="position: absolute; top: 480px;color: white;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom12" aria-controls="offcanvasBottom">
              <img src="assets/Imagenes/stickers/Mercancía/Contenedor.png" height="80px">Containerized cargo
          </div>

          <div class="container avenir" style="position: absolute; top: 580px;color: white;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom13" aria-controls="offcanvasBottom">
            <img src="assets/Imagenes/stickers/Mercancía/Vehiculos.png" height="80px"> Vehicles
        </div>

      </div>


                  </div>

                </div>
                  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
 

  
               
              
    
    
    
    
    
                
            
               
    
    
    
              
              </div>
  
              
              
  
  
            </div >
          </div>
    
    
          
        </main> 
    
        
       
    </div>
  
   
    
  
    
  
  
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando36.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 9;" alt="" routerLink="/conexiones_eng" >
  
  
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando60.png" style="height: 120px;   position: absolute; top: 870px;
  right: 90px; z-index: 12;" alt="" routerLink="/home_eng" (click)="enviarHome();" >
  
  <img src="assets/Imagenes/textos_iconos/AssetsFinales/esp_blanco.png" style="height: 90px;   position: absolute; top: 900px;
  right: 250px; z-index: 10;" alt="" routerLink="/buques">
  <!-- Boton de ingles español -->
  
  
  
  
  
  
  
  
   
  </div>
  
  
 

<div class="offcanvas offcanvas-bottom " tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel" style="height: 120px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title avenir " id="offcanvasBottomLabel">Dry bulk carriers:</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small text_ampliacion" style="font-size: 20px; position: absolute; top: 25px;"><br>
    They transport dry grains such as corn, soy, wheat, and other bulk.<br>
    
  </div>
</div>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom2" aria-labelledby="offcanvasBottomLabel" style="height: 120px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title avenir" id="offcanvasBottomLabel">Crude product tankers :</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small text_ampliacion" style="font-size: 20px; position: absolute; top: 25px;"><br>
    They transport liquid bulk that include crude oil, petroleum, and petroleum-derived products (diesel, gasoline, jet fuel, etc.), chemicals and petroleum chemicals, among other products. <br>
    
  </div>
</div>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom3" aria-labelledby="offcanvasBottomLabel" style="height: 120px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title avenir" id="offcanvasBottomLabel">Gas vessels: :</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small text_ampliacion" style="font-size: 20px; position: absolute; top: 25px;"><br>
    This type of ship transports Liquified Petroleum Gas (LPG) and Liquified Natural Gas (LNG).  <br>
    
  </div>
</div>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom4" aria-labelledby="offcanvasBottomLabel" style="height: 120px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title avenir" id="offcanvasBottomLabel">Refrigerated cargo ship::</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small text_ampliacion" style="font-size: 20px; position: absolute; top: 25px;"><br>
    They transport perishable products, including fruits, meats, and dairy products. <br>
    
  </div>
</div>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom5" aria-labelledby="offcanvasBottomLabel" style="height: 120px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title avenir" id="offcanvasBottomLabel">Passenger vessels: </h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small text_ampliacion" style="font-size: 20px; position: absolute; top: 25px;"><br>
    Another part of the demand is the cruise industry, which sees in the region different tourist destinations. <br>
    
  </div>
</div>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom6" aria-labelledby="offcanvasBottomLabel" style="height: 120px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title avenir" id="offcanvasBottomLabel">Vehicle carriers:</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small text_ampliacion" style="font-size: 20px; position: absolute; top: 10px;"><br>
    They transport cars, trucks, and project cargo (goods that cannot be placed in a container due to their size). This category also includes Ro-Ros ships (Roll On-Roll Off ships equipped with ramps so that trucks can enter and exit to collect or leave cargo.)  <br>
    
  </div>
</div>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom7" aria-labelledby="offcanvasBottomLabel" style="height: 120px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title avenir" id="offcanvasBottomLabel">Container carriers:</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div> 
  <div class="offcanvas-body small text_ampliacion" style="font-size: 20px; position: absolute; top: 25px;"><br>
    They transport all kinds of merchandise including furniture, clothing, household items, among others<br>
    
  </div>
</div>




<!-- Productos -->


<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom8" aria-labelledby="offcanvasBottomLabel" style="height: 140px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title avenir" id="offcanvasBottomLabel">OIL</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div> 
  <div class="offcanvas-body small text_ampliacion" style="font-size: 20px; position: absolute; top: 25px;"><br>
    Crude oil is transported from countries such as Ecuador and Colombia, passing through the Canal and then refined in the United States. Once this process has been carried out, it passes through the Panama Canal to countries such as Mexico, Ecuador, Peru, and Chile <br>
    
  </div>
</div>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom9" aria-labelledby="offcanvasBottomLabel" style="height: 140px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title avenir" id="offcanvasBottomLabel">Grains</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div> 
  <div class="offcanvas-body small text_ampliacion" style="font-size: 20px; position: absolute; top: 25px;"><br>
    The main grains that are transported are beans, soybeans, corn, and wheat. Most of the grains come from the United States and are destined to China, the South America’s west coast, Japan and the Central America’s west coast.  <br>
    
  </div>
</div>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom10" aria-labelledby="offcanvasBottomLabel" style="height: 120px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title avenir" id="offcanvasBottomLabel">Gas</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div> 
  <div class="offcanvas-body small text_ampliacion" style="font-size: 20px; position: absolute; top: 25px;">
    95% of the liquefied petroleum gas (LPG) that passes through the Canal comes from the United States, followed by Trinidad and Tobago with 3%, and is destined to South Korea and Japan. Approximately 5% of the world’s liquefied natural gas (LNG) passes through the Panama Canal.   <br>
    
  </div>
</div>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom11" aria-labelledby="offcanvasBottomLabel" style="height: 120px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title avenir" id="offcanvasBottomLabel">Others</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div> 
  <div class="offcanvas-body small text_ampliacion" style="font-size: 20px; position: absolute; top: 25px;"><br>
    An example of a refrigerated product is the banana that is produced by Ecuador that passes through the Canal to the United States and Europe. <br>
    
  </div>
</div>


<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom12" aria-labelledby="offcanvasBottomLabel" style="height: 140px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title avenir" id="offcanvasBottomLabel">Containerized cargo</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div> 
  <div class="offcanvas-body small text_ampliacion" style="font-size: 20px; position: absolute; top: 25px;"><br>
    Products such as furniture, clothing and household items are transported in containers and they mostly originate from China, bound for Atlantic countries such as Argentina, Venezuela, Brazil, and the Caribbean. <br>
    
  </div>
</div>


<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom13" aria-labelledby="offcanvasBottomLabel" style="height: 120px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title avenir" id="offcanvasBottomLabel">Vehicles</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div> 
  <div class="offcanvas-body small text_ampliacion" style="font-size: 20px; position: absolute; top: 25px;"><br>
    Cars and electric appliances made in Japan and South Korea also cross the Canal bound for the Atlantic Ocean. <br>
    
  </div>
</div>


  
  
  
  

