

<div class="fondo" >

    

    <img src="assets/Imagenes/rotulos/Ingles/mando08.png" style="position:absolute;height: 155px; left: 90px; top: 120px; ">
  
  
  
  
  
    <div class="container-fluid" style="position: absolute; top: 400px; left: 150px; z-index: 8;" > 
     
        <main class="animate__animated animate__fadeInDown" >
     
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-7" >
                <div class="circle " ></div>
               
                 <p class="text_ampliacion" style=" position: relative; top: -60px; font-size: 26px; text-align: justify;color: white;" id="parrafo">
                    Following the transfer of the Canal to Panamanian control on <b>December 31, 1999</b>, maintenance and modernization programs continued to enhance the competitiveness and efficiency of the interoceanic waterway. <br><br>
  
                    Through the expansion project, the most significant endeavor undertaken by the Panamanian administration to date, the Canal's role in global maritime trade was greatly bolstered. Currently, this waterway connects approximately 1,920 ports in 170 countries via 180 maritime routes, solidifying Panama's status as a global logistics hub. 
  
                  <br><br>
                  <b id="text-amp">* select this option for more information on the Canal expansion project <i id="mano" class="fa-solid fa-hand-point-right fa-xl fa-bounce"></i></b>
                  
                     
               
                
                 <br><br>  
    
                   
    
    
    
                    
    
                    
                 </p>
                
    
             
    
    
                
                <br> 
                
    
    
              </div>
              <div class="col-xl-5" style="position: relative; top: -80px; left: 30px;" >
               
    
               <!-- Aqui va una imagen de referencia -->
  
               <img src="assets/Imagenes/rotulos/Ingles/mando26.png" class="container-fluid" style="width: 600px;position: absolute; left: -80px;" routerLink="/contenido_ampliacion_eng"><br>
              
    
    
    
    
    
                
            
               
    
    
    
              
              </div>
  
              
              
  
  
            </div >
          </div>
    
    
          
        </main> 
    
        
       
    </div>
  
   
    
  
    
  
  
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando36.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 12;" alt="" routerLink="/home_eng" (click)="enviarHome()" >
  
    
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando60.png" style="height: 120px;   position: absolute; top: 870px;
  right: 90px; z-index: 9;" alt="" routerLink="/home_eng" (click)="enviarHome()" >
  
  <img src="assets/Imagenes/textos_iconos/AssetsFinales/esp_blanco.png" style="height: 90px;   position: absolute; top: 900px;
  right: 250px; z-index: 10;" alt="" routerLink="/ampliacion">
  <!-- Boton de ingles español -->
  
  
  
  
  
  
  
  
   
  </div>
  
  
  
  
  
  