

<div class="fondo" >

    

    <img src="assets/Imagenes/rotulos/Ingles/mando08.png" style="position:absolute;height: 155px; left: 90px; top: 120px; ">
  
  
  
  
  
    <div class="container-fluid" style="position: absolute; top: 400px; left: 150px; z-index: 8;" > 
     
        <main class="animate__animated animate__fadeInDown" >
     
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-7" >
                <div class="circle " ></div>
               
                 <p class="text_ampliacion" style=" position: relative; top: -60px; font-size: 26px; text-align: justify;color: white;" id="parrafo">
                  Transferred the canal to Panamanian hands-on <b>31 December 1999</b>, maintenance and modernization programs continued to improve the connectivity of the Canal and the experience of users of the interoceanic route, as well as improving the competitiveness and efficiency of the way in the new century. <br><br>
  
                    With the expansion program, the biggest project of the Panamanian administration to date, new markets were opened, enhancing the role of the Panamanian Canal as an important waterway, where some 14,000 ships and about 3% of global maritime trade currently transit, equivalent to more than 200 million tons of goods per year. 
  
                  <br><br>
                  <b id="text-amp">* Select one of these buttons to learn more about the Panama Canal <i id="mano" class="fa-solid fa-hand-point-right fa-xl fa-bounce"></i></b>
                  
                     
               
                
                 <br><br>  
    
                   
    
    
    
                    
    
                    
                 </p>
                
    
             
    
    
                
                <br> 
                
    
    
              </div>
              <div class="col-xl-5" style="position: relative; top: -120px; left: 30px;" >
               
    
               <!-- Aqui va una imagen de referencia -->
  
               <img src="assets/Imagenes/rotulos/Ingles/mando26.png" class="container-fluid" style="width: 350px;position: absolute; left: 40px;" routerLink="/contenido_ampliacion_eng"><br>
               <img src="assets/Imagenes/rotulos/Ingles/canal_conection.png" class="container-fluid" style="width: 455px;position: absolute; left: 10px; top: 260px;" routerLink="/conexiones_eng"><br>
              
    
    
    
    
    
                
            
               
    
    
    
              
              </div>
  
              
              
  
  
            </div >
          </div>
    
    
          
        </main> 
    
        
       
    </div>
  
   
    
  
    
  
  
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando36.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 12;" alt="" routerLink="/home_eng" (click)="enviarHome()" >
  
    
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando60.png" style="height: 120px;   position: absolute; top: 870px;
  right: 90px; z-index: 9;" alt="" routerLink="/home_eng" (click)="enviarHome()" >
  
  <img src="assets/Imagenes/textos_iconos/AssetsFinales/esp_blanco.png" style="height: 90px;   position: absolute; top: 900px;
  right: 250px; z-index: 10;" alt="" routerLink="/ampliacion">
  <!-- Boton de ingles español -->
  
  
  
  
  
  
  
  
   
  </div>
  
  
  
  
  
  