<div class="fondo">

    <div class="texto_pos">
     <h1 class="title_revertidas" style="position: absolute; z-index: 7; left: 720px; top: 60px;">KOBEE</h1>
   </div>
 
     <div class="linea_lateral">
 
     </div>
 
     <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-02.png" style="height: 150px;   position: absolute; top: 70px;
     left: -10px; z-index: 6;" alt="" routerLink="/bases" >
 
     <!-- <img src="../../../assets/Imagenes/textos_iconos/AssetsProvicionales/eng.png" style="height: 250px;   position: absolute; top: 750px;
 left: -70px; z-index: 6;" alt="" > -->
 
     <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-04.png" style="height: 150px;   position: absolute; top: 920px;
 left: -10px; z-index: 6;" alt="" routerLink="/" >


<div class="container" style="position: absolute; top: 480px; left: 290px; z-index: 8;" > 
     
    <main class="animate__animated animate__fadeInDown" >
      <!-- <h1 class="animated flip" style="margin: 0 auto;" class="titulo2  {{cssTexto}}" id="titulo">{{Titulo}}</h1> -->
      <div class="container-fluid" >
        <div class="row">
          <div class="col-xl-6" >
            <div class="circle " ></div>
           
             <p class="text_revertidas" style="letter-spacing: 0.5px; position: relative; top: -100px;" id="parrafo">
                Fue la base defensiva principal para el sector caribeño del Canal, y también fue el centro de entrenamiento de la guerra de la selva de los EE. UU. Su compañero del lado del Pacífico era Fort Amador. Ambas bases fueron entregadas a Panamá en 1999.
            
             <br><br>  

               <b>Fuente:</b> Canal de Panamá 



                

                
             </p>
            

         


            
            <br> 
            


          </div>
          <div class="col-xl-6" style="position: relative; top: -50px;" >
           <!-- <div class="d-grid gap-2">
             <button class="btn btn-primary text_revertidas" style="background-color: #ECE4DC; border: white 1px solid; font-size: 40px;" type="button" routerLink="/bases"> Bases Militares &nbsp; <i class="fa-solid fa-person-military-rifle fa-2xl" style="font-size: 25px;"></i></button>

             <button class="btn btn-primary text_revertidas" style="background-color: #ECE4DC; border: white 1px solid;font-size: 40px;" type="button" routerLink="/poligonostiro"> Poligonos de tiro &nbsp; <i class="fa-solid fa-bullseye fa-2xl" style="font-size: 25px;"></i></button>


             
           </div> -->


           <div class="container" style="position: absolute; top: -40px;" >

            <img-comparison-slider tabindex="0" class="rendered">
            <figure slot="first" class="before">
              <img width="100%" class="tamaño" src="../../../assets/Imagenes/parque1.jpg">
              <figcaption class="text_revertidas">1992</figcaption>
            </figure>
            <figure slot="second" class="after">
              <img width="100%" class="tamaño" src="../../../assets/Imagenes/parque2.jpg">
              <figcaption class="text_revertidas">2000</figcaption>
            </figure>
            <svg slot="handle" class="custom-animated-handle" xmlns="http://www.w3.org/2000/svg" width="400" viewBox="-8 -3 16 6" style="position: absolute; top:-50px; left:-200px;">
               <path stroke="#fff" d="M -5 -2 L -7 0 L -5 2 M -5 -2 L -5 2 M 5 -2 L 7 0 L 5 2 M 5 -2 L 5 2" stroke-width="1" fill="#fff" vector-effect="non-scaling-stroke"></path>
             </svg>
           </img-comparison-slider>


            
        
            </div>



          
          </div>
        </div>
      </div>


      
    </main> 

    
   
</div>

 </div>

