

<div class="fondo" >

    

    <img src="assets/Imagenes/rotulos/ampliacion.png" style="position:absolute;height: 180px; left: 140px; top: 90px; ">
  
  
  
  
  
    <div class="container-fluid" style="position: absolute; top: 300px; left: 150px; z-index: 8;" > 
     
        <main class="animate__animated animate__fadeInDown" >
     
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-6" >
                
                <h1 class="avenir" style="font-size: 40px;color: white;position: absolute; left: 300px;">BUQUES</h1><br><br><br><br>
               
                <div style="position: absolute; width: 30%;top: 70px;"><br>
                    
                    <div style="position: relative; left: -60px; top: -80px;">
                    <div class="container avenir" style="position: absolute; top: 80px;color: white;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                        <img src="assets/Imagenes/stickers/Buque/final13.png" height="80px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Graneleros
                    </div>
                    <br>

                      
                    <div class="container avenir" style="position: absolute; top: 180px;color: white;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom2" aria-controls="offcanvasBottom">
                      <img src="assets/Imagenes/stickers/Buque/Petroleo.png" height="80px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tanqueros
                  </div>

                  <div class="container avenir" style="position: absolute; top: 280px;color: white;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom3" aria-controls="offcanvasBottom">
                    <img src="assets/Imagenes/stickers/Buque/gases.png" height="80px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gaseros
                </div>

                <div class="container avenir" style="position: absolute; top: 380px;color: white;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom4" aria-controls="offcanvasBottom">
                  <img src="assets/Imagenes/stickers/Buque/Refrigerado.png" height="80px">Refrigerados
              </div>
-
            </div>


              <div style="position: relative;left: 420px; top: -450px;">
              <div class="container avenir" style="position: absolute; top: 480px;color: white;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom5" aria-controls="offcanvasBottom">
                <img src="assets/Imagenes/stickers/Buque/crucero.png" height="80px">Cruceros
            </div>

            <div class="container avenir" style="position: absolute; top: 580px;color: white;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom6" aria-controls="offcanvasBottom">
              <img src="assets/Imagenes/stickers/Buque/Portavehiculos.png" height="80px">Portavehículos
          </div>

          <div class="container avenir" style="position: absolute; top: 680px;color: white;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom7" aria-controls="offcanvasBottom">
            <img src="assets/Imagenes/stickers/Buque/final15.png" height="80px">Portacontenedores
        </div>
      </div>
                    


                    
             
                </div>



  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <b id="text-amp" style="font-size: 20px;">Selecciona entre estas opciones para mirar el contenido &nbsp;<i id="mano" class="fa-solid fa-hand-point-up fa-beat fa-xl fa-bounce"></i></b>
  
                     
  
                
                 <br><br>  
    
                   
    
    
    
                    
    
                    
                
                
    
             
    
    
                
                <br> 
                
    
    
              </div>
              <div class="col-xl-6" style="position: relative; top: 45px; left: -20px;" >
               
                <div style="position: absolute; width: 70%;top: -80px;"><br>
                  <h1 class="avenir" style="font-size: 40px;color: white;position: absolute; left: 200px;">PRODUCTOS</h1><br><br><br><br>


                  <div style="position: relative; left: 90px;top: -70px;">
                    <div class="container avenir" style="position: absolute; top: 80px;color: white;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom8" aria-controls="offcanvasBottom">
                      <img src="assets/Imagenes/stickers/Mercancía/Crudo.png" height="80px">Petróleo
                  </div>

                  <div class="container avenir" style="position: absolute; top: 180px;color: white;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom9" aria-controls="offcanvasBottom">
                    <img src="assets/Imagenes/stickers/Mercancía/Granos.png" height="80px">Granos
                </div>

                <div class="container avenir" style="position: absolute; top: 280px;color: white;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom10" aria-controls="offcanvasBottom">
                  <img src="assets/Imagenes/stickers/Mercancía/Gas.png" height="80px"> Gas
              </div>

              <div style="position: relative; left: 250px; top:-300px;">
              <div class="container avenir" style="position: absolute; top:380px;color: white;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom11" aria-controls="offcanvasBottom">
                <img src="assets/Imagenes/stickers/Mercancía/Guineo.png" height="80px">Otros
            </div>

            <div class="container avenir" style="position: absolute; top: 480px;color: white;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom12" aria-controls="offcanvasBottom">
              <img src="assets/Imagenes/stickers/Mercancía/Contenedor.png" height="80px"> Carga contenerizada
          </div>

          <div class="container avenir" style="position: absolute; top: 580px;color: white;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom13" aria-controls="offcanvasBottom">
            <img src="assets/Imagenes/stickers/Mercancía/Vehiculos.png" height="80px"> Autos
        </div>

      </div>


                  </div>

                </div>
                  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
 

  
               
              
    
    
    
    
    
                
            
               
    
    
    
              
              </div>
  
              
              
  
  
            </div >
          </div>
    
    
          
        </main> 
    
        
       
    </div>
  
   
    
  
    
  
  
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando36.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 9;" alt="" routerLink="/conexiones" >
  
  
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando40.png" style="height: 120px;   position: absolute; top: 870px;
  right: 90px; z-index: 12;" alt="" routerLink="/" (click)="enviarHome();" >
  
  <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando42.png" style="height: 90px;   position: absolute; top: 900px;
  right: 250px; z-index: 10;" alt="" routerLink="/buques_eng">
  <!-- Boton de ingles español -->
  
  
  
  
  
  
  
  
   
  </div>
  
  
 

<div class="offcanvas offcanvas-bottom " tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel" style="height: 120px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title avenir " id="offcanvasBottomLabel">Buques graneleros:</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small text_ampliacion" style="font-size: 20px; position: absolute; top: 25px;"><br>
    Transportan granos secos como maíz, soya, trigo, y otros graneles.<br>
    
  </div>
</div>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom2" aria-labelledby="offcanvasBottomLabel" style="height: 120px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title avenir" id="offcanvasBottomLabel">Buques Tanqueros:</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small text_ampliacion" style="font-size: 20px; position: absolute; top: 25px;"><br>
    Transportan graneles líquidos, que incluyen el petróleo crudo, productos derivados del petróleo (diesel, gasolina, combustible de aviación), productos químicos, entre otros. <br>
    
  </div>
</div>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom3" aria-labelledby="offcanvasBottomLabel" style="height: 120px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title avenir" id="offcanvasBottomLabel">Buques gaseros:</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small text_ampliacion" style="font-size: 20px; position: absolute; top: 25px;"><br>
    Transportan gas licuado natural y gas licuado de petróleo.  <br>
    
  </div>
</div>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom4" aria-labelledby="offcanvasBottomLabel" style="height: 120px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title avenir" id="offcanvasBottomLabel">Buques refrigerados:</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small text_ampliacion" style="font-size: 20px; position: absolute; top: 25px;"><br>
    Transportan productos perecederos, que incluyen frutas, carnes, productos lácteos. <br>
    
  </div>
</div>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom5" aria-labelledby="offcanvasBottomLabel" style="height: 120px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title avenir" id="offcanvasBottomLabel">Buques portacontenedores:</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small text_ampliacion" style="font-size: 20px; position: absolute; top: 25px;"><br>
    Transportan contenedores que llevan toda clase de mercancía, como muebles, ropa, artículos del hogar, entre otros. <br>
    
  </div>
</div>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom6" aria-labelledby="offcanvasBottomLabel" style="height: 120px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title avenir" id="offcanvasBottomLabel">Buques portavehículos:</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small text_ampliacion" style="font-size: 20px; position: absolute; top: 10px;"><br>
    Transportan automóviles, camiones y carga de proyecto. Esta categoría también incluye los buques Ro-Ros (Roll On-Roll Off —buques equipados con rampas para que los camiones puedan entrar y salir a recoger o dejar carga.)  <br>
    
  </div>
</div>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom7" aria-labelledby="offcanvasBottomLabel" style="height: 120px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title avenir" id="offcanvasBottomLabel">Buques cruceros:</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div> 
  <div class="offcanvas-body small text_ampliacion" style="font-size: 20px; position: absolute; top: 25px;"><br>
    Otra parte de la demanda que no guarda relación con los costos de transporte y que es totalmente diferente a los segmentos de carga, es la industria de cruceros, que ven en la región destinos turísticos. <br>
    
  </div>
</div>




<!-- Productos -->


<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom8" aria-labelledby="offcanvasBottomLabel" style="height: 140px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title avenir" id="offcanvasBottomLabel">Petróleo</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div> 
  <div class="offcanvas-body small text_ampliacion" style="font-size: 20px; position: absolute; top: 25px;"><br>
    El transporte de petróleo crudo se realiza desde países como Ecuador y Colombia, atravesando el Canal para luego ser refinado en Estados Unidos. Una vez realizado este proceso, vuelve a pasar por el Canal de Panamá con destino a países como México, Ecuador, Perú y Chile. <br>
    
  </div>
</div>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom9" aria-labelledby="offcanvasBottomLabel" style="height: 140px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title avenir" id="offcanvasBottomLabel">Granos</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div> 
  <div class="offcanvas-body small text_ampliacion" style="font-size: 20px; position: absolute; top: 25px;"><br>
    Los principales granos transportados son fríjol, soya, maíz y trigo. La mayoría de los granos se originan en Estados Unidos y tienen como destino China, la costa oeste sudamericana, Japón y la costa oeste centroamericana. <br>
    
  </div>
</div>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom10" aria-labelledby="offcanvasBottomLabel" style="height: 120px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title avenir" id="offcanvasBottomLabel">GNL y GLP</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div> 
  <div class="offcanvas-body small text_ampliacion" style="font-size: 20px; position: absolute; top: 25px;"><br>
    El 95% del GLP que pasa por el Canal proviene de Estados Unidos, seguido por Trinidad y Tobago con un 3% y tiene como destino a Corea del Sur y Japón <br>
    
  </div>
</div>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom11" aria-labelledby="offcanvasBottomLabel" style="height: 120px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title avenir" id="offcanvasBottomLabel">Otros</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div> 
  <div class="offcanvas-body small text_ampliacion" style="font-size: 20px; position: absolute; top: 25px;"><br>
    Un ejemplo de producto refrigerado es el banano producido por Ecuador que pasa por el Canal con destino a Estados Unidos y Europa. <br>
    
  </div>
</div>


<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom12" aria-labelledby="offcanvasBottomLabel" style="height: 140px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title avenir" id="offcanvasBottomLabel">Carga contenerizada</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div> 
  <div class="offcanvas-body small text_ampliacion" style="font-size: 20px; position: absolute; top: 25px;"><br>
    Productos como muebles, ropa y artículos del hogar transportados en contenedores provienen, en su mayoría, de China, con destino al Atlántico a países como Argentina, Venezuela, Brasil y el Caribe. <br>
    
  </div>
</div>


<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom13" aria-labelledby="offcanvasBottomLabel" style="height: 120px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title avenir" id="offcanvasBottomLabel">Autos</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div> 
  <div class="offcanvas-body small text_ampliacion" style="font-size: 20px; position: absolute; top: 25px;"><br>
    Automóviles y electrodomésticos fabricados en Japón y Corea del Sur también atraviesan el Canal con destino al océano Atlántico. <br>
    
  </div>
</div>


  
  
  
  

