

<div class="fondo" >

    

    <img src="assets/Imagenes/rotulos/ampliacion.png" style="position:absolute;height: 180px; left: 140px; top: 90px; ">
  
  
  
  
  
    <div class="container-fluid" style="position: absolute; top: 300px; left: 150px; z-index: 8;" > 
     
        <main class="animate__animated animate__fadeInDown" >
     
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-6" >
                <h1 class="avenir" style="font-size: 40px;color: white;">EL CANAL DE PANAMÁ Y SUS CONEXIONES</h1><br><br><br>
               
                 <p class="text_ampliacion" style=" position: relative; top: -70px; font-size: 24px; text-align: left;color: white;" id="parrafo">
                  Desde el surgimiento del istmo hasta la actualidad, este territorio ha sido espacio de tránsito de animales, personas, ideas y mercancías. Con la inauguración del Canal de Panamá en 1914, se revoluciona el comercio marítimo mundial al acortarse grandes distancias y permitirse el tránsito de naves de diferentes países entre el océano Pacífico y Atlántico.    <br><br>
                  Actualmente, con la ampliación de la ruta interoceánica y el tránsito de buques de mayor tamaño, el Canal de Panamá ha permitido conectar alrededor de 1,920 puertos en 170 países y 5 continentes por medio de 180 rutas marítimas, convirtiendo a Panamá en un importante centro logístico a nivel mundial, complementado por concesiones de diferentes puertos ubicados en los sectores Pacífico y Atlántico, además del ferrocarril interoceánico    <br><br>
  
  <b id="text-amp">*Selecciona entre estas opciones para mirar el contenido &nbsp;<i id="mano" class="fa-solid fa-hand-point-right fa-xl fa-bounce"></i></b>
  
                     
               
                
                 <br><br>  
    
                   
    
    
    
                    
    
                    
                 </p>
                
    
             
    
    
                
                <br> 
                
    
    
              </div>
              <div class="col-xl-6" style="position: relative; top: 100px; left: 30px;" >
               
                <div class="d-grid gap-3"  >
                  <div class="avenir" style="font-size: 40px;color: white;" routerLink="/rutas_usuarios"><img src="assets/Imagenes/stickers/Buque/Refrigerado.png" style="height: 80px;">RUTAS Y USUARIOS</div>
  
                  <div class="avenir" style="font-size: 40px;color:  white;" routerLink="/buques"><img src="assets/Imagenes/stickers/Mercancía/Contenedor.png" style="height: 140px;">BUQUES Y PRODUCTOS</div>
  
  
      
  
                 
   
                   
                 </div>
              
    
    
    
    
    
                
            
               
    
    
    
              
              </div>
  
              
              
  
  
            </div >
          </div>
    
    
          
        </main> 
    
        
       
    </div>
  
   
    
  
    
  
  
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando36.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 9;" alt="" routerLink="/ampliacion" >
  
  
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando40.png" style="height: 120px;   position: absolute; top: 870px;
  right: 90px; z-index: 12;" alt="" routerLink="/" (click)="enviarHome();" >
  
  <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando42.png" style="height: 90px;   position: absolute; top: 900px;
  right: 250px; z-index: 10;" alt="" routerLink="/conexiones_eng">
  <!-- Boton de ingles español -->
  
  
  
  
  
  
  
  
   
  </div>
  
  
  
  
  
