

<div class="fondo" >

    

    <img src="assets/Imagenes/rotulos/cuenca.png" style="position:absolute;height: 240px; left: 140px; top: 90px; ">
  
    <div class="container-fluid" style="position: absolute; top: 400px; left: 150px; z-index: 8;" > 
     
        <main class="animate__animated animate__fadeInDown" >
          <!-- <h1 class="animated flip" style="margin: 0 auto;" class="titulo2  {{cssTexto}}" id="titulo">{{Titulo}}</h1> -->
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-8" >
                <h1 class="calistoga" style="position: absolute; top: -80px; font-size: 70px;">SUBWATERSHEDS AND MAIN RIVERS </h1><br><br><br><br><br>
               
                 <p class="runted" style=" position: relative; top: -80px; font-size: 28px; text-align: justify;" id="parrafo">
                    The Canal watershed contains great number of rivers and subwatersheds.  <br><br>In these regions, the<b>Panama Canal Authority </b> has worked in collaboration with the communities that inhabit them to protect and conserve the environment through socio-environmental agroforestry programs, a production system that uses the land in a more sustainably by combining the cultivation of timber trees with agricultural or livestock farming.  
  
                  <br><br>
  
                    <b id="text-green">*Look at the map to locate these subwatersheds <i id="mano" class="fa-solid fa-location-dot fa-bounce"></i></b>
  
                     
               
                
                 <br><br>  
    
                   
    
    
    
                    
    
                    
                 </p>
                
    
             
    
    
                
                <br> 
                
    
    
              </div>
              <div class="col-xl-4" style="position: relative; top: 20px; left: 10px;" >
               
    
               <!-- Aqui va una imagen de referencia -->
              
                <div class="titulo_cuenca" style="font-size: 23px;color: black;"><img src="assets/Imagenes/textos_iconos/AssetsFinales/mando28.png" style="height: 50px;">CIRÍ GRANDE</div>
  
                <div class="titulo_cuenca" style="font-size: 23px;color: black;"><img src="assets/Imagenes/textos_iconos/AssetsFinales/mando28.png" style="height: 50px;">TRINIDAD</div>
  
                <div class="titulo_cuenca" style="font-size: 23px;color: black;"><img src="assets/Imagenes/textos_iconos/AssetsFinales/mando28.png" style="height: 50px;">CAÑO QUEBRADO</div>
  
                <div class="titulo_cuenca" style="font-size: 23px;color: black;" ><img src="assets/Imagenes/textos_iconos/AssetsFinales/mando28.png" style="height: 50px;">GATÚN</div>
  
                <div class="titulo_cuenca" style="font-size: 23px;color: black;"><img src="assets/Imagenes/textos_iconos/AssetsFinales/mando28.png" style="height: 50px;">BOQUERÓN</div>
  
                <div class="titulo_cuenca" style="font-size:23px;color: black;"><img src="assets/Imagenes/textos_iconos/AssetsFinales/mando28.png" style="height: 50px;">PEQUENÍ</div>
  
                <div class="titulo_cuenca" style="font-size:23px;color: black;" ><img src="assets/Imagenes/textos_iconos/AssetsFinales/mando28.png" style="height: 50px;">CHAGRES</div>
  
                <div class="titulo_cuenca" style="font-size:23px;color: black;"><img src="assets/Imagenes/textos_iconos/AssetsFinales/mando28.png" style="height: 50px;">INDIO ESTE</div>
  
               
  
                 
           
    
    
    
    
    
                
            
               
    
    
    
              
              </div>
  
              
              
  
  
            </div >
          </div>
    
    
          
        </main> 
    
        
       
    </div>
  
   
    
  
    
  
  
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando35.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 9;" alt="" routerLink="/introcuenca_eng"  (click)="cuenca();">
  
  
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/home37.png" style="height: 120px;   position: absolute; top: 870px;
  right: 90px; z-index: 9;" alt="" routerLink="/home_eng" (click)="enviarHome();" >
  
  <img src="assets/Imagenes/textos_iconos/AssetsFinales/esp.png" style="height: 90px;   position: absolute; top: 900px;
  right: 250px; z-index: 10;" alt="" routerLink="/subcuenca">
  <!-- Boton de ingles español -->
  
  
  
  
  
  
  
  
   
  </div>
  
  
  
  
  
  
  
