<div class="fondo">

    <div class="texto_pos"><br><br><br>
      <img src="../../../assets/Imagenes/rotulos/revertidas.png" style="position:absolute;height: 240px; left: 140px; ">
   </div>
 
   <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-02.png" style="height: 150px;   position: absolute; top: 880px;
   left: 100px; z-index: 9;" alt="" routerLink="/revertidas" (click)="areaRevertida()">

   <!-- <img src="../../../assets/Imagenes/textos_iconos/AssetsProvicionales/eng.png" style="height: 250px;   position: absolute; top: 750px;
left: -70px; z-index: 6;" alt="" > -->

   <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-04.png" style="height: 150px;   position: absolute; top: 870px;
right: 90px; z-index: 9;" alt="" routerLink="/" (click)="enviarHome()">

<img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/eng.png" style="height: 100px;   position: absolute; top: 900px;
right: 250px; z-index: 6;" alt="">






<div class="container-fluid" style="position: absolute; top: 480px; left: 150px; z-index: 8; margin: 0;padding:0;display: inline-block;" > 
     
    <main class="animate__animated animate__fadeInDown" >
      <!-- <h1 class="animated flip" style="margin: 0 auto;" class="titulo2  {{cssTexto}}" id="titulo">{{Titulo}}</h1> -->
      <div class="container-fluid" >
        <div class="row">
          <div class="col-xl-6" >
           <br>
            <h1 class="Tit_revertidas" style="position: absolute; top: -190px;">BASES MILITARES</h1><br><br><br><br><br>
             <p class="text_revertidas " style="letter-spacing: 0.5px; text-align: justify; position: relative; top: -230px; font-size: 28px;line-height : 45px;" id="parrafo">
              Para Estados Unidos, el Canal de Panamá era importante no solo por su valor comercial, sino también por su valor militar debido a su ubicación estratégico. Por esta razón, el gobierno estadounidense mandó a construir fortificaciones en el sector Atlántico y Pacífico para la defensa de la vía interoceánica y del continente.  
<br><br>
              Sin embargo, con la entrada en vigor de los <b>Tratados Torrijos-Carter</b> y el fin de la Segunda Guerra Mundial y la Guerra Fría, las bases militares fueron perdiendo relevancia gradualmente hasta ser revertidas completamente a la República de Panamá.   
             <br><br>  

               

                
             </p>
            

         


            
            <br> 
            


          </div>
          <div class="col-xl-6" style="position: relative; top: -150px;right: -50px;width: 500px; height: 500px;" >
         
              <div class="row">
                <div class="col-xl-6">
                  <div class="title_revertidas" style="font-size: 50px;color: black;position: absolute; left: 15px;top:-10px" >ATLÁNTICO</div><br><br><br>
                  <div class="title_revertidas" style="font-size: 40px;color: black;" routerLink="/panel-sherman"><img src="../../../assets/Imagenes/stickers/Iconos/Stickers-61.png" style="height: 60px;">SHERMAN</div>
                  <div class="title_revertidas" style="font-size: 36px;color: black;" routerLink="/panel-lesseps"><img src="../../../assets/Imagenes/stickers/Iconos/Stickers-61.png" style="height: 55px;">DE LESSEPS</div>

                  <div class="title_revertidas" style="font-size: 37px;color: black;" routerLink="/panel-randolph"><img src="../../../assets/Imagenes/stickers/Iconos/Stickers-61.png" style="height: 55px;">RANDOLPH</div>

                  <div class="title_revertidas" style="font-size: 38px;color: black;" routerLink="/panel-cocosolo"><img src="../../../assets/Imagenes/stickers/Iconos/Stickers-61.png" style="height: 55px;">COCO SOLO</div>

                  <div class="title_revertidas" style="font-size: 40px;color: black;" routerLink="/panel-davies"><img src="../../../assets/Imagenes/stickers/Iconos/Stickers-61.png" style="height: 55px;">DAVIS</div>

                  <div class="title_revertidas" style="font-size: 40px;color: black;" routerLink="/panel-gulik"><img src="../../../assets/Imagenes/stickers/Iconos/Stickers-61.png" style="height: 55px;">GULICK</div>

                 

                 
                  
                </div>
                <div class="col-xl-6">
                  <div class="title_revertidas" style="font-size: 50px;color: black;position: absolute; left: 280px; top: -10px;" >PÁCIFICO</div><br><br><br>
                  <div class="title_revertidas" style="font-size:40px;color: black;" routerLink="/panel-clayton"><img src="../../../assets/Imagenes/stickers/Iconos/Stickers-61.png" style="height: 60px;">CLAYTON</div>
                  <div class="title_revertidas" style="font-size: 40px;color: black;" routerLink="/panel-albrook"><img src="../../../assets/Imagenes/stickers/Iconos/Stickers-61.png" style="height: 55px;">ALBROOK</div>
                  <div class="title_revertidas" style="font-size: 40px;color: black;" routerLink="/panel-amador"><img src="../../../assets/Imagenes/stickers/Iconos/Stickers-61.png" style="height: 55px;">AMADOR</div>

                  <div class="title_revertidas" style="font-size: 40px;color: black;" routerLink="/panel-grant"><img src="../../../assets/Imagenes/stickers/Iconos/Stickers-61.png" style="height: 55px;">GRANT</div>

                  <div class="title_revertidas" style="font-size: 40px;color: black;" routerLink="/panel-kobbe"><img src="../../../assets/Imagenes/stickers/Iconos/Stickers-61.png" style="height: 55px;">KOBBE</div>

                  <div class="title_revertidas" style="font-size: 40px;color: black;" routerLink="/panel-howard"><img src="../../../assets/Imagenes/stickers/Iconos/Stickers-61.png" style="height: 55px;">HOWARD</div>

                  <div class="title_revertidas" style="font-size: 40px;color: black;" routerLink="/panel-rodman"><img src="../../../assets/Imagenes/stickers/Iconos/Stickers-61.png" style="height: 55px;">RODMAN</div>

                  
                </div>
              </div>

            



          
          </div>
        </div>
      </div>


      
    </main> 

    
   
</div>

 </div>
