<div class="fondo">

    <div class="texto_pos">
     <h1 class="title_revertidas" style="position: absolute; z-index: 7; left: 420px; top: 60px;">BASES MILITARES</h1>
   </div>
 
     <div class="linea_lateral">
 
     </div>
 
     <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-02.png" style="height: 150px;   position: absolute; top: 70px;
     left: -10px; z-index: 6;" alt="" routerLink="/revertidas" >
 
     <!-- <img src="../../../assets/Imagenes/textos_iconos/AssetsProvicionales/eng.png" style="height: 250px;   position: absolute; top: 750px;
 left: -70px; z-index: 6;" alt="" > -->
 
     <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-04.png" style="height: 150px;   position: absolute; top: 920px;
 left: -10px; z-index: 6;" alt="" routerLink="/" >


<div class="container" style="position: absolute; top: 480px; left: 290px; z-index: 8;" > 
     
    <main class="animate__animated animate__fadeInDown" >
      <!-- <h1 class="animated flip" style="margin: 0 auto;" class="titulo2  {{cssTexto}}" id="titulo">{{Titulo}}</h1> -->
      <div class="container-fluid" >
        <div class="row">
          <div class="col-xl-6" >
            <div class="circle  {{cssImg}}"  [ngStyle]="{'background-image': 'url(' + Img + ')'}" ></div>
           
             <p class="text_revertidas {{cssTexto}}" style="letter-spacing: 0.5px; position: relative; top: -100px;" id="parrafo">
             {{desc}}
             <br><br>  

               <b>Fuente:</b> Canal de Panamá 



                

                
             </p>
            

         


            
            <br> 
            


          </div>
          <div class="col-xl-6" style="position: relative; top: -50px;" >
           <!-- <div class="d-grid gap-2">
             <button class="btn btn-primary text_revertidas" style="background-color: #ECE4DC; border: white 1px solid; font-size: 40px;" type="button" routerLink="/bases"> Bases Militares &nbsp; <i class="fa-solid fa-person-military-rifle fa-2xl" style="font-size: 25px;"></i></button>

             <button class="btn btn-primary text_revertidas" style="background-color: #ECE4DC; border: white 1px solid;font-size: 40px;" type="button" routerLink="/poligonostiro"> Poligonos de tiro &nbsp; <i class="fa-solid fa-bullseye fa-2xl" style="font-size: 25px;"></i></button>


             
           </div> -->


            <div class="accordion accordion-flush" id="accordionFlushExample"  >
             <div class="accordion-item" style="background-color: #ECE4DC;" >
               <h2 class="accordion-header" id="flush-headingOne">
                 <button class="accordion-button collapsed text_revertidas" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style="background-color: transparent;font-size: 40px;">
                  Atlántico &nbsp; <i class="fa-solid fa-person-military-rifle fa-2xl" style="font-size: 40px;"></i>
                 </button>
               </h2>
               <div id="flush-collapseOne" class="accordion-collapse collapse " aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                 <div class="accordion-body" >
                   <ul class="numbered-list" style="position:relative; z-index:0;"  >
                     <div>
                       <input class="form-check-input text_revertidas" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="Sherman" routerLink="/panel-sherman"> <label class="text_revertidas"> Sherman </label>
                     </div>
                   
                     <div>
                       <input class="form-check-input text_revertidas" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="De Lesseps" routerLink="/panel-lesseps"> <label class="text_revertidas"> De Lesseps </label>
                     </div>

                     <div>
                       <input class="form-check-input text_revertidas" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="coco solo" routerLink="/panel-cocosolo"> <label class="text_revertidas"> Coco Solo </label>
                     </div>

                     <div>
                       <input class="form-check-input text_revertidas" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="Randolph" routerLink="/panel-randolph"> <label class="text_revertidas"> Randolph </label>
                     </div>

                     <div>
                        <input class="form-check-input text_revertidas" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="De Lesseps" routerLink="/panel-davies"> <label class="text_revertidas"> Davies </label>
                      </div>
                      <div>
                        <input class="form-check-input text_revertidas" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="De Lesseps" routerLink="/panel-gulik"> <label class="text_revertidas"> Gulik </label>
                      </div>

                     

                  
                
                    
                     

</ul> 
                  
                 </div>
               </div>
             </div>
             <div class="accordion-item" style="background-color: #ECE4DC;" >
               <h2 class="accordion-header" id="flush-headingTwo" >
                 <button class="accordion-button collapsed text_revertidas" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" style="background-color: #ECE4DC; font-size: 40px;">
                   Pácifico &nbsp; <i class="fa-solid fa-bullseye fa-2xl" style="font-size: 40px;"></i>
                 </button>
               </h2>
               <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                 <div class="accordion-body"><ul class="numbered-list">


                    <div>
                        <input class="form-check-input text_revertidas" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="Clayton" routerLink="/panel-clayton" > <label class="text_revertidas"> Clayton </label>
                      </div>

                      <div>
                        <input class="form-check-input text_revertidas" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="De Lesseps"  routerLink="/panel-albrook"> <label class="text_revertidas"> Albrook </label>
                      </div>

                      <div>
                        <input class="form-check-input text_revertidas" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="De Lesseps"  routerLink="/panel-amador"> <label class="text_revertidas"> Amador </label>
                      </div>

                      <div>
                        <input class="form-check-input text_revertidas" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="De Lesseps"  routerLink="/panel-grant"> <label class="text_revertidas">Grant </label>
                      </div>

                      <div>
                        <input class="form-check-input text_revertidas" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="De Lesseps"  routerLink="/panel-kobbe"> <label class="text_revertidas">Kobbe </label>
                      </div>

                      <div>
                        <input class="form-check-input text_revertidas" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="De Lesseps"  routerLink="/panel-rodman"> <label class="text_revertidas">Rodman </label>
                      </div>

                      <div>
                        <input class="form-check-input text_revertidas" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="De Lesseps"  routerLink="/panel-howard"> <label class="text_revertidas">Howard </label>
                      </div>

                 </ul>
               </div>
               </div>
             </div>
           
           </div> 



          
          </div>
        </div>
      </div>


      
    </main> 

    
   
</div>

 </div>
