

<div class="fondo" >

    

    <img src="assets/Imagenes/rotulos/Ingles/mando08.png" style="position:absolute;height: 155px; left: 90px; top: 120px; ">
  
  
  
  
  
    <div class="container-fluid" style="position: absolute; top: 320px; left: 150px; z-index: 8;" > 
     
        <main class="animate__animated animate__fadeInDown" >
     
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-6" >
                <h1 class="avenir" style="font-size: 47px;color: white;">CANAL EXPANSION PROYECT</h1><br><br><br>
               
                 <p class="text_ampliacion" style=" position: relative; top: -60px; font-size: 25px; text-align: left;color: white;" id="parrafo">
                    The expansion project involved the construction of two new lock complexes and a third transit lane to allow for the passage of larger vessels with increased cargo capacity.<br><br>
                    o this end, the project was divided into five key components, encompassing the design and construction of the new locks, dredging operations, and water supply enhancements.  

 

                    This project started on September 3, 2007, and the expanded canal was inaugurated on June 26, 2016.  <br><br>
  
  <b id="text-amp">*select from these options to view the content &nbsp;<i id="mano" class="fa-solid fa-hand-point-right fa-xl fa-bounce"></i></b>
  
                     
               
                
                 <br><br>  
    
                   
    
    
    
                    
    
                    
                 </p>
                
    
             
    
    
                
                <br> 
                
    
    
              </div>
              <div class="col-xl-6" style="position: relative; top: 50px; left: 5px;" >
               
                <div class="d-grid gap-3"  >
                  <div class="avenir" style="font-size: 22px;color: white;" routerLink="/cauce_eng"><img src="assets/Imagenes/stickers/Iconos/Stickers-84.png" style="height: 60px;">IMPROVEMENTS TO THE PACIFIC NAVIGATIONAL CHANNEL</div>
  
                  <div class="avenir" style="font-size: 22px;color:  white;" routerLink="/profundizacion_eng"><img src="assets/Imagenes/stickers/Iconos/Stickers-84.png" style="height: 60px;">DEEPENING OF CANAL ENTRANCES</div>
  
                  <div class="avenir" style="font-size: 22px;color:  white;" routerLink="/navegacion_eng"><img src="assets/Imagenes/stickers/Iconos/Stickers-84.png" style="height: 60px;">IMPROVEMENT IN NAVIGATIONAL CHANNELS</div>
  
                  <div class="avenir" style="font-size: 22px;color:  white;" routerLink="/construccion_eng"><img src="assets/Imagenes/stickers/Iconos/Stickers-84.png" style="height: 60px;">LOCK DESIGN AND CONSTRUCTION</div>
  
                  <div class="avenir" style="font-size: 22px;color: white;" routerLink="/suministro_eng"><img src="assets/Imagenes/stickers/Iconos/Stickers-84.png" style="height: 60px;">IMPROVEMENTS TO THE WATER SUPPLY</div>
  
      
  
                 
   
                   
                 </div>
              
    
    
    
    
    
                
            
               
    
    
    
              
              </div>
  
              
              
  
  
            </div >
          </div>
    
    
          
        </main> 
    
        
       
    </div>
  
   
    
  
    
  
  
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando36.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 9;" alt="" routerLink="/ampliacion_eng" >
  
  
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando60.png" style="height: 120px;   position: absolute; top: 870px;
  right: 90px; z-index: 12;" alt="" routerLink="/" (click)="enviarHome();" >
  
  <img src="assets/Imagenes/textos_iconos/AssetsFinales/esp_blanco.png" style="height: 90px;   position: absolute; top: 900px;
  right: 250px; z-index: 10;" alt="" routerLink="/contenido-ampliacion" >
  <!-- Boton de ingles español -->
  
  
  
  
  
  
  
  
   
  </div>
  
  
  
  
  
  
