

<div class="fondo" >

    

    <img src="assets/Imagenes/rotulos/Ingles/mando08.png" style="position:absolute;height: 155px; left: 90px; top: 100px; ">
  
  
  
  
  
    <div class="container-fluid" style="position: absolute; top: 280px; left: 150px; z-index: 8;" > 
     
        <main class="animate__animated animate__fadeInDown" >
     
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-7" >
                <h1 class="avenir" style="font-size: 37px;color: white;">IMPROVEMENTS TO THE PACIFIC NAVIGATIONAL CHANNEL</h1><br><br><br>
               
                 <p class="text_ampliacion" style=" position: relative; top: -60px; font-size: 21px; text-align: justify;color: white;" id="parrafo">
                    The aim of this component was to create a new channel at the Canal’s Pacific entrance to connect the new locks to the existing navigational channel at Culebra Cut.  <br><br> 

                    This component, divided into four phases, encompassed tasks such as clearing the West Balboa and Emperador firing ranges and constructing the Borinquen dam to separate the access channels of the Neopanamax and Panamax locks in the Pacific which have an elevation difference of 9 m.     
                  <br><br>
                  <b>Relevant facts: :</b>
                  <br>
                  <i class="fa-solid fa-circle fa-2xs"></i>The iconic Paraíso Hill, chosen for the ceremonial blasting that marked the start of the expansion project, initially stood at 136 m in height but was reduced to 46 m, equivalent to a building with nearly 30 floors  <br><br>
                  <i class="fa-solid fa-circle fa-2xs"></i> Throughout this phase, a total of 3.36 km<sup>2</sup> of land contaminated with ammunition and explosives was thoroughly cleaned.  <br><br>
                  <i class="fa-solid fa-circle fa-2xs"></i> In the fourth phase of excavation an astounding 26 million m<sup>3</sup> of material were extracted, a quantity sufficient to fill the Amador causeway 20 times over. 
                     
               
                
                 <br><br>  
    
                   
    
    
    
                    
    
                    
                 </p>
                
    
             
    
    
                
                <br> 
                
    
    
              </div>
              <div class="col-xl-5" style="position: relative; top: -50px; left: 90px;" >
               
    
               <!-- Aqui va una imagen de referencia -->
  
               <img src="assets/Imagenes/stickers/Landmarks/Stickers-73.png" class="container-fluid" style="width: 450px;position: absolute; left: -60px;top: -50px;" routerLink="/contenido_ampliacion"><br>
              
    
    
    
    
    
                
            
               
    
    
    
              
              </div>
  
              
              
  
  
            </div >
          </div>
    
    
          
        </main> 
    
        
       
    </div>
  
   
    
  
    
  
  
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando36.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 9;" alt="" routerLink="/contenido_ampliacion_eng" >
  
    <!-- <img src="../../../assets/Imagenes/textos_iconos/AssetsProvicionales/eng.png" style="height: 250px;   position: absolute; top: 750px;
  left: -70px; z-index: 6;" alt="" > -->
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando60.png" style="height: 120px;   position: absolute; top: 870px;
  right: 90px; z-index: 9;" alt="" routerLink="/home_eng" (click)="enviarHome();">
  
  <img src="assets/Imagenes/textos_iconos/AssetsFinales/esp_blanco.png" style="height: 90px;   position: absolute; top: 900px;
  right: 250px; z-index: 10;" alt="" routerLink="/cauce">
  <!-- Boton de ingles español -->
  
  
  
  
  
  
  
  
   
  </div>
  
  
  
  
  
  