

<div class="fondo" >

    

    <img src="assets/Imagenes/rotulos/Ingles/mando06.png" style="position:absolute;height: 230px; left: 190px; top: 95px; ">



  

    <div class="container-fluid" style="position: absolute; top: 400px; left: 150px; z-index: 8;" > 
     
        <main class="animate__animated animate__fadeInDown" >
          <!-- <h1 class="animated flip" style="margin: 0 auto;" class="titulo2  {{cssTexto}}" id="titulo">{{Titulo}}</h1> -->
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-7" >
            
               
                 <p class="runted" style=" position: relative; top: -60px; font-size: 25px; text-align: justify;line-height: 35px;" id="parrafo">
                    A <b>watershed</b> is a land area that channels rainfall to streams and rivers that discharge in lakes, reservoirs and the sea.<br><br>


                    The Canal watershed is synonymous with biodiversity due to its rich presence of flora and fauna. To preserve it,  <b>3,453 km<sup>2</sup></b> of land have been designated for the creation of six protected areas which account for 39% of the watershed’s surface area. <br><br>
                    
                     
                    
                    The Canal Watershed plays a vital role in the country because it supplies drinking water to more than 50% of the Panamanian population and allows the operation of the inter-oceanic waterway. <br><br>
                    <b id="text-green">*Select one of the following topics for further information  <i id="mano" class="fa-solid fa-hand-point-right fa-2xl fa-bounce"></i></b>
                    
                     
               
                
                 <br><br>  
    
                   
    
    
    
                    
    
                    
                 </p>
                
    
             
    
    
                
                <br> 
                
    
    
              </div>
              <div class="col-xl-5" style="position: relative; top: -80px; left: 30px;" >
               
    
               <!-- Aqui va una imagen de referencia -->

               <img src="assets/Imagenes/rotulos/Ingles/mando23_eng.png" class="container-fluid" style="width: 350px;" routerLink="/introareas_eng"><br>
               <img src="assets/Imagenes/rotulos/Ingles/mando21_eng.png" class="container-fluid" style="width: 350px;" routerLink="/subcuenca_eng">
<br>
               <img src="assets/Imagenes/rotulos/Ingles/mando19_eng.png" class="container-fluid" style="width: 350px;" routerLink="/cobertura_eng">
    
    
    
    
    
                
            
               
    
    
    
              
              </div>

              
              


            </div >
          </div>
    
    
          
        </main> 
    
        
       
    </div>

   
    

    



    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando35.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 12;" alt="" routerLink="/home_eng" (click)="enviarHome()">



    <img src="assets/Imagenes/textos_iconos/AssetsFinales/home37.png" style="height: 120px;   position: absolute; top: 870px;
right: 90px; z-index: 9;" alt="" routerLink="/home_eng" (click)="enviarHome()">

 <img src="assets/Imagenes/textos_iconos/AssetsFinales/esp.png" style="height: 90px;   position: absolute; top: 900px;
right: 250px; z-index: 10;" alt="" routerLink="/introcuenca">
<!-- Boton de ingles español -->




 



   
  </div>


  

 
