

<div class="fondo" >

    

  <img src="assets/Imagenes/rotulos/ampliacion.png" style="position:absolute;height: 180px; left: 140px; top: 90px; ">





  <div class="container-fluid" style="position: absolute; top: 320px; left: 150px; z-index: 8;" > 
   
      <main class="animate__animated animate__fadeInDown" >
   
        <div class="container-fluid" >
          <div class="row">
            <div class="col-xl-6" >
              <h1 class="avenir" style="font-size: 47px;color: white;">PROYECTO DE AMPLIACIÓN DEL CANAL</h1><br><br><br>
             
               <p class="text_ampliacion" style=" position: relative; top: -60px; font-size: 25px; text-align: left;color: white;" id="parrafo">
                La ampliación consistió en la construcción de dos nuevos complejos de esclusas y un tercer carril de tránsito que permitiría el paso de buques de mayor dimensión y cantidad de carga.  <br><br>
                Para cumplir con el programa de ampliación, el proyecto se organizó en cinco componentes que involucraban el diseño y construcción de las nuevas esclusas, trabajos de dragado y mejoras al suministro de agua. Estos trabajos iniciaron el 3 de septiembre de 2007 y el canal ampliado se inauguró el 26 de junio de 2016.  <br><br>

<b id="text-amp">*Selecciona entre estas opciones para mirar el contenido &nbsp;<i id="mano" class="fa-solid fa-hand-point-right fa-xl fa-bounce"></i></b>

                   
             
              
               <br><br>  
  
                 
  
  
  
                  
  
                  
               </p>
              
  
           
  
  
              
              <br> 
              
  
  
            </div>
            <div class="col-xl-6" style="position: relative; top: 50px; left: 30px;" >
             
              <div class="d-grid gap-3"  >
                <div class="avenir" style="font-size: 24px;color: white;" routerLink="/cauce"><img src="assets/Imagenes/stickers/Iconos/Stickers-84.png" style="height: 60px;">MEJORAS AL CAUCE DE ACCESO DEL PACÍFICO</div>

                <div class="avenir" style="font-size: 24px;color:  white;" routerLink="/profundizacion"><img src="assets/Imagenes/stickers/Iconos/Stickers-84.png" style="height: 60px;">PROFUNDIZACIÓN DE LAS ENTRADAS DEL CANAL</div>

                <div class="avenir" style="font-size: 24px;color:  white;" routerLink="/navegacion"><img src="assets/Imagenes/stickers/Iconos/Stickers-84.png" style="height: 60px;">MEJORAS A LOS CAUCES DE NAVEGACIÓN</div>

                <div class="avenir" style="font-size: 24px;color:  white;" routerLink="/construccion"><img src="assets/Imagenes/stickers/Iconos/Stickers-84.png" style="height: 60px;">DISEÑO Y CONSTRUCCIÓN DE ESCLUSAS</div>

                <div class="avenir" style="font-size: 24px;color: white;" routerLink="/suministro"><img src="assets/Imagenes/stickers/Iconos/Stickers-84.png" style="height: 60px;">MEJORAS AL SUMINISTRO DE AGUA</div>

    

               
 
                 
               </div>
            
  
  
  
  
  
              
          
             
  
  
  
            
            </div>

            
            


          </div >
        </div>
  
  
        
      </main> 
  
      
     
  </div>

 
  

  



  <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando36.png" style="height: 100px;   position: absolute; top: 880px;
  left: 100px; z-index: 9;" alt="" routerLink="/ampliacion" >



  <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando40.png" style="height: 120px;   position: absolute; top: 870px;
right: 90px; z-index: 12;" alt="" routerLink="/" (click)="enviarHome();" >

<!-- <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando42.png" style="height: 90px;   position: absolute; top: 900px;
right: 250px; z-index: 6;" alt=""> -->
<!-- Boton de ingles español -->








 
</div>





