<nav class="navbar navbar-dark bg-dark" style="height: 150px;" >
 <h1 style="color:white; margin:30px;">Mapa de Panamá </h1>
</nav>

<div class="container"> 
  
    <main class="animate__animated animate__fadeInDown" >
      <h1 class="animated flip">La cuenca del Canal</h1>
      

      <div class="container">

        

        <div class="row">
          <div class="col-xl-6">


            <div class="circle"></div>
            <h2>La Fauna Panameña</h2>
            <p>Se estima que en el país existen alrededor de 270 especies de mamíferos silvestres, y de estas, unas 160 se encuentran en la cuenca del Canal. De las 33 especies de mamíferos consideradas en peligro de extinción o vulnerables, 30 habitan en esta zona, entre esas: el jaguar, el tapir y el puerco de monte.

              En cuanto a las aves, de más de mil especies en el país, poco más de la mitad está en el área de Cuenca, de las cuales más de 150 son consideradas vulnerables o en peligro por las normas nacionales de MiAmbiente.
              
              Hasta 1999, la Cuenca del Canal cubría un área de 326 mil hectáreas, que corresponde a la cuenca que abastece de agua a los lagos Alhajuela y Gatún.<br><br>

              <b>Fuente:</b> Canal de Panamá

                

                
            </p>
            

         


            
            <br>
            
            


          </div>
          <div class="col-xl-6">
           
            <iframe width="630" height="480" src="https://www.youtube.com/embed/_nuH21l1ptw" title="Nos vamos #ManosAlaObra con la cuadrilla de la Quibian I en un turno de trabajo." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>



          
          </div>
        </div>
      </div>


      
    </main>

    
   
</div>




<br>




<!-- <div class="containerwave">
 
  <div class="wave">
   
  </div>
</div> -->

<a (click)="enviarHome()" routerLink="/"  style="text-decoration: none">
  <p style="text-align: center;">
    <i class="fa-solid fa-house fa-2xl" style="font-size: 50px;" ></i>
  
  

</p>
<p style="text-align: right; " *ngIf="wsSocket.socketStatus" >Estado: <b class="text-success" >Online</b></p>
<p style="text-align: right;" *ngIf="!wsSocket.socketStatus"> Estado: <b class="text-danger"  >Offline</b></p>
</a>

<div class="waves" >
  <div class="wave circulo a"></div>
  <div class="wave circulo b"></div>
  <div class="wave circulo c"></div>
</div>




<!-- <svg xmlns="http://www.w3.org/2000/svg"  class="subir"  viewBox="0 0 1440 320">
  <path fill="#c0c0c0" fill-opacity="1" d="M0,64L60,58.7C120,53,240,43,360,80C480,117,600,203,720,224C840,245,960,203,1080,165.3C1200,128,1320,96,1380,80L1440,64L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
</svg>




<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#273036" fill-opacity="1" d="M0,64L60,58.7C120,53,240,43,360,80C480,117,600,203,720,224C840,245,960,203,1080,165.3C1200,128,1320,96,1380,80L1440,64L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg> -->


