<nav class="navbar " style="height: 100px; background-color:rgb(21, 63, 153);" >
    <h1 style="color:white; margin:30px;margin: 0 auto;" class="titulo">AREA DE LA ZONA DEL CANAL </h1>
   </nav>
   
   <div class="container" > 
     
       <main class="animate__animated animate__fadeInDown" >
         <h1 class="animated flip" style="margin: 0 auto;" class="titulo2  {{cssAnimate}}" id="titulo">{{Titulo}}</h1>
         <div class="container-fluid" >
           <div class="row">
             <div class="col-xl-6" >
               <div class="circle  {{cssAnimate}}"  [ngStyle]="{'background-image': 'url(' + Img + ')'}" ></div>
               <!-- <h2>Área del Canal/Antigua Zona del Canal. </h2> -->
               <p class="textos" style="letter-spacing: 0.5px;" id="parrafo">
                {{desc}}
                <br><br>
   
                 <b>Fuente:</b> Canal de Panamá



                   
   
                   
               </p>
               
   
            
   
   
               
               <br>
               
<!--                
               <div class="img-hover-zoom">
                <img src="../../../assets/images/canal1.jpg" class="img-fluid" alt="This zooms-in really well and smooth">
              </div> -->
   
             </div>
             <div class="col-xl-6" style="position: relative; top: -60px;">
             <!-- SVG -->
             <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                  (click)="baseMilitar()"
                  >
                    Bases Militares &nbsp;<i class="fa-solid fa-warehouse fa-2xl" style="font-size: 20px;"></i>
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">

                   
                    <ul class="numbered-list" style="position:relative; z-index:0;" >

                      <li class="textos " (click)="Ftshemran()">Ft. Sherman-San Lorenzo</li>
                      <li class="textos " (click)="FtDavis()">Ft. Davis</li>
                      <li class="textos " (click)="FtGulick()">Ft. Gulick</li>
                      <li class="textos " (click)="FtClayton()">Ft. Clayton</li>
                      <li class="textos " (click)="FtAmador()">Ft. Amador</li>
                      <li class="textos " (click)="FtGrant()">Ft. Grant</li>
                      <li class="textos " (click)="FtKobbe()" style="z-index: 250;"  >Ft. Kobbe</li>
                      <li class="textos " (click)="QuarryHeights()" >Quarry Heights – US Southern Command</li>
                      <li class="textos " (click)="PuestoCorozal()" >Puesto de Corozal</li>
                      <li class="textos " (click)="NavalBase()" >Naval Base Rodman</li>
                      <li class="textos " (click)="CocoSolo()" >Coco Solo base submarina</li>
                      <li class="textos " (click)="EstacionSummit()">Estación de comunicaciones de la Marina de Summit</li>
                      <li class="textos " (click)="EstacionFarfan()" >Estación de comunicaciones de la Marina de Farfám</li>
                      <li class="textos " (click)="BaseAlbrook()" >Base aérea de Albrook</li>
                      <li class="textos " (click)="BaseHoward()" >Base Aérea de Howard</li>

                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Poligonos de Tiro &nbsp; <i class="fa-sharp fa-solid fa-gun fa-2xl" style="font-size: 30px;"></i>
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">

                    <ul class="numbered-list">
                      <li class="textos">Ft. Sherman</li>
                      <li class="textos">Piña</li>
                      <li class="textos">Balboa Oeste</li>
                      <li class="textos">Emperador</li>
                      <li class="textos">Río Hato</li>
                      <li class="textos">San José, archipiélago de las Perlas</li>
                      
                    </ul>



                  </div>
                </div>
              </div>
            
            </div>
   
   
   
             
             </div>
           </div>
         </div>
   
   
         
       </main>
   
       
      
   </div>
   
   
   
   
   <br>
   
   
   
   
   
   

   <a   (click)="enviarHome()" routerLink="/" style="text-decoration: none;" >

     <p style="text-align: center;"><br>
       <i class="fa-solid fa-house fa-2xl" style="font-size: 50px;" ></i>
   </p>
   <p style="text-align: right; position: relative; top: -40px; " *ngIf="wsSocket.socketStatus" >Estado: <b class="text-success" >Online</b></p>
<p style="text-align: right; position: relative; top: -40px;"  *ngIf="!wsSocket.socketStatus"> Estado: <b class="text-danger"  >Offline</b></p>

   
   </a>

 


  
   
   <div class="waves" >
     <div class="wave circulo a"></div>
     <div class="wave circulo b"></div>
     <div class="wave circulo c"></div>
   </div>

   <img src="../../../assets/images/Botones/BTN-Eng.svg" height="100" width="100" style="position: relative ; top:-205px;right: -30px; z-index: 200; " routerLink="/canalmapa">




    <!-- Modal1 -->
  <div class="modal fade animate__animated animate__zoomInUp" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-sm-down ">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Provincia de Chiriqui</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Es una provincia de Panamá. Su capital es David. También se da el nombre de Laguna de Chiriquí a un gran golfo que existe en la costa caribeña de Panamá, en la provincia de Bocas del Toro. Chiriquí significa valle de la luna para los indígenas Ngöbe-Buglé.
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
  <!-- Modal 1 -->
   

   <!-- Modal2 -->
   <div class="modal fade animate__animated animate__zoomInUp" data-animate-out="modal fade animate__animated animate__zoomInUp" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-sm-down ">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Provincia de Coclé</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Es una provincia de Cocle. Su capital es David. También se da el nombre de Laguna de Chiriquí a un gran golfo que existe en la costa caribeña de Panamá, en la provincia de Bocas del Toro. Chiriquí significa valle de la luna para los indígenas Ngöbe-Buglé.
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
  <!-- Modal 2 -->
   
   
   
 
   
   