

<div class="fondo" >

    

    <img src="assets/Imagenes/rotulos/ampliacion.png" style="position:absolute;height: 180px; left: 140px; top: 90px; ">
  
  
  
  
  
    <div class="container-fluid" style="position: absolute; top: 280px; left: 150px; z-index: 8;" > 
     
        <main class="animate__animated animate__fadeInDown" >
     
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-7" >
                <h1 class="avenir" style="font-size: 47px;color: white;">MEJORAS AL CAUCE DE ACCESO AL PACÍFICO</h1><br><br><br>
               
                 <p class="text_ampliacion" style=" position: relative; top: -60px; font-size: 21px; text-align: justify;color: white;" id="parrafo">
                  El objetivo de este componente era construir un nuevo cauce en la entrada Pacífica del Canal para conectar las esclusas nuevas con el cauce de navegación en el Corte Culebra.  <br><br> 

                  Este componente, que se dividió en cuatro fases, incluyó la limpieza de polígonos de tiro de Balboa Oeste y Emperador, además de la construcción de la presa Borinquen que divide los cauces de acceso de las esclusas <i>neopanamax y panamax</i> en el Pacífico, los cuales tienen una diferencia de elevación de 9 m.   
                  <br><br>
                  <b>Datos Curioso:</b>
                  <br>
                  <i class="fa-solid fa-circle fa-2xs"></i> El icónico cerro Paraíso utilizado para inaugurar el proyecto de ampliación, medía 136 m y se redujo a 46 m, lo equivalente a un edificio de casi 30 pisos.  <br><br>
                  <i class="fa-solid fa-circle fa-2xs"></i> Durante esta fase se limpiaron 3.36 km<sup>2</sup> de áreas contaminadas con municiones y explosivos de consideración. <br><br>
                  <i class="fa-solid fa-circle fa-2xs"></i> En la cuarta fase de excavación se removieron 26 millones de m<sup>3</sup>, material, suficiente para rellenar la calzada de Amador 20 veces.
                     
               
                
                 <br><br>  
    
                   
    
    
    
                    
    
                    
                 </p>
                
    
             
    
    
                
                <br> 
                
    
    
              </div>
              <div class="col-xl-5" style="position: relative; top: -50px; left: 90px;" >
               
    
               <!-- Aqui va una imagen de referencia -->
  
               <img src="assets/Imagenes/stickers/Landmarks/Stickers-73.png" class="container-fluid" style="width: 450px;position: absolute; left: -60px;top: -50px;" routerLink="/contenido-ampliacion"><br>
              
    
    
    
    
    
                
            
               
    
    
    
              
              </div>
  
              
              
  
  
            </div >
          </div>
    
    
          
        </main> 
    
        
       
    </div>
  
   
    
  
    
  
  
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando36.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 9;" alt="" routerLink="/contenido-ampliacion" >
  
    <!-- <img src="../../../assets/Imagenes/textos_iconos/AssetsProvicionales/eng.png" style="height: 250px;   position: absolute; top: 750px;
  left: -70px; z-index: 6;" alt="" > -->
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando40.png" style="height: 120px;   position: absolute; top: 870px;
  right: 90px; z-index: 9;" alt="" routerLink="/" (click)="enviarHome();">
  
  <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando42.png" style="height: 90px;   position: absolute; top: 900px;
  right: 250px; z-index: 9;" alt="">
  <!-- Boton de ingles español -->
  
  
  
  
  
  
  
  
   
  </div>
  
  
  
  
  
  