.fondo{
    background: url("../../../assets/Imagenes/background/fondo/fondo4.png");
    background-size: cover;
    width: 100%;
    height: 1080px;
  }
  
  
  
  .cuenca{
    height: 500px;
    width: 600px;
    position: absolute;
    top: 330px;
    left: 200px;
  
  }
  
  .img_cuenca{
    background: url("../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-21.png");
    background-size: cover;
    width: 100%;
    height: 500px;
    
  }
  
  
  
  .areas_revertidas{
    height: 500px;
    width: 600px;
    position: absolute;
    top: 380px;
    left: 750px;
  
   
  
  }
  
  .img_revertidas{
    background: url("../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-22.png");
    background-size: cover;
    width: 100%;
    height: 450px;
    
    
  }
  
  .canal{
    height: 600px;
    width: 600px;
    position: absolute;
    top: 270px;
    right: 120px;
    
    
  
  }
  
  .img_canalxxi{
    background: url("../../../assets/Imagenes/textos_iconos/AssetsProvicionales/AP01.png");
    background-size: cover;
    width: 100%;
    height: 550px;
  }
  
  
   .ñeque{
    position: absolute;
    top: 770px;
    left: 30px;
    width: 30%px;
    height: 200px;
    transform: rotate(-10deg);
    
  } 
  
  
  
  
  
  .arbol{
    position: absolute;
    top: 750px;
    left: 330px;
    width: 30%px;
    height: 200px;
    transform: rotate(10deg);
    
  } 
  
  
  .tanque{
    position: absolute;
    top: 790px;
    left: 620px;
    width: 30%px;
    height: 200px;
    
    transform: scaleX(-1);
    
  } 
  
  .perezoso{
    position: absolute;
    top: 770px;
    right: 80px;
    width: 30%px;
    height: 200px;
    
    transform: scaleX(1);
    
  } 
  
  .tucan{
    position: absolute;
    top: 700px;
    right: -200px;
    width: 30%px;
    height: 200px;
    
    transform: scaleX(1);
    
  } 
  
  #text-amp{
    color: #e3d97c;
    font-size: 15px;
  }
  #mano{
    color: #fff;
  }

  .rutas{
    background-color: blue;
    color: white;
  }

  .rutas2{
    background-color: #E0C865;
    font-weight:600;
  }

  .rutas3{
    background-color: #FC5C38;
    font-weight: 600;
  }
  
  
  
  
  
  
  
  