

<div class="fondo" >

    

    <img src="assets/Imagenes/rotulos/ampliacion.png" style="position:absolute;height: 180px; left: 140px; top: 90px; ">
  
  
  
  
  
    <div class="container-fluid" style="position: absolute; top: 300px; left: 150px; z-index: 8;" > 
     
        <main class="animate__animated animate__fadeInDown" >
     
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-6" >
                <h1 class="avenir" style="font-size: 50px;color: white;position: absolute;left: 300px;top: -35px;">RUTAS</h1><br><br><br><br>
               
                <div style="position: absolute; width: 40%;top: 15px;"><br>
                  
                  <div class="container" >
                    <img src="../../../assets/Imagenes/Esp01.jpg" style="width:95%;">

                  </div>
               
               
                  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <b id="text-amp">**CP/SUAB: Medida de volumen del Sistema Universal de Arqueo del Canal de Panamá <br>que equivale a 2,83 m3 (100 pies cúbicos).</b>
  
                     
               
                
                 <br><br>  
    
                   
    
    
    
                    
    
                    
                
                
    
             
    
    
                
                <br> 
                
    
    
              </div>
              <div class="col-xl-6" style="position: relative; top: 45px; left: -20px;" >
                <h1 class="avenir" style="font-size: 50px;color: white;position: absolute; top: -85px;left: 200px;">USUARIOS</h1><br><br><br><br>

                <div style="position: absolute; width: 75%;top: -35px; left: -30px;"><br>
                   
               <div class="container">
                <img src="../../../assets/Imagenes/Esp02.jpg" style="width: 100%;">

               </div>
               
               
                </div>
                  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <b id="text-amp">*Toneladas largas (long ton): Una tonelada larga equivale a 2240 libras (1016.047 kg).</b>

  
               
              
    
    
    
    
    
                
            
               
    
    
    
              
              </div>
  
              
              
  
  
            </div >
          </div>
    
    
          
        </main> 
    
        
       
    </div>
  
   
    
  
    
  
  
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando36.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 9;" alt="" routerLink="/conexiones" >
  
  
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando40.png" style="height: 120px;   position: absolute; top: 870px;
  right: 90px; z-index: 12;" alt="" routerLink="/" (click)="enviarHome();" >
  
  <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando42.png" style="height: 90px;   position: absolute; top: 900px;
  right: 250px; z-index: 10;" alt="" routerLink="/rutas_eng">
  <!-- Boton de ingles español -->
  
  
  
  
  
  
  
  
   
  </div>
  
  
  
  
  
