

<div class="fondo" >

    

    <img src="assets/Imagenes/rotulos/ampliacion.png" style="position:absolute;height: 180px; left: 140px; top: 90px; ">
  
  
  
  
  
    <div class="container-fluid" style="position: absolute; top: 300px; left: 150px; z-index: 8;" > 
     
        <main class="animate__animated animate__fadeInDown" >
     
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-6" >
                <h1 class="avenir" style="font-size: 50px;color: white;">RUTAS Y USUARIOS</h1><br><br><br><br>
               
                <div style="position: absolute; width: 40%;top: 50px;"><br>
                    <h2 class="avenir" style="font-size: 20px;color: white;text-align: center;">Principales rutas comerciales. Promedio 2020-2022 (Toneladas CP/SUAB*)</h2>
                <table class="table table-bordered" style="border: 10px; height: 380px;" >
                   
                    <thead>
                      <tr>
                        <th scope="col" class="rutas">Posición</th>
                        <th scope="col" class="rutas">Ruta</th>
                        <th scope="col" class="rutas">Toneladas en miles</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" class="rutas2">1</th>
                        <td class="rutas2">Costa Este USA - Asia</td>
                        <td class="rutas2">249.079</td>
                        
                      </tr>
                      <tr>
                        <th scope="row" class="rutas2">2</th>
                        <td class="rutas2">Costa Este USA - Costa Oeste Suramérica</td>
                        <td class="rutas2">41.288</td>
                     
                      </tr>
                      <tr>
                        <th scope="row" class="rutas2">3</th>
                        <td  class="rutas2">Europa - Costa Oeste Suramérica</td>
                        <td  class="rutas2">26.162</td>
                      </tr>
                      <tr>
                        <th scope="row" class="rutas2">4</th>
                        <td class="rutas2" >Costa Este USA -Costa Oeste Centroamérica</td>
                        <td class="rutas2" >21.384</td>
                      </tr>
                      <tr>
                        <th scope="row" class="rutas2">5</th>
                        <td  class="rutas2">Costa a Costa Suramérica</td>
                        <td class="rutas2">20.985</td>
                      </tr>
                    </tbody>
                  </table></div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <b id="text-amp">**CP/SUAB: Medida de volumen del Sistema Universal de Arqueo del Canal de Panamá <br>que equivale a 2,83 m3 (100 pies cúbicos).</b>
  
                     
               
                
                 <br><br>  
    
                   
    
    
    
                    
    
                    
                
                
    
             
    
    
                
                <br> 
                
    
    
              </div>
              <div class="col-xl-6" style="position: relative; top: 45px; left: -20px;" >
               
                <div style="position: absolute; width: 70%;top: -40px;"><br>
                    <h2 class="avenir" style="font-size: 20px;color: white;text-align: center;">Principales países usuarios del canal.<br> Promedio 2020-2022 (Toneladas largas*)</h2>
                <table class="table table-bordered" style="border: 10px;height: 400px;" >
                   
                    <thead>
                      <tr >
                        <th scope="col" class="rutas">Posición</th>
                        <th scope="col" class="rutas" style="text-align: center;">País</th>
                        <th scope="col" class="rutas" style="text-align: center;">Promedio 2020-2022 (Toneladas largas)</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" class="rutas2">1</th>
                        <td  class="rutas2"><img src="assets/Imagenes/stickers/Banderas/USA.png" height="40px;">Estados Unidos</td>
                        <td style="text-align: center;" class="rutas3">201.971.048</td>
                        
                      </tr>
                      <tr>
                        <th scope="row" class="rutas2">2</th>
                        <td  class="rutas2"><img src="assets/Imagenes/stickers/Banderas/CHINA.png" height="40px">China</td>
                        <td style="text-align: center;" class="rutas3">55.796.947</td>
                     
                      </tr>
                      <tr>
                        <th scope="row" class="rutas2">3</th>
                        <td  class="rutas2" ><img src="assets/Imagenes/stickers/Banderas/JAPON.png" height="40px">Japón</td>
                        <td style="text-align: center;" class="rutas3">38.886.429</td>
                      </tr>
                      <tr>
                        <th scope="row" class="rutas2">4</th>
                        <td  class="rutas2" ><img src="assets/Imagenes/stickers/Banderas/CHILE.png" height="40px">Chile</td>
                        <td style="text-align: center;" class="rutas3">28.976.860</td>
                      </tr>
                      <tr>
                        <th scope="row" class="rutas2">5</th>
                        <td  class="rutas2" ><img src="assets/Imagenes/stickers/Banderas/R.COREA.png" height="40px">Corea del Sur</td>
                        <td style="text-align: center;" class="rutas3" >28.840.952</td>
                      </tr>
                    </tbody>
                  </table></div>
                  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <b id="text-amp">*Toneladas largas (long ton): Una tonelada larga equivale a 2240 libras (1016.047 kg).</b>

  
               
              
    
    
    
    
    
                
            
               
    
    
    
              
              </div>
  
              
              
  
  
            </div >
          </div>
    
    
          
        </main> 
    
        
       
    </div>
  
   
    
  
    
  
  
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando36.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 9;" alt="" routerLink="/conexiones" >
  
  
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando40.png" style="height: 120px;   position: absolute; top: 870px;
  right: 90px; z-index: 12;" alt="" routerLink="/" (click)="enviarHome();" >
  
  <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando42.png" style="height: 90px;   position: absolute; top: 900px;
  right: 250px; z-index: 10;" alt="" routerLink="/conexiones_eng">
  <!-- Boton de ingles español -->
  
  
  
  
  
  
  
  
   
  </div>
  
  
  
  
  
