

<div class="fondo" >

    

    <img src="assets/Imagenes/rotulos/Ingles/mando08.png" style="position:absolute;height: 155px; left: 90px; top: 100px; ">
  
  
  
  
  
    <div class="container-fluid" style="position: absolute; top: 280px; left: 150px; z-index: 8;" > 
     
        <main class="animate__animated animate__fadeInDown" >
     
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-6" >
                <h1 class="avenir" style="font-size: 35px;color: white;">LOCK DESIGN AND CONSTRUCTION</h1><br><br><br>
               
                 <p class="text_ampliacion" style=" position: relative; top: -60px; font-size: 22px; text-align: justify;color: white;" id="parrafo">
                     

                    This contract was awarded to the consortium known as Grupo Unidos por el Canal S.A. (GUPCSA), which was comprised of Sacyr Vallehermoso from Spain, Impregilo from Italy, Jan De Nul from Belgium, and Constructora Urbana from Panama. The original cost of the project amounted to 3.2 billion dollars.   <br><br>
                  
                    This contract was awarded to the consortium known as Grupo Unidos por el Canal S.A. (GUPCSA), which was comprised of Sacyr Vallehermoso from Spain, Impregilo from Italy, Jan De Nul from Belgium, and Constructora Urbana from Panama. The original cost of the project amounted to 3.2 billion dollars. <br><br> Each lock complex features rolling gates for enhanced efficiency and nine water-saving basins designed to reuse up to 60% of the water required for each transit. The Neopanamax locks consume 7% less water per transit compared to the Panamax locks. 
                    
                     
                  
               
                
                 <br><br>  
    
                   
    
    
    
                    
    
                    
                 </p>
                
    
             
    
    
                
                <br> 
                
    
    
              </div>
              <div class="col-xl-6" style="position: relative; top: -50px; left: 90px;" >
               
    
               <!-- Aqui va una imagen de referencia -->
  
               <img src="assets/Imagenes/stickers/Landmarks/Stickers-56.png" class="container-fluid" style="width: 650px;position: absolute; left: -60px;top: 50px;" routerLink="/contenido-ampliacion"><br>
              
    
    
    
    
    
                
            
               
    
    
    
              
              </div>
  
              
              
  
  
            </div >
          </div>
    
    
          
        </main> 
    
        
       
    </div>
  
   
    
  
    
  
  
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando36.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 9;" alt="" routerLink="/contenido_ampliacion_eng" >
  
    
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando60.png" style="height: 120px;   position: absolute; top: 870px;
  right: 90px; z-index: 9;" alt="" routerLink="/home_eng" (click)="enviarHome();" >
  
  <img src="assets/Imagenes/textos_iconos/AssetsFinales/esp_blanco.png" style="height: 90px;   position: absolute; top: 900px;
  right: 250px; z-index: 9;" alt="" routerLink="/construccion">
  <!-- Boton de ingles español -->
  
  
  
  
  
  
  
  
   
  </div>
  
  
  
  
  
  