


  <div class="fondo">

    <div class="texto_pos"><br><br><br>
      <img src="../../../assets/Imagenes/rotulos/revertidas.png" style="position:absolute;height: 240px; left: 140px; ">
   </div>
 
     
 
   <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-02.png" style="height: 150px;   position: absolute; top: 880px;
   left: 100px; z-index: 10;" alt="" routerLink="/revertidas"  (click)="areaRevertida()">

   <!-- <img src="../../../assets/Imagenes/textos_iconos/AssetsProvicionales/eng.png" style="height: 250px;   position: absolute; top: 750px;
left: -70px; z-index: 6;" alt="" > -->

   <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-04.png" style="height: 150px;   position: absolute; top: 870px;
right: 90px; z-index: 10;" alt="" routerLink="/" (click)="enviarHome()" >

<img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/eng.png" style="height: 100px;   position: absolute; top: 900px;
right: 250px; z-index: 6;" alt="">





 
  <div class="container-fluid" style="position: absolute; top: 480px; left: 150px; z-index: 8;margin: 0;padding:0;display: inline-block;" > 
      
        <main class="animate__animated animate__fadeInDown" >
          <!-- <h1 class="animated flip" style="margin: 0 auto;" class="titulo2  {{cssTexto}}" id="titulo">{{Titulo}}</h1> -->
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-6" >
                <h1 class="Tit_revertidas" style="position: absolute; top: -190px;">POLÍGONOS DE TIRO</h1><br><br><br><br><br>
               
                 <p class="text_revertidas " style="letter-spacing: 0.5px; position: relative; top: -210px; font-size: 25px; text-align: justify; line-height: 30px;" id="parrafo">  
                  Para el 2000 se revirtieron alrededor de 340 km<sup>2</sup> pertenecientes a bases militares estadounidenses de las cuales el 43% funcionaron como campos de entrenamiento de tiro y bombardeo. <br><br>

 

A pesar de haberse acordado que los Estados Unidos tenía la obligación eliminar cualquier amenaza en estas áreas, los trabajos de saneamiento realizados entre 1979 y 1999 no fueron suficientes ya que quedó armamento abandonado que ha ocasionado lesiones y muertes a múltiples personas. <br><br>

 

Desde el abandono de estas bases militares, Panamá ha reclamado la ayuda estadounidense para completar la limpieza de estas zonas contaminadas. Sin embargo, el gobierno de los Estados Unidos solo ha cooperado en el saneamiento de uno de estos polígonos de tiro, siendo todavía una labor pendiente que amenaza la vida de los habitantes de esas áreas revertidas. <br>  <br>
<b>Mira el mapa para observar los polígonos de tiro <i class="fa-solid fa-location-dot fa-xl"></i></b>
               
                 <br><br>  
    
                   
 
 
 
                    
    
                    
                 </p>
                
    
             
    
    
                
                <br> 
                
 
    
              </div>
              <div class="col-xl-6" style="position: relative; top: -150px; right: -80px;" >
               <div class="d-grid gap-2"  >
                 

                <div class="title_revertidas" style="font-size: 50px;color: black;" ><img src="../../../assets/Imagenes/stickers/Iconos/Stickers-62.png" style="height: 80px;">SHERMAN</div>
                <div class="title_revertidas" style="font-size: 50px;color: black;" ><img src="../../../assets/Imagenes/stickers/Iconos/Stickers-62.png" style="height: 80px;">PIÑA</div>

                <div class="title_revertidas" style="font-size: 50px;color: black;" ><img src="../../../assets/Imagenes/stickers/Iconos/Stickers-62.png" style="height: 80px;">BALBOA OESTE</div>

                <div class="title_revertidas" style="font-size: 50px;color: black;" ><img src="../../../assets/Imagenes/stickers/Iconos/Stickers-62.png" style="height: 80px;">EMPERADOR</div>

                <div class="title_revertidas" style="font-size: 50px;color: black;"><img src="../../../assets/Imagenes/stickers/Iconos/Stickers-62.png" style="height: 80px;">RÍO HATO</div>

                <div class="title_revertidas" style="font-size: 50px;color: black;"><img src="../../../assets/Imagenes/stickers/Iconos/Stickers-62.png" style="height: 80px;">ISLA SAN JOSÉ</div>
 
                 
               </div>
 
 
             
    
    
    
              
              </div>
            </div>
          </div>
    
    
          
        </main> 
    
        
       
    </div>
 
 
   </div>
    
   <!-- <app-footer></app-footer> -->
    
    
  
    
    
