


  <div class="fondo">

    <div class="texto_pos">
     <h1 class="title_revertidas" style="position: absolute; z-index: 7; left: 390px; top: 60px;">POLÍGONOS TIRO</h1>
   </div>
 
     <div class="linea_lateral">
 
     </div>
 
     <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-02.png" style="height: 150px;   position: absolute; top: 70px;
     left: -10px; z-index: 6;" alt="" routerLink="/revertidas" >
 
     <!-- <img src="../../../assets/Imagenes/textos_iconos/AssetsProvicionales/eng.png" style="height: 250px;   position: absolute; top: 750px;
 left: -70px; z-index: 6;" alt="" > -->
 
     <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-04.png" style="height: 150px;   position: absolute; top: 920px;
 left: -10px; z-index: 6;" alt="" >
 
  <div class="container" style="position: absolute; top: 480px; left: 290px; z-index: 8;" > 
      
        <main class="animate__animated animate__fadeInDown" >
          <!-- <h1 class="animated flip" style="margin: 0 auto;" class="titulo2  {{cssTexto}}" id="titulo">{{Titulo}}</h1> -->
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-6" >
                <div class="circle " ></div>
               
                 <p class="text_revertidas " style="letter-spacing: 0.5px; position: relative; top: -100px;" id="parrafo">

                    Se estima que en el país existen alrededor de 270 especies de mamíferos silvestres, y de estas, unas 160 se encuentran en la cuenca del Canal. De las 33 especies de mamíferos consideradas en peligro de extinción o vulnerables, 30 habitan en esta zona, entre esas: el jaguar, el tapir y el puerco de monte.
               
                 <br><br>  
    
                   <b>Fuente:</b> Canal de Panamá 
 
 
 
                    
    
                    
                 </p>
                
    
             
    
    
                
                <br> 
                
 
    
              </div>
              <div class="col-xl-6" style="position: relative; top: -100px;" >
               <div class="d-grid gap-2"  >
                 

                 <ul class="list-group text_revertidas" style="background-color: #ECE4DC;">
                  <li class="list-group-item" style="background-color: #ECE4DC;">Sherman</li>
                  <li class="list-group-item" style="background-color: #ECE4DC;">Piña</li>
                  <li class="list-group-item" style="background-color: #ECE4DC;">Balboa Oeste</li>
                  <li class="list-group-item" style="background-color: #ECE4DC;">Emperador</li>
                  <li class="list-group-item" style="background-color: #ECE4DC;">Río Hato</li>
                  <li class="list-group-item" style="background-color: #ECE4DC;">Isla San José</li>
                </ul>
 
                 
               </div>
 
 
               <!-- <div class="accordion accordion-flush" id="accordionFlushExample"  >
                 <div class="accordion-item" style="background-color: #ECE4DC;" >
                   <h2 class="accordion-header" id="flush-headingOne">
                     <button class="accordion-button collapsed text_revertidas" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style="background-color: transparent;">
                      Bases Militares &nbsp; <i class="fa-solid fa-person-military-rifle fa-2xl" style="font-size: 20px;"></i>
                     </button>
                   </h2>
                   <div id="flush-collapseOne" class="accordion-collapse collapse " aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                     <div class="accordion-body" >
                       <ul class="numbered-list" style="position:relative; z-index:0;"  >
                         <div>
                           <input class="form-check-input text_revertidas" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="De Lesseps" routerLink="/interaccion"> <label class="text_revertidas"> Sherman </label>
                         </div>
                       
                         <div>
                           <input class="form-check-input text_revertidas" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="De Lesseps" (click)="FtAmador()"> <label class="text_revertidas"> De Lesseps </label>
                         </div>
 
                         <div>
                           <input class="form-check-input text_revertidas" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="De Lesseps" (click)="CocoSolo()"> <label class="text_revertidas"> Coco Solo </label>
                         </div>
 
                         <div>
                           <input class="form-check-input text_revertidas" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="De Lesseps" (click)="CocoSolo()"> <label class="text_revertidas"> Randolph </label>
                         </div>
 
                         
 
                      
                    
                         <li class="text_revertidas"  (click)="FtDavis()">Davies</li>
                         <li class="text_revertidas "  (click)="FtGulick()">Gulick</li>
                         <li class="text_revertidas "  style="z-index: 250;" (click)="FtClayton()" >Clayton</li>
                         <li class="text_revertidas" (click)="BaseAlbrook()" >Albrook</li>
                         <li class="text_revertidas " (click)="FtGrant()" >Amador</li>
                         <li class="text_revertidas " (click)="NavalBase()" >Grant</li>
                         <li class="text_revertidas" (click)="FtKobbe()" >Kobbe</li>
                         <li class="text_revertidas" (click)="EstacionSummit()">Rodman</li>
                         <li class="text_revertidas " (click)="EstacionFarfan()" >Howard</li>
                         <li class="text_revertidas" (click)="QuarryHeights()"  >Río Hato</li>
                         
   
   </ul> 
                      
                     </div>
                   </div>
                 </div>
                 <div class="accordion-item" style="background-color: #ECE4DC;" >
                   <h2 class="accordion-header" id="flush-headingTwo" >
                     <button class="accordion-button collapsed text_revertidas" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" style="background-color: #ECE4DC;">
                       Polígonos de tiro &nbsp; <i class="fa-solid fa-bullseye fa-2xl" style="font-size: 20px;"></i>
                     </button>
                   </h2>
                   <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                     <div class="accordion-body"><ul class="numbered-list">
 
                       <li (click)="pSherman()" class="text_revertidas">Sherman</li>
                       <li (click)="pina()"class="text_revertidas">Piña</li>
                       <li (click)="balboaOeste()"class="text_revertidas">Balboa Oeste</li>
                       <li (click)="emperador()"class="text_revertidas">Emperador</li>
                       <li (click)="rioHato()"class="text_revertidas">Río Hato</li>
                       <li (click)="sanJose()"class="text_revertidas">San José, archipiélago de las Perlas</li>
                       
                     </ul>
                   </div>
                   </div>
                 </div>
               
               </div> -->
    
    
    
              
              </div>
            </div>
          </div>
    
    
          
        </main> 
    
        
       
    </div>
 
 
   </div>
    
   <!-- <app-footer></app-footer> -->
    
    
  
    
    
