

<div class="fondo" >

    

    <img src="assets/Imagenes/rotulos/cuenca.png" style="position:absolute;height: 240px; left: 140px; top: 90px; ">



  

    <div class="container-fluid" style="position: absolute; top: 370px; left: 150px; z-index: 8;" > 
     
        <main class="animate__animated animate__fadeInDown" >
          <!-- <h1 class="animated flip" style="margin: 0 auto;" class="titulo2  {{cssTexto}}" id="titulo">{{Titulo}}</h1> -->
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-5" style="position: absolute; left: -50px;" >
                <h1 class="calistoga" style="position: absolute; top: -50px;">COBERTURA VEGETAL</h1><br><br><br><br><br>
               
                 <p class="runted" style=" position: relative; top: -70px; font-size: 21px; text-align: justify;" id="parrafo">
                  Los bosques son parte fundamental de las cuencas hidrográficas. Gracias a estos, el suelo puede absorber agua durante la temporada lluviosa y liberarla durante la temporada seca, reduciendo los efectos de la sequía.  <br><br>

 

                  A pesar de su importancia, la cobertura boscosa de la Cuenca del Canal se redujo de un 80% a un 20% durante la segunda mitad del siglo XX debido a la deforestación.<br><br> 
                  
                   
                  
                  Actualmente, como resultado de los programas de reforestación y la creación de áreas protegidas, estos bosques han comenzado a recuperarse y ahora cubren un 61% de la superficie de la cuenca. <br><br>

<!-- <b>Mira la cobertura boscosa en el mapa <i class="fa-solid fa-location-dot fa-xl"></i></b> -->


 
                    
                     
               
                
                 <br><br>  
    
                   
    
    
    
                    
    
                    
                 </p>
                
    
             
    
    
                
                <br> 
                
    
    
              </div>
              <div class="col-xl-7" style="position: relative; top: -20px; left: 750px;width: 740px; height: 500px;" >
               
                
                <div class="container" style=" width: 850px;">

                  <img-comparison-slider class="split-line" id="img-comparacion" (click)="evento();">
                  <figure slot="first" class="before">
                    <img width="100%" src="assets/Imagenes/Mapa02.png">
                    <figcaption><b>2012</b></figcaption>
                  </figure>
                  <figure slot="second" class="after">
                    <img width="100%" src="assets/Imagenes/Mapa01.png">
                    <figcaption><b>2021</b></figcaption>
                  </figure>

                  <svg slot="handle" class="custom-animated-handle" xmlns="http://www.w3.org/2000/svg" width="200" viewBox="-8 -3 16 6" style="position: absolute; top:-30px; left:-100px;">
                    <path stroke="#fff" d="M -5 -2 L -7 0 L -5 2 M -5 -2 L -5 2 M 5 -2 L 7 0 L 5 2 M 5 -2 L 5 2" stroke-width="1" fill="#fff" vector-effect="non-scaling-stroke"></path>
                  </svg>
                </img-comparison-slider><br><br>
               <p style="text-align: center; font-size: 20px;" id="runted"><b>Presiona el símbolo zoom para ampliar esta cobertura boscosa</b>&nbsp; <i class="fa-solid fa-magnifying-glass-plus  fa-xl" style="font-size: 45px;"></i></p> 


               <!-- <i class="fa-solid fa-magnifying-glass-minus  fa-xl" style="font-size: 45px;"></i> -->
  
  
                  
              
                  </div>
    
    
    
    
    
                
            
               
    
    
    
              
              </div>

              
              


            </div >
          </div>
    
    
          
        </main> 
    
        
       
    </div>

   
    

    



    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando35.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 9;" alt="" routerLink="/introcuenca" (click)="cuenca();">

 

    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando39.png" style="height: 120px;   position: absolute; top: 870px;
right: 90px; z-index: 6;" alt="" routerLink="/" (click)="enviarHome();">

<!-- <img src="assets/Imagenes/textos_iconos/AssetsFinales/eng.png" style="height: 90px;   position: absolute; top: 900px;
right: 250px; z-index: 6;" alt=""> -->
<!-- Boton de ingles español -->




 



   
  </div>


  

 

