

<div class="fondo" >

    

  <img src="assets/Imagenes/rotulos/cuenca.png" style="position:absolute;height: 240px; left: 140px; top: 90px; ">

  <div class="container-fluid" style="position: absolute; top: 400px; left: 150px; z-index: 8;" > 
   
      <main class="animate__animated animate__fadeInDown" >
        <!-- <h1 class="animated flip" style="margin: 0 auto;" class="titulo2  {{cssTexto}}" id="titulo">{{Titulo}}</h1> -->
        <div class="container-fluid" >
          <div class="row">
            <div class="col-xl-8" >
              <h1 class="calistoga" style="position: absolute; top: -80px; font-size: 90px;">SUBCUENCAS Y RÍOS </h1><br><br><br><br><br>
             
               <p class="runted" style=" position: relative; top: -80px; font-size: 28px; text-align: justify;" id="parrafo">
                La Cuenca del Canal contiene una vasta riqueza hídrica representada en una gran variedad de ríos y subcuencas. <br><br>En estas regiones, la <b>Autoridad del Canal de Panamá</b> ha realizado trabajos en conjunto con las comunidades que las habitan para proteger y conservar el medio ambiente mediante programas socioambientales de agroforestería, un sistema de producción que usa la tierra de manera más sostenible combinando el cultivo de árboles maderables con cultivos agrícolas o animales.  

                <br><br>

                  <b>Mira el mapa para localizar estas subcuencas <i class="fa-solid fa-location-dot fa-bounce"></i></b>

                   
             
              
               <br><br>  
  
                 
  
  
  
                  
  
                  
               </p>
              
  
           
  
  
              
              <br> 
              
  
  
            </div>
            <div class="col-xl-4" style="position: relative; top: 20px; left: 10px;" >
             
  
             <!-- Aqui va una imagen de referencia -->
            
              <div class="titulo_cuenca" style="font-size: 23px;color: black;"><img src="assets/Imagenes/textos_iconos/AssetsFinales/mando28.png" style="height: 50px;">CIRÍ GRANDE</div>

              <div class="titulo_cuenca" style="font-size: 23px;color: black;"><img src="assets/Imagenes/textos_iconos/AssetsFinales/mando28.png" style="height: 50px;">TRINIDAD</div>

              <div class="titulo_cuenca" style="font-size: 23px;color: black;"><img src="assets/Imagenes/textos_iconos/AssetsFinales/mando28.png" style="height: 50px;">CAÑO QUEBRADO</div>

              <div class="titulo_cuenca" style="font-size: 23px;color: black;" ><img src="assets/Imagenes/textos_iconos/AssetsFinales/mando28.png" style="height: 50px;">GATÚN</div>

              <div class="titulo_cuenca" style="font-size: 23px;color: black;"><img src="assets/Imagenes/textos_iconos/AssetsFinales/mando28.png" style="height: 50px;">BOQUERÓN</div>

              <div class="titulo_cuenca" style="font-size:23px;color: black;"><img src="assets/Imagenes/textos_iconos/AssetsFinales/mando28.png" style="height: 50px;">PEQUENÍ</div>

              <div class="titulo_cuenca" style="font-size:23px;color: black;" ><img src="assets/Imagenes/textos_iconos/AssetsFinales/mando28.png" style="height: 50px;">CHAGRES</div>

              <div class="titulo_cuenca" style="font-size:23px;color: black;"><img src="assets/Imagenes/textos_iconos/AssetsFinales/mando28.png" style="height: 50px;">INDIO ESTE</div>

             

               
         
  
  
  
  
  
              
          
             
  
  
  
            
            </div>

            
            


          </div >
        </div>
  
  
        
      </main> 
  
      
     
  </div>

 
  

  



  <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando35.png" style="height: 100px;   position: absolute; top: 880px;
  left: 100px; z-index: 9;" alt="" routerLink="/introcuenca"  (click)="cuenca();">



  <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando39.png" style="height: 120px;   position: absolute; top: 870px;
right: 90px; z-index: 9;" alt="" routerLink="/" (click)="enviarHome();" >

<!-- <img src="assets/Imagenes/textos_iconos/AssetsFinales/eng.png" style="height: 90px;   position: absolute; top: 900px;
right: 250px; z-index: 6;" alt=""> -->
<!-- Boton de ingles español -->








 
</div>






