<div class="fondo">

    <div class="texto_pos"><br><br><br>
        <img src="assets/Imagenes/rotulos/Ingles/mando04eng.png" style="position:absolute;height: 165px; left: 140px; ">
   </div>
  
    
  
   <img src="assets/Imagenes/textos_iconos/AssetsFinales/Assets-02.png" style="height: 150px;   position: absolute; top: 880px;
   left: 100px; z-index: 9;" alt="" routerLink="/bases_eng" (click)="bases()" >
  
   
  
   <img src="assets/Imagenes/textos_iconos/AssetsFinales/home38.png" style="height: 150px;   position: absolute; top: 870px;
  right: 90px; z-index: 9;" alt="" routerLink="/home_eng" (click)="enviarHome()">
  
  <img src="assets/Imagenes/textos_iconos/AssetsFinales/esp.png" style="height: 100px;   position: absolute; top: 900px;
  right: 250px; z-index: 10;" alt="" routerLink="/panel-albrook">
  
  
  <div class="container-fluid" style="position: absolute; top: 480px; left: 150px; z-index: 8;" > 
       
      <main class="animate__animated animate__fadeInDown" >
        <!-- <h1 class="animated flip" style="margin: 0 auto;" class="titulo2  {{cssTexto}}" id="titulo">{{Titulo}}</h1> -->
        <div class="container-fluid" >
          <div class="row">
            <div class="col-xl-6" >
              <h1 class="Tit_revertidas" style="position: absolute; top: -190px;">ALBROOK</h1><br><br><br><br><br>
             
               <p class="text_revertidas" style="letter-spacing: 0.5px; position: relative; top: -200px; font-size: 25px; text-align: justify;" id="parrafo">
                <b>Inauguration date: </b> 1924 <br>
  
                <b>Original name: </b> Albrook Air Force Station <br>
                
                <b>Previous use: </b>  the first facility in the Pacific sector to be used as a military airport, serving as a base for the American Air Force until its reversion.<br><br> 
                
                 
                
                <b>Reversion date: </b> 1997 <br>
                
                <b>Current name: </b> Albrook <br>
                
                <b>Current use: </b>  part of the air force base was transformed into the Marcos A. Gelabert international airport. Other uses given to this military base were the construction of the Great Transport Terminal and the Albrook Mall shopping Centre.
              
               <br><br>  
  
                 
  
  
  
                  
  
                  
               </p>
              
  
           
  
  
              
              <br> 
              
  
  
            </div>
            <div class="col-xl-6" style="position: relative; top: -50px;" >
             
  
  
             <div class="container" style="position: absolute; top: -100px;" >
  
              <div id="carouselExampleFade" class="carousel slide carousel-fade" style="width: 650px;">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/ImagenesExp/Albrook/alb1.jpg" class="d-block w-100 img-fluid" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/ImagenesExp/Albrook/alb2.jpg" class="d-block w-100 img-fluid" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/ImagenesExp/Albrook/alb4.JPG" class="d-block w-100 img-fluid" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/ImagenesExp/Albrook/alb5.JPG" class="d-block w-100 img-fluid" alt="...">
                  </div>
  
                  <div class="carousel-item">
                    <img src="assets/ImagenesExp/Albrook/alb6.JPG" class="d-block w-100 img-fluid" alt="...">
                  </div>
  
                  <div class="carousel-item">
                    <img src="assets/ImagenesExp/Albrook/alb7.JPG" class="d-block w-100 img-fluid" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/ImagenesExp/Albrook/alb8.JPG" class="d-block w-100 img-fluid" alt="...">
                  </div>
                </div>
                <button (click)="prevImg();" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                  <i class="fa-solid fa-circle-chevron-left fa-2xl" style="font-size: 70px;"></i>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button (click)="nextImg();" class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                  <i class="fa-solid fa-circle-chevron-right fa-2xl" style="font-size: 70px;"></i>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
  
  
  
              
          
              </div>
  
  
  
            
            </div>
          </div>
        </div>
  
  
        
      </main> 
  
      
     
  </div>
  
   </div>
  
  
