

<div class="fondo" >

    

    <img src="assets/Imagenes/rotulos/Ingles/mando06.png" style="position:absolute;height: 230px; left: 190px; top: 95px; ">



  

    <div class="container-fluid" style="position: absolute; top: 400px; left: 150px; z-index: 8;" > 
     
        <main class="animate__animated animate__fadeInDown" >
          <!-- <h1 class="animated flip" style="margin: 0 auto;" class="titulo2  {{cssTexto}}" id="titulo">{{Titulo}}</h1> -->
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-6" >
                <h1 class="calistoga" style="position: absolute; top: -50px;"> CAMINO DE CRUCES NATIONAL PARK</h1><br><br><br><br><br>
               
                 <p class="runted" style=" position: relative; top: -50px; font-size: 25px; text-align: justify;" id="parrafo">
                 <b>Creation date:</b>  1992 <br>

                  <b>Area:</b> 40 km2 <br>
                  
                  <b>Location:</b> Panama province <br>
                  
                  <b>Information:</b> : in addition to its historical value for containing part of the Cruces trail, which gives it its name, this park is characterized by its tropical humid forestsu where various types of trees such as ceibas (Ceiba pentandra), nance (Byrsonima crassifolia), and guayacan (Tabebuia guayacan) can be found.

 
                    
                     
               
                
                 <br><br>  
    
                   
    
    
    
                    
    
                    
                 </p>
                
    
             
    
    
                
                <br> 
                
    
    
              </div>
              <div class="col-xl-6" style="position: relative; top: -80px; left: 30px;" >
               
    
               <!-- Aqui va una imagen de referencia -->
               <div class="d-grid gap-3"  >
                <div class="titulo_cuenca" style="font-size: 25px;color: black; position: absolute; top: 90px;" routerLink="/panel-barrocolorado"><img src="assets/Imagenes/stickers/Plantas/Stickers-15.png" style="height: 400px;"></div>

               

               
 
                 
               </div>
    
    
    
    
    
                
            
               
    
    
    
              
              </div>

              
              


            </div >
          </div>
    
    
          
        </main> 
    
        
       
    </div>

   
    

    



    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando35.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 9;" alt="" routerLink="/introareas_eng" (click)="cuenca();" >



    <img src="assets/Imagenes/textos_iconos/AssetsFinales/home37.png" style="height: 120px;   position: absolute; top: 870px;
right: 90px; z-index: 6;" alt="" routerLink="/home_eng" (click)="enviarHome();" >

<img src="assets/Imagenes/textos_iconos/AssetsFinales/esp.png" style="height: 90px;   position: absolute; top: 900px;
right: 250px; z-index: 10;" alt="" routerLink="/panel-caminocruces">
<!-- Boton de ingles español -->




 



   
  </div>


  

 


