

<div class="fondo" >

    

    <img src="../../../assets/Imagenes/rotulos/ampliacion.png" style="position:absolute;height: 180px; left: 140px; top: 90px; ">
  
  
  
  
  
    <div class="container-fluid" style="position: absolute; top: 280px; left: 150px; z-index: 8;" > 
     
        <main class="animate__animated animate__fadeInDown" >
     
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-6" >
                <h1 class="avenir" style="font-size: 35px;color: white;">MEJORAS A LOS CAUCES DE NAVEGACIÓN</h1><br><br><br>
               
                 <p class="text_ampliacion" style=" position: relative; top: -60px; font-size: 21px; text-align: justify;color: white;" id="parrafo">
                  Al igual que la profundización de las entradas al Canal, el ensanche y profundización de los cauces de navegación era imprescindible para la óptima navegación por la vía acuática de buques de tamaño neopanamax. <br>

                  A diferencia al dragado efectuado en las entradas Atlántico y Pacífico, los trabajos de dragado realizados en Corte Culebra y el lao Gatún fueron ejecutados por la Autoridad del Canal de Panamá, cuyo personal contaba con una amplia experiencia en este tipo de trabajos en el cauce de navegación del Canal, utilizando su propia maquinaria, como la draga Mindi, la barcaza de perforación Barú y la, entonces, recién llegada draga de corte y succión  <b>Quibián I.</b> 
                  <br><br>
                  <b>Datos Curioso:</b>
                  <br><br>
                  <i class="fa-solid fa-circle fa-2xs"></i> El único equipo alquilado por la Autoridad del Canal para estos trabajos fue la draga II Principe, perteneciente a la empresa belga Jan De Nul.   <br><br>
                  
                  <i class="fa-solid fa-circle fa-2xs"></i> Un total de 150 millones de metros cúbicos fueron excavados y dragados durante el programa de ampliación. 
                     
               
                
                 <br><br>  
    
                   
    
    
    
                    
    
                    
                 </p>
                
    
             
    
    
                
                <br> 
                
    
    
              </div>
              <div class="col-xl-6" style="position: relative; top: -50px; left: 90px;" >
               
    
               <!-- Aqui va una imagen de referencia -->
  
               <img src="../../../assets/Imagenes/stickers/Vehiculos/Stickers-70.png" class="container-fluid" style="width: 650px;position: absolute; left: -60px;top: 50px;" routerLink="/contenido-ampliacion"><br>
              
    
    
    
    
    
                
            
               
    
    
    
              
              </div>
  
              
              
  
  
            </div >
          </div>
    
    
          
        </main> 
    
        
       
    </div>
  
   
    
  
    
  
  
  
    <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/mando36.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 9;" alt="" routerLink="/contenido-ampliacion" >
  
    <!-- <img src="../../../assets/Imagenes/textos_iconos/AssetsProvicionales/eng.png" style="height: 250px;   position: absolute; top: 750px;
  left: -70px; z-index: 6;" alt="" > -->
  
    <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/mando40.png" style="height: 120px;   position: absolute; top: 870px;
  right: 90px; z-index: 9;" alt="" routerLink="/" (click)=" enviarHome();" >
  
  <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/mando42.png" style="height: 90px;   position: absolute; top: 900px;
  right: 250px; z-index: 9;" alt="">
  <!-- Boton de ingles español -->
  
  
  
  
  
  
  
  
   
  </div>
  
  
  
  
  
  