

<div class="fondo" >

    

    <img src="assets/Imagenes/rotulos/cuenca.png" style="position:absolute;height: 240px; left: 140px; top: 90px; ">



  

    <div class="container-fluid" style="position: absolute; top: 400px; left: 150px; z-index: 8;" > 
     
        <main class="animate__animated animate__fadeInDown" >
          <!-- <h1 class="animated flip" style="margin: 0 auto;" class="titulo2  {{cssTexto}}" id="titulo">{{Titulo}}</h1> -->
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-6" >
                <h1 class="calistoga" style="position: absolute; top: -50px; font-size: 50px;">ALTOS DE CAMPANA NATIONAL PARK AND BIOLOGICAL RESERVE</h1><br><br><br><br><br>
               
                 <p class="runted" style=" position: relative; top: -50px; font-size: 25px; text-align: left;" id="parrafo">
                  <b>Creation date: : </b> 1966 <br> 

                  <b>Area:</b> 49 km<sup>2</sup> <br> 
                  
                  <b>Location:</b> Panama Oeste province<br> 
                  
                <b>Information:</b>This protected area provides water to more than 6,000 people. It also is home to over 540 species of plants, 26 of them being endemic, as well as 39 mammal species, 267 bird species, 86 reptile species, and 62 amphibian species, the golden frog being one of them.
                  
                    

 
                    
                     
               
                
                 <br><br>  
    
                   
    
    
    
                    
    
                    
                 </p>
                
    
             
    
    
                
                <br> 
                
    
    
              </div>
              <div class="col-xl-6" style="position: relative; top: -80px; left: 30px;" >
               
    
               <!-- Aqui va una imagen de referencia -->
               <div class="d-grid gap-3"  >
                <div class="titulo_cuenca" style="font-size: 25px;color: black; position: absolute; top: 90px;" routerLink="/panel-barrocolorado"><img src="assets/Imagenes/stickers/Animales/Stickers-05.png" style="height: 400px;"></div>

               

               
 
                 
               </div>
    
    
    
    
    
                
            
               
    
    
    
              
              </div>

              
              


            </div >
          </div>
    
    
          
        </main> 
    
        
       
    </div>

   
    

    



    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando35.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 9;" alt="" routerLink="/introareas_eng" (click)="cuenca();" >



    <img src="assets/Imagenes/textos_iconos/AssetsFinales/home37.png" style="height: 120px;   position: absolute; top: 870px;
right: 90px; z-index: 6;" alt="" routerLink="/home_eng" (click)="enviarHome();">

 <img src="assets/Imagenes/textos_iconos/AssetsFinales/esp.png" style="height: 90px;   position: absolute; top: 900px;
right: 250px; z-index: 10;" alt="" routerLink="/panel-campana"> 
<!-- Boton de ingles español -->




 



   
  </div>

