

<div class="fondo" >

    

    <img src="assets/Imagenes/rotulos/Ingles/mando08.png" style="position:absolute;height: 155px; left: 90px; top: 100px; ">
  
  
  
  
  
    <div class="container-fluid" style="position: absolute; top: 280px; left: 150px; z-index: 8;" > 
     
        <main class="animate__animated animate__fadeInDown" >
     
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-6" >
                <h1 class="avenir" style="font-size: 35px;color: white;">IMPROVEMENTS TO THE WATER SUPPLY</h1><br><br><br>
               
                 <p class="text_ampliacion" style=" position: relative; top: -60px; font-size: 22px; text-align: justify;color: white;" id="parrafo">
                    This component was aimed to ensure a sustainable water supply for both Panama’s population and the Canal’s operational requirements, while also maximizing the utilization of existing water resources to avoid the necessity of constructing new reservoirs  <br><br>

                    To achieve these objectives, the improvements to the water supply included the construction of 18 water-saving basins, the deepening of Gatun Lake’s navigational channels, and the rising the maximum operating level of the lake from 26.7 m to 27.1 m.  
                  <br><br>
                  <b>Relevant facts: </b>
                  <br><br>
                  <i class="fa-solid fa-circle fa-2xs"></i> The elevation of the maximum operating level of Gatun Lake resulted in the addition of approximately 200 million m³ to the Canal's water reserve.    <br><br>
                  
                  
                     
               
                
                 <br><br>  
    
                   
    
    
    
                    
    
                    
                 </p>
                
    
             
    
    
                
                <br> 
                
    
    
              </div>
              <div class="col-xl-6" style="position: relative; top: -50px; left: 90px;" >
               
    
               <!-- Aqui va una imagen de referencia -->
  
               <img src="assets/Imagenes/stickers/Vehiculos/Stickers-78.png" class="container-fluid" style="width: 650px;position: absolute; left: -60px;top: 50px;"><br>
              
    
    
    
    
    
                
            
               
    
    
    
              
              </div>
  
              
              
  
  
            </div >
          </div>
    
    
          
        </main> 
    
        
       
    </div>
  
   
    
  
    
  
  
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando36.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 9;" alt="" routerLink="/contenido_ampliacion_eng" >
  
   
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando60.png" style="height: 120px;   position: absolute; top: 870px;
  right: 90px; z-index: 9;" alt="" routerLink="/home_eng" (click)="enviarHome();" >
  
  <img src="assets/Imagenes/textos_iconos/AssetsFinales/esp_blanco.png" style="height: 90px;   position: absolute; top: 900px;
  right: 250px; z-index: 9;" alt="" routerLink="/suministro">
  <!-- Boton de ingles español -->
  
  
  
  
  
  
  
  
   
  </div>
  
  
  
  
  
  
