<!-- <video   width="100%" height="340" autoplay muted loop>
    <source src="/assets/proyeccion/PLASTIC - ES.mp4" type="video/mp4">
</video> -->
<!-- <video [autoplay]="true" [muted]="true" [loop]="true" src="/assets/proyeccion/002.mp4" width=100%  height=100% class="animate__animated animate__fadeIn"></video> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body class="fondo">
    <video id="entrada-ampliacion" class="animate__animated animate__zoomInDown" [autoplay]="true" [muted]="false" [loop]="true" src="assets/proyeccion/ESC34.mp4" width=100%  height=100% *ngIf="videoES"></video>
    <video id="entrada-ampliacion" class="animate__animated animate__zoomInDown" [autoplay]="true" [muted]="false" [loop]="true" src="assets/proyeccion/ESC34_ING.mp4" width=100%  height=100% *ngIf="videoEN"></video>
</body>
</html>