<main class="main">
  <section class="section  animate__animated animate__fadeInDown">
    <div class="close-section">&times;</div>
    <div class="box padre" routerLink="/mapa"   ><div class="hijo"> La cuenca del Canal </div></div>
  </section>
  <section class="section  animate__animated animate__fadeInRight">
    <div class="close-section">&times;</div>
    <div class="box padre" routerLink="/interaccion"><div class="hijo"> Bases Militares </div></div>
  </section>
  <section class=" section animate__animated animate__fadeInLeft">
    <div class="close-section">&times;</div>
    <div class="box padre"><div class="hijo"> Nivel del Agua </div></div>
  </section>
  <section class=" section animate__animated animate__fadeInUp">
    <div class="close-section">&times;</div>
    <div class="box padre"><div class="hijo"> Fauna en la cuenca </div></div>
  </section>

  
</main>

<!-- (click)="openNewTab2()" esto es para abrie new -->


