

  <div class="fondo" >

    <div class="titulo animate__animated animate__flipInX">
    
    </div>

    <div class="linea_lateral">

    </div>
    

    
<!-- Imagen de cuenca -->

    <img class="animate__animated animate__fadeInDown" src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-21.png" style="height: 500px; position: absolute; top: 330px;
    left: 200px;" alt="" routerLink="/cuenca2">
    <!-- Imagen de cuenca -->

    <!-- Areas Revertidas -->
  <img class="animate__animated animate__fadeInDown" src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-22.png" style="height: 500px;   position: absolute; top: 380px;
  left: 750px;" alt="" routerLink="./revertidas">
 <!-- Areas Revertidas -->

  <!-- Canal Siglo Xii -->
<img class="animate__animated animate__fadeInDown" src="../../../assets/Imagenes/textos_iconos/AssetsProvicionales/AP01.png" style="height: 600px;   position: absolute; top: 250px;
right: -90px;" alt="" routerLink="/ampliacion">
 <!-- Canal Siglo Xii -->



<!-- Boton de ingles español -->
<img src="../../../assets/Imagenes/textos_iconos/AssetsProvicionales/eng.png" style="height: 250px;   position: absolute; top: 850px;
left: -70px; z-index: 6;" alt="" >
<!-- Boton de ingles español -->




 <div class="helicoptero ">
    <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-06.png" style="height:400px;position: relative; z-index: 2;">
  </div> 

  <div class="tucan ">
    <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-16.png" style="height:400px;position: relative; z-index: 2;">
  </div> 

  <div class="tanque ">
    <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-12.png" style="height:400px;position: relative; z-index: 2;transform: rotateZ(15deg);">
  </div> 

  <div class="locomotora ">
    <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-15.png" style="height:400px;position: relative; z-index: 2;transform: rotateZ(-15deg);">
  </div>
  
  <div class="mapache">
    <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-19.png" style="height:400px;position: relative; z-index: 2;transform: rotateZ(-15deg);">
  </div> 



   
  </div>


  

 