<div class="fondo">

    <div class="texto_pos"><br><br><br>
        <img src="assets/Imagenes/rotulos/Ingles/mando04eng.png" style="position:absolute;height: 165px; left: 140px; ">
   </div>
 
   <img src="assets/Imagenes/textos_iconos/AssetsFinales/Assets-02.png" style="height: 150px;   position: absolute; top: 880px;
   left: 100px; z-index: 9;" alt="" routerLink="/revertidas_eng" (click)="areaRevertida()">


   <img src="assets/Imagenes/textos_iconos/AssetsFinales/home38.png" style="height: 150px;   position: absolute; top: 870px;
right: 90px; z-index: 9;" alt="" routerLink="/home_eng" (click)="enviarHome()">

<img src="assets/Imagenes/textos_iconos/AssetsFinales/esp.png" style="height: 100px;   position: absolute; top: 900px;
right: 250px; z-index: 10;" alt="" routerLink="/bases">






<div class="container-fluid" style="position: absolute; top: 480px; left: 150px; z-index: 8; margin: 0;padding:0;display: inline-block;" > 
     
    <main class="animate__animated animate__fadeInDown" >
      <!-- <h1 class="animated flip" style="margin: 0 auto;" class="titulo2  {{cssTexto}}" id="titulo">{{Titulo}}</h1> -->
      <div class="container-fluid" >
        <div class="row">
          <div class="col-xl-6" >
           <br>
            <h1 class="Tit_revertidas" style="position: absolute; top: -190px;">MILITARY BASES</h1><br><br><br><br><br>
             <p class="text_revertidas " style="letter-spacing: 0.5px; text-align: justify; position: relative; top: -230px; font-size: 28px;line-height : 45px;" id="parrafo">
                For the United States, the Canal had a strategic value that transcended its economic importance. For this reason, the United States Government built a system of fortifications in the Atlantic and Pacific sectors to defend the interoceanic waterway and the continent. 
              <br><br>
              However, with the implementation of the <b>Torrijos-Carter Treaties</b> and the end of the Cold War, these military bases gradually lost their relevance and were eventually reverted to Panama.  <br><br>
              <b id="text-red">*Select the military base you want to observe <i id="mano" class="fa-solid fa-hand-point-right fa-xl fa-bounce"></i></b> 
             <br><br>  

               

                
             </p>
            

         


            
            <br> 
            


          </div>
          <div class="col-xl-6" style="position: relative; top: -150px;right: -50px;width: 500px; height: 500px;" >
         
              <div class="row">
                <div class="col-xl-6">
                  <div class="title_revertidas" style="font-size: 50px;color: black;position: absolute; left: 15px;top:-10px" >ATLANTIC</div><br><br><br>
                  <div class="title_revertidas" style="font-size: 40px;color: black;" routerLink="/sherman_eng"><img src="assets/Imagenes/stickers/Iconos/Stickers-61.png" style="height: 60px;">SHERMAN</div>
                  <div class="title_revertidas" style="font-size: 36px;color: black;" routerLink="/lesseps_eng"><img src="assets/Imagenes/stickers/Iconos/Stickers-61.png" style="height: 55px;">DE LESSEPS</div>

                  <div class="title_revertidas" style="font-size: 37px;color: black;" routerLink="/randolph_eng"><img src="assets/Imagenes/stickers/Iconos/Stickers-61.png" style="height: 55px;">RANDOLPH</div>

                  <div class="title_revertidas" style="font-size: 38px;color: black;" routerLink="/cocosolo_eng"><img src="assets/Imagenes/stickers/Iconos/Stickers-61.png" style="height: 55px;">COCO SOLO</div>

                  <div class="title_revertidas" style="font-size: 40px;color: black;" routerLink="/davis_eng"><img src="assets/Imagenes/stickers/Iconos/Stickers-61.png" style="height: 55px;">DAVIS</div>

                  <div class="title_revertidas" style="font-size: 40px;color: black;" routerLink="/gulick_eng"><img src="assets/Imagenes/stickers/Iconos/Stickers-61.png" style="height: 55px;">GULICK</div>

                 

                 
                  
                </div>
                <div class="col-xl-6">
                  <div class="title_revertidas" style="font-size: 50px;color: black;position: absolute; left: 280px; top: -10px;" >PACIFIC</div><br><br><br>
                  <div class="title_revertidas" style="font-size:40px;color: black;" routerLink="/clayton_eng"><img src="assets/Imagenes/stickers/Iconos/Stickers-61.png" style="height: 60px;">CLAYTON</div>
                  <div class="title_revertidas" style="font-size: 40px;color: black;" routerLink="/albrook_eng"><img src="assets/Imagenes/stickers/Iconos/Stickers-61.png" style="height: 55px;">ALBROOK</div>
                  <div class="title_revertidas" style="font-size: 40px;color: black;" routerLink="/amador_eng"><img src="assets/Imagenes/stickers/Iconos/Stickers-61.png" style="height: 55px;">AMADOR</div>

                  <div class="title_revertidas" style="font-size: 40px;color: black;" routerLink="/grant_eng"><img src="assets/Imagenes/stickers/Iconos/Stickers-61.png" style="height: 55px;">GRANT</div>

                  <div class="title_revertidas" style="font-size: 40px;color: black;" routerLink="/kobbe_eng"><img src="assets/Imagenes/stickers/Iconos/Stickers-61.png" style="height: 55px;">KOBBE</div>

                  <div class="title_revertidas" style="font-size: 40px;color: black;" routerLink="/howard_eng"><img src="assets/Imagenes/stickers/Iconos/Stickers-61.png" style="height: 55px;">HOWARD</div>

                  <div class="title_revertidas" style="font-size: 40px;color: black;" routerLink="/rodman_eng"><img src="assets/Imagenes/stickers/Iconos/Stickers-61.png" style="height: 55px;">RODMAN</div>

                  
                </div>
              </div>

            



          
          </div>
        </div>
      </div>


      
    </main> 

    
   
</div>

 </div>

