

<div class="fondo" >

    <div class="titulo animate__animated animate__flipInX">
    
    </div>

    <div class="linea_lateral">

    </div>
    
<div><h1 style="font-size: 70px; position: absolute; top: 330px;
    left: 250px; color: #67925f;" class="titulo_cuenca" >MONUMENTO NATURAL <br>BARRO COLORADO</h1></div>
    
<br>

<p class="text_revertidas" style="font-size: 50px; position: absolute; top: 530px;
left: 250px; ">Introducir texto <br>acerca del Monumento Natural Barro Colorado</p>


 <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-08.png" style="height: 150px;   position: absolute; top: 70px;
    left: -10px; z-index: 6;" alt="" routerLink="/areas-prot" >

<!-- Boton de Home -->
<img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-10.png" style="height: 150px;   position: absolute; top: 920px;
left: -10px; z-index: 6;" alt="" routerLink="/" >
<!-- Boton de ingles español -->




 




  

 





   
  </div>


  

 

