

<div class="fondo" >

    

    <img src="assets/Imagenes/rotulos/cuenca.png" style="position:absolute;height: 240px; left: 140px; top: 90px; ">



  

    <div class="container-fluid" style="position: absolute; top: 400px; left: 150px; z-index: 8;" > 
     
        <main class="animate__animated animate__fadeInDown" >
          <!-- <h1 class="animated flip" style="margin: 0 auto;" class="titulo2  {{cssTexto}}" id="titulo">{{Titulo}}</h1> -->
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-6" >
                <h1 class="calistoga" style="position: absolute; top: -50px;font-size: 50px;"> MONUMENTO NATURAL BARRO COLORADO</h1><br><br><br><br><br>
               
                 <p class="runted" style=" position: relative; top: -80px; font-size: 22px; text-align: justify;" id="parrafo">
                  <b>Fecha de creación: </b> 1972, 1979 <br>

                  <b>Superficie:</b> 54km<sup>2</sup> <br>
                  
                  <b>Ubicación:</b> provincias de Panamá Oeste y Colón <br>
                  
                  <b>Información:</b> La isla Barro Colorado se creó en 1914 producto de la inundación del lago Gatún para el funcionamiento del Canal. En 1923 fue declarada reserva biológica permanente y, en 1946, se encarga al Instituto Smithsonian la administración de la isla con el fin de realizar estudios científicos.  <br>
                  
                  En base a convenios internacionales Panamá designa la isla <b>Barro Colorado</b> como monumento natural en 1972 y, con la firma de los Tratados Torrijos-Carter, se establece al Smithsonian como custodio de esta área protegida. Finalmente, en 1979 se le adicionan algunas penínsulas aledañas con el fin de expandir los estudios científicos y la conservación de la fauna y flora.
 
                    
                     
               
                
                 <br><br>  
    
                   
    
    
    
                    
    
                    
                 </p>
                
    
             
    
    
                
                <br> 
                
    
    
              </div>
              <div class="col-xl-6" style="position: relative; top: -80px; left: 30px;" >
               
    
               <!-- Aqui va una imagen de referencia -->
               <div class="d-grid gap-3"  >
                <div class="titulo_cuenca" style="font-size: 25px;color: black; position: absolute; top: 90px;" routerLink="/panel-barrocolorado"><img src="assets/Imagenes/stickers/Animales/Stickers-05.png" style="height: 400px;"></div>

               

               
 
                 
               </div>
    
    
    
    
    
                
            
               
    
    
    
              
              </div>

              
              


            </div >
          </div>
    
    
          
        </main> 
    
        
       
    </div>

   
    

    



    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando35.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 9;" alt="" routerLink="/introareas" (click)="cuenca();" >

    <!-- <img src="../../../assets/Imagenes/textos_iconos/AssetsProvicionales/eng.png" style="height: 250px;   position: absolute; top: 750px;
left: -70px; z-index: 6;" alt="" > -->

    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando39.png" style="height: 120px;   position: absolute; top: 870px;
right: 90px; z-index: 9;" alt="" routerLink="/"  (click)="enviarHome();">

<img src="assets/Imagenes/textos_iconos/AssetsFinales/eng.png" style="height: 90px;   position: absolute; top: 900px;
right: 250px; z-index: 9;" alt="">
<!-- Boton de ingles español -->




 



   
  </div>


  

 

