

<div class="fondo" >

    

    <img src="assets/Imagenes/rotulos/cuenca.png" style="position:absolute;height: 240px; left: 140px; top: 90px; ">



  

    <div class="container-fluid" style="position: absolute; top: 400px; left: 150px; z-index: 8;" > 
     
        <main class="animate__animated animate__fadeInDown" >
          <!-- <h1 class="animated flip" style="margin: 0 auto;" class="titulo2  {{cssTexto}}" id="titulo">{{Titulo}}</h1> -->
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-6" >
                <h1 class="calistoga" style="position: absolute; top: -50px;">ÁREAS PROTEGIDAS</h1><br><br><br><br><br>
               
                 <p class="runted" style=" position: relative; top: -50px; font-size: 25px; text-align: justify;" id="parrafo">
                  La <b> Cuenca del Canal</b>  es sinónimo de biodiversidad al tener una rica presencia de flora y fauna. <br><br>Para su conservación, se han destinado 1,347 km<sup>2</sup> de superficie para la creación de seis áreas protegidas, lo que corresponde al 39% del área de la cuenca. <br><br>

                  <b>Elige entre estas áreas protegidas para localizarlo <i class="fa-solid fa-hand-point-right fa-2xl"></i></b>
                    
                     
               
                
                 <br><br>  
    
                   
    
    
    
                    
    
                    
                 </p>
                
    
             
    
    
                
                <br> 
                
    
    
              </div>
              <div class="col-xl-6" style="position: relative; top: -60px; left: -10px;" >
               
    
               <!-- Aqui va una imagen de referencia -->
               <div class="d-grid gap-3"  >
                <div class="titulo_cuenca" style="font-size: 25px;color: black;" routerLink="/panel-barrocolorado"><img src="assets/Imagenes/textos_iconos/AssetsFinales/mando27.png" style="height: 70px;">MONUMENTO NATURAL BARRO COLORADO</div>

                <div class="titulo_cuenca" style="font-size: 25px;color: black;" routerLink="/panel-campana"><img src="assets/Imagenes/textos_iconos/AssetsFinales/mando27.png" style="height: 70px;">PARQUE NACIONAL  ALTOS DE CAMPANA</div>

                <div class="titulo_cuenca" style="font-size: 25px;color: black;" routerLink="/panel-soberania"><img src="assets/Imagenes/textos_iconos/AssetsFinales/mando27.png" style="height: 70px;">PARQUE NACIONAL SOBERANÍA</div>

                <div class="titulo_cuenca" style="font-size: 25px;color: black;" routerLink="/panel-caminocruces"><img src="assets/Imagenes/textos_iconos/AssetsFinales/mando27.png" style="height: 70px;">PARQUE NACIONAL CAMINO DE CRUCES</div>

                <div class="titulo_cuenca" style="font-size: 25px;color: black;" routerLink="/panel-chagres"><img src="assets/Imagenes/textos_iconos/AssetsFinales/mando27.png" style="height: 70px;">PARQUE NACIONAL CHAGRES</div>

                <div class="titulo_cuenca" style="font-size:25px;color: black;" routerLink="/panel-gatun"><img src="assets/Imagenes/textos_iconos/AssetsFinales/mando27.png" style="height: 70px;">ÁREA RECREATIVA LAGO GATÚN</div>

               
 
                 
               </div>
    
    
    
    
    
                
            
               
    
    
    
              
              </div>

              
              


            </div >
          </div>
    
    
          
        </main> 
    
        
       
    </div>

   
    

    



    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando35.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 9;" alt="" routerLink="/introcuenca" (click)="cuenca();" >


    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando39.png" style="height: 120px;   position: absolute; top: 870px;
right: 90px; z-index: 6;" alt="" routerLink="/" (click)="enviarHome();">

<!-- <img src="assets/Imagenes/textos_iconos/AssetsFinales/eng.png" style="height: 90px;   position: absolute; top: 900px;
right: 250px; z-index: 6;" alt=""> -->
<!-- Boton de ingles español -->




 



   
  </div>


  

 

