


<div class="fondo">

    <div class="texto_pos"><br><br><br>
     <img src="assets/Imagenes/rotulos/Ingles/mando04eng.png" style="position:absolute;height: 165px; left: 140px; ">
   </div>
 
     
 
     <img src="assets/Imagenes/textos_iconos/AssetsFinales/Assets-02.png" style="height: 150px;   position: absolute; top: 880px;
     left: 100px; z-index: 6;" alt="" routerLink="/home_eng" (click)="enviarHome()" >
 
 
 
     <img src="assets/Imagenes/textos_iconos/AssetsFinales/home38.png" style="height: 150px;   position: absolute; top: 870px;
 right: 90px; z-index: 6;" alt="" routerLink="/home_eng" (click)="enviarHome()" >
 
 <img src="assets/Imagenes/textos_iconos/AssetsFinales/esp.png" style="height: 100px;   position: absolute; top: 900px;
 right: 250px; z-index: 6;" alt="" routerLink="/revertidas">
 
 
 
 <img src="assets/Imagenes/stickers/Edificios de la zona/Stickers-91.png" style="height: 200px;   position: absolute; top: 780px;
 right: 720px; z-index: 6;" alt=""  >
 
 
 
 
  <div class="container" style="position: absolute; top: 440px; left: 150px; z-index: 8;" > 
      
        <main class="animate__animated animate__fadeInDown" >
          <!-- <h1 class="animated flip" style="margin: 0 auto;" class="titulo2  {{cssTexto}}" id="titulo">{{Titulo}}</h1> -->
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-9" >
                <!-- <div class="circle  {{cssImg}}"  [ngStyle]="{'background-image': 'url(' + Img + ')'}" ></div> -->
               
                 <p class="text_revertidas" style="letter-spacing: 0.5px; position: relative; top: -100px; font-size: 25px; text-align: justify;line-height: 35px;" id="parrafo">
                    When the Torrijos-Carter Treaties went into effect on October 1, 1979, the territories and properties belonging to the Canal Zone were gradually reverted to Panama in a process that culminated on December 31, 1999, with the Canal turnover.<br><br> 
 
                    The uses of part of these <b>former Canal Zone sites</b> have since then been modified and destined for commercial, educational, residential, and institutional activities for the community’s benefit. <br><br>
                   
                    However, there are still territories and properties that lie in a state of abandonment, lacking any concrete plans for their development. <br><br>
                   
                   <b id="text-red">*Select Shooting ranges or Military bases for more information. <i id="mano" class="fa-solid fa-hand-point-right fa-xl fa-bounce"></i></b>
                 <br><br>  
    
                   
 
 
 
                    
    
                    
                 </p>
                
    
             
    
    
                
                <br> 
                
 
    
              </div>
              <div class="col-xl-3" style="position: relative; top: -120px; left: 50px;" >
               <div class="d-grid gap-2">
                 <img src="assets/Imagenes/rotulos/Ingles/mando16.png" height="180px" routerLink="/bases_eng">
                 <img src="assets/Imagenes/rotulos/Ingles/mando18.png" height="180px" routerLink="/poligonos_eng">
 
               </div>
 
 
              
    
    
    
              
              </div>
            </div>
          </div>
    
    
          
        </main> 
    
        
       
    </div>
 
 
   </div>
    
   <!-- <app-footer></app-footer> -->
    
    
  
    
    
