


  <div class="fondo">

   <div class="texto_pos"><br><br><br>
    <img src="assets/Imagenes/rotulos/revertidas.png" style="position:absolute;height: 240px; left: 140px; ">
  </div>

    

    <img src="assets/Imagenes/textos_iconos/AssetsFinales/Assets-02.png" style="height: 150px;   position: absolute; top: 880px;
    left: 100px; z-index: 6;" alt="" routerLink="/" (click)="enviarHome()" >



    <img src="assets/Imagenes/textos_iconos/AssetsFinales/Assets-04.png" style="height: 150px;   position: absolute; top: 870px;
right: 90px; z-index: 6;" alt="" routerLink="/" (click)="enviarHome()" >

<!-- <img src="assets/Imagenes/textos_iconos/AssetsFinales/eng.png" style="height: 100px;   position: absolute; top: 900px;
right: 250px; z-index: 6;" alt=""> -->



<img src="assets/Imagenes/stickers/Edificios de la zona/Stickers-91.png" style="height: 200px;   position: absolute; top: 780px;
right: 720px; z-index: 6;" alt=""  >




 <div class="container" style="position: absolute; top: 440px; left: 150px; z-index: 8;" > 
     
       <main class="animate__animated animate__fadeInDown" >
         <!-- <h1 class="animated flip" style="margin: 0 auto;" class="titulo2  {{cssTexto}}" id="titulo">{{Titulo}}</h1> -->
         <div class="container-fluid" >
           <div class="row">
             <div class="col-xl-9" >
               <!-- <div class="circle  {{cssImg}}"  [ngStyle]="{'background-image': 'url(' + Img + ')'}" ></div> -->
              
                <p class="text_revertidas" style="letter-spacing: 0.5px; position: relative; top: -100px; font-size: 25px; text-align: justify;line-height: 35px;" id="parrafo">
                  Con la entrada en vigor de los <b>Tratados Torrijos-Carter el 1 de octubre de 1979</b>, las tierras y los bienes que le pertenecían a la Zona del Canal fueron gradualmente revirtiendo a Panamá, proceso que culminó el 31 de diciembre de 1999 con la transferencia del Canal.<br><br> 

                  Parte de estas <b>áreas revertidas</b>, como se les conoce coloquialmente, se les modificó su uso militar para destinarlas a actividades comerciales, educativas, residenciales e institucionales, en beneficio de la comunidad. <br><br>
                  
                  No obstante, aún existen tierras y bienes en estado de abandono que no cuentan con un plan para su desarrollo. <br><br>
                  
                  <b>Selecciona Polígonos de Tiro o Bases militares para ampliar información <i class="fa-solid fa-hand-point-right fa-2xl" ></i></b>
                <br><br>  
   
                  



                   
   
                   
                </p>
               
   
            
   
   
               
               <br> 
               

   
             </div>
             <div class="col-xl-3" style="position: relative; top: -120px; left: 50px;" >
              <div class="d-grid gap-2">
                <img src="assets/Imagenes/rotulos/log_bases.png" height="200px" routerLink="/bases">
                <img src="assets/Imagenes/rotulos/log_poligonos.png" height="200px" routerLink="/poligonostiro">

              </div>


             
   
   
   
             
             </div>
           </div>
         </div>
   
   
         
       </main> 
   
       
      
   </div>


  </div>
   
  <!-- <app-footer></app-footer> -->
   
   
 
   
   