<nav class="navbar " style="height: 100px; background-color:rgb(21, 63, 153);" >
    <h1 style="color:white; margin:30px;margin: 0 auto;" class="titulo">ÁREAS REVERTIDAS </h1>
   </nav>
   <br>
   
   <div class="container" > 
     
       <main class="animate__animated animate__fadeInDown" >
         <h1 class="animated flip" style="margin: 0 auto;" class="titulo2  {{cssTexto}}" id="titulo">{{Titulo}}</h1>
         <div class="container-fluid" >
           <div class="row">
             <div class="col-xl-6" >
               <div class="circle  {{cssImg}}"  [ngStyle]="{'background-image': 'url(' + Img + ')'}" ></div>
               <!-- <h2>Área del Canal/Antigua Zona del Canal. </h2> -->
               <p class="textos {{cssTexto}}" style="letter-spacing: 0.5px;" id="parrafo">
                {{desc}}
                <br><br>
   
                 <b>Fuente:</b> Canal de Panamá



                   
   
                   
               </p>
               
   
            
   
   
               
               <br>
               

   
             </div>
             <div class="col-xl-6" style="position: relative; top: -100px;">
              
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                     Bases Militares &nbsp; <i class="fa-solid fa-person-military-rifle fa-2xl" style="font-size: 20px;"></i>
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <ul class="numbered-list" style="position:relative; z-index:0;" >

                        <li class="textos " (click)="Ftshemran()" routerLink="/interaccion">Sherman</li>
                        <li class="textos " (click)="FtAmador()" >De Lesseps</li>
                        <li class="textos " >Randolph</li>
                        <li class="textos "  (click)="CocoSolo()">Coco Solo</li>
                        <li class="textos "  (click)="FtDavis()">Davies</li>
                        <li class="textos "  (click)="FtGulick()">Gulick</li>
                        <li class="textos "  style="z-index: 250;" (click)="FtClayton()" >Clayton</li>
                        <li class="textos " (click)="BaseAlbrook()" >Albrook</li>
                        <li class="textos " (click)="FtGrant()" >Amador</li>
                        <li class="textos " (click)="NavalBase()" >Grant</li>
                        <li class="textos " (click)="FtKobbe()" >Kobbe</li>
                        <li class="textos " (click)="EstacionSummit()">Rodman</li>
                        <li class="textos " (click)="EstacionFarfan()" >Howard</li>
                        <li class="textos " (click)="QuarryHeights()"  >Río Hato</li>
                        
  
  </ul>
                    
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      Polígonos de tiro &nbsp; <i class="fa-solid fa-bullseye fa-2xl" style="font-size: 20px;"></i>
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><ul class="numbered-list">

                      <li (click)="pSherman()" class="textos">Sherman</li>
                      <li (click)="pina()"class="textos">Piña</li>
                      <li (click)="balboaOeste()"class="textos">Balboa Oeste</li>
                      <li (click)="emperador()"class="textos">Emperador</li>
                      <li (click)="rioHato()"class="textos">Río Hato</li>
                      <li (click)="sanJose()"class="textos">San José, archipiélago de las Perlas</li>
                      
                    </ul>
                  </div>
                  </div>
                </div>
              
              </div>
   
   
   
             
             </div>
           </div>
         </div>
   
   
         
       </main>
   
       
      
   </div>
   
   
   
   
   <br>
   
   
   
   
   
   



   <footer class="text-center text-lg-start animate__animated animate__fadeInUp"  style="background-color: #153f99;">
    <div class="container d-flex justify-content-center py-5">
       <div class="text-center text-white p-3">
     
      <img src="./assets/images/Botones/BTN-Eng.svg" height="100" width="100" style="position: relative ; top:-55px;left: -480px; z-index: 200; " routerLink="/canalmapa">
    </div>



    

    <p style="text-align: center;"  class="d-flex justify-content-center py-2"><br>
      <i class="fa-solid fa-house fa-2xl" (click)="enviarHome()" routerLink="/" style="font-size: 50px;" ></i>
  </p>


<p style="text-align: right; position: relative;  left: 400px;" *ngIf="wsSocket.socketStatus" >Estado: <b class="text-success" >Online</b></p>
<p style="text-align: right; position: relative; top: -40px;"  *ngIf="!wsSocket.socketStatus"> Estado: <b class="text-danger"  >Offline</b></p>

    <!-- <div class="waves" >
      <div class="wave circulo a"></div>
      <div class="wave circulo b"></div>
      <div class="wave circulo c"></div>
    </div> -->

    </div>


  </footer>

 


  
   
   <!-- <div class="waves" >
     <div class="wave circulo a" style="z-index: auto;"></div>
     <div class="wave circulo b" style="z-index: auto;"></div>
     <div class="wave circulo c" style="z-index: auto;"></div>
   </div> -->

   <!-- <img src="../../../assets/images/Botones/BTN-Eng.svg" height="100" width="100" style="position: relative ; top:-205px;right: -30px; z-index: 200; " routerLink="/canalmapa"> -->




    <!-- Modal1 -->
  <div class="modal fade animate__animated animate__zoomInUp" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-sm-down ">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Provincia de Chiriqui</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Es una provincia de Panamá. Su capital es David. También se da el nombre de Laguna de Chiriquí a un gran golfo que existe en la costa caribeña de Panamá, en la provincia de Bocas del Toro. Chiriquí significa valle de la luna para los indígenas Ngöbe-Buglé.
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
  <!-- Modal 1 -->
   

   <!-- Modal2 -->
   <div class="modal fade animate__animated animate__zoomInUp" data-animate-out="modal fade animate__animated animate__zoomInUp" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-sm-down ">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Provincia de Coclé</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Es una provincia de Cocle. Su capital es David. También se da el nombre de Laguna de Chiriquí a un gran golfo que existe en la costa caribeña de Panamá, en la provincia de Bocas del Toro. Chiriquí significa valle de la luna para los indígenas Ngöbe-Buglé.
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
  <!-- Modal 2 -->
   
   
   
 
   
   