

<div class="fondo" >

    <div class="titulo animate__animated animate__flipInX">
    
    </div>

    <div class="linea_lateral">

    </div>
    
<div><h1 style="font-size: 70px; position: absolute; top: 330px;
    left: 600px; color: #3d7c32;" class="titulo_cuenca" >ÁREAS PROTEGIDAS</h1></div>
    
<br>


 <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-08.png" style="height: 150px;   position: absolute; top: 70px;
    left: -10px; z-index: 6;" alt="" routerLink="/cuenca2" >

<!-- Boton de Home -->
<img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-10.png" style="height: 150px;   position: absolute; top: 920px;
left: -10px; z-index: 6;" alt="" routerLink="/" >
<!-- Boton de ingles español -->




  <div class="p1">
    <img src="../../../assets/Imagenes/textos_iconos/AssetsProvicionales/p1.png" style="height:400px;position: relative; z-index: 2;" routerLink="/panel-caminocruces">
  </div> 

  <div class="p2">
    <img src="../../../assets/Imagenes/textos_iconos/AssetsProvicionales/p2.png" style="height:400px;position: relative; z-index: 2;" routerLink="/panel-campana">
  </div> 

  <div class="m1">
    <img src="../../../assets/Imagenes/textos_iconos/AssetsProvicionales/m1.png" style="height:400px;position: relative; z-index: 2;" routerLink="/panel-barrocolorado">
  </div> 

  <div class="p3">
    <img src="../../../assets/Imagenes/textos_iconos/AssetsProvicionales/p3.png" style="height:400px;position: relative; z-index: 2;" routerLink="/panel-soberania">
  </div> 

  <div class="area1">
    <img src="../../../assets/Imagenes/textos_iconos/AssetsProvicionales/area1.png" style="height:400px;position: relative; z-index: 2;" routerLink="/panel-gatun">
  </div> 

  <div class="p4">
    <img src="../../../assets/Imagenes/textos_iconos/AssetsProvicionales/p4.png" style="height:350px;position: relative; z-index: 2;" routerLink="/panel-chagres">
  </div> 

  <div class="mapache">
    <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-19.png" style="height:400px;position: relative; z-index: 2;   transform: rotate(-10deg);">
  </div> 

  <div class="tucan">
    <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-16.png" style="height:400px;position: relative; z-index: 2;   transform: rotate(-15deg); transform: scaleX(-1);">
  </div> 

  <div class="ñeque">
    <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/Assets-17.png" style="height:400px;position: relative; z-index: 2; ">
  </div> 




  

 





   
  </div>


  

 

