<div class="container" style="position: absolute; top: -60px;" >

    <div id="carouselExampleFade" class="carousel slide carousel-fade" style="width: 1920px;">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/ImagenesExp/Grant/gr11.jpg" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/ImagenesExp/Grant/gr2.JPG" class="d-block w-100 img-fluid" alt="...">
        </div>

        <div class="carousel-item">
          <img src="assets/ImagenesExp/Grant/gr2.JPG" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/ImagenesExp/Grant/gr3.JPG" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/ImagenesExp/Grant/gr4.JPG" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/ImagenesExp/Grant/gr5.JPG" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/ImagenesExp/Grant/gr6.JPG" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/ImagenesExp/Grant/gr7.JPG" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/ImagenesExp/Grant/gr8.JPG" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/ImagenesExp/Grant/gr1.jpg" class="d-block w-100 img-fluid" alt="...">
        </div>
        
      </div>
      <button hidden="true" id="prev-img" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <i class="fa-solid fa-circle-chevron-left fa-2xl" style="font-size: 70px;"></i>
        <span class="visually-hidden">Previous</span>
      </button>
      <button hidden="true" id="next-img" class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <i class="fa-solid fa-circle-chevron-right fa-2xl" style="font-size: 70px;"></i>
        <span class="visually-hidden">Next</span>
      </button> 
    </div>



    

    </div>