

<div class="fondo" >

    

    <img src="assets/Imagenes/rotulos/ampliacion.png" style="position:absolute;height: 180px; left: 140px; top: 90px; ">
  
  
  
  
  
    <div class="container-fluid" style="position: absolute; top: 280px; left: 150px; z-index: 8;" > 
     
        <main class="animate__animated animate__fadeInDown" >
     
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-6" >
                <h1 class="avenir" style="font-size: 35px;color: white;">PROFUNDIZACIÓN DE LAS ENTRADAS DEL CANAL</h1><br><br><br>
               
                 <p class="text_ampliacion" style=" position: relative; top: -60px; font-size: 21px; text-align: justify;color: white;" id="parrafo">
                  La profundización de las entradas en el Atlántico y el Pacífico del Canal fue un componente crucial en el proyecto de ampliación, ya que permitiría el tránsito por la vía interoceánica de buques tipo neopanamax que tienen mayor calado.  <br><br>

                  El dragado del sector Pacífico fue adjudicado a la empresa belga Dredging International y el dragado del sector Atlántico fue adjudicado a la también empresa belga <b>Jan de Nul.</b>  
                  <br><br>
                  <b>Datos Curioso:</b>
                  <br><br>
                  <i class="fa-solid fa-circle fa-2xs"></i> Para completar estas labores, ambas empresas trajeron potentes dragas como la D’Artagnan, usada en el Pacífico, y la De Bougainville, usada en el Atlántico, entre otras. <br><br>
                  
                  <i class="fa-solid fa-circle fa-2xs"></i> Tanto en el sector Pacífico como en el Atlántico se ensanchó la entrada a un mínimo de 225 m y se profundizó a 15.5 m debajo del nivel medio de marea baja.  
                     
               
                
                 <br><br>  
    
                   
    
    
    
                    
    
                    
                 </p>
                
    
             
    
    
                
                <br> 
                
    
    
              </div>
              <div class="col-xl-6" style="position: relative; top: -50px; left: 90px;" >
               
    
               <!-- Aqui va una imagen de referencia -->
  
               <img src="assets/Imagenes/stickers/Vehiculos/Stickers-77.png" class="container-fluid" style="width: 650px;position: absolute; left: -60px;top: 50px;" routerLink="/contenido-ampliacion"><br>
              
    
    
    
    
    
                
            
               
    
    
    
              
              </div>
  
              
              
  
  
            </div >
          </div>
    
    
          
        </main> 
    
        
       
    </div>
  
   
    
  
    
  
  
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando36.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 9;" alt="" routerLink="/contenido-ampliacion" >
  
    
  
    <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando40.png" style="height: 120px;   position: absolute; top: 870px;
  right: 90px; z-index: 9;" alt="" routerLink="/"  (click)="enviarHome();">
  
  <!-- <img src="assets/Imagenes/textos_iconos/AssetsFinales/mando42.png" style="height: 90px;   position: absolute; top: 900px;
  right: 250px; z-index: 9;" alt=""> -->
  <!-- Boton de ingles español -->
  
  
  
  
  
  
  
  
   
  </div>
  
  
  
  
  
  