

.animate__animated.animate__fadeIn {
  --animate-duration: 3s;
}

.animate__animated.animate__zoomInUp {
  --animate-duration: 0.8s;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 0.5s;
}

.animate__animated.animate__zoomIn {
  --animate-duration: 2s;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 8s;
}

:root {
  --animate-duration: 2s;
}

.desvanecer {
  animation: niebla;
  animation-duration: 10s;
}

@keyframes niebla {
  0% {
    opacity: 0.65;
  }

  15% {
    opacity: 0.75;
  }

  25% {
    opacity: 0.85;
  }

  45% {
    opacity: 0.95;
  }

  75% {
    opacity: 1.2;
  }
}

body {
  overflow: hidden; /* Hide scrollbars */
}

.modal-backdrop {
  background-color: transparent;
}

.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: scale(0.9);
}

@font-face {
  font-family: Monserratbold;
  src: url(./assets/tipografia/Types/Montserrat/Montserrat-Bold.otf);
}

@font-face {
  font-family: Museo;
  src: url(./assets/tipografia/Types/MuseoSans/MuseoSans-100.otf);
}

.titulo {
  font-family: Monserratbold;
  color: white;
}

.titulo2 {
  font-family: Monserratbold;
  color: black;
}

.textos {
  font-family: Museo;
  color: black;
  font-size: 15px;
}

body {
  -youbkit-touch-callout: none; /*iOS Safari*/
  -youbkit-user-select: none; /* Chrome 6.0+, Safari 3.1+, Edge y Opera 15+ */
  -moz-user-select: none; /*Firefox*/
  -ms-user-select: none; /* IE 10+ y Edge */
  user-select: none; /* Versión sin prefijo,
  actualmente compatible con Chrome y Opera */
}


.slider-example-relative-size {
  --default-handle-width: clamp(40px, 50vw, 200px);

}

.custom-animated-handle {
  transition: transform 0.2s;
}

.slider-with-animated-handle:hover .custom-animated-handle {
  transform: scale(0.8);
}



@font-face {
  font-family: dk;
  src: url(./assets/Tipografias/Revertidas/Magical.otf);
}

.title_revertidas {
  font-family: dk;
  color: black;
  font-size: 165px;
  color:#1D6B3E;
}


@font-face {
  font-family: Dosmil;
  src: url(./assets/Tipografias/Revertidas/American-Typewriter-Font/ufonts.com_american-typewriter-condensed.ttf);
}

.text_revertidas {
  font-family: Dosmil;
  font-size: 32px;
  color:black;
}

@font-face {
  font-family: SuperFunky;
  src: url(./assets/Tipografias/Cuenca/SuperFunky.ttf);
}

.titulo_cuenca {
  font-family: SuperFunky;
  font-size: 29px;
  color:black;
}

@font-face {
  font-family: Avenir;
  src: url(./assets/Tipografias/Ampliacion/Avenir-Next-Bold-Italic.ttf);
}

.titulo_ampliacion {
  font-family:Avenir;
  font-size: 80px;
  color:rgb(9, 9, 141);
  text-align: center;
}



@font-face {
  font-family: American;
  src: url(./assets/Tipografias/Revertidas/American-Typewriter-Font/ufonts.com_american-typewriter-bold.ttf);
}

.Tit_revertidas{
  font-family: American;
  font-size: 81px;
}


@font-face {
  font-family: calistoga;
  src: url(./assets/Tipografias/Cuenca/Calistoga-Regular.ttf);
}

.calistoga{
  font-family: calistoga;
  font-size: 71px;
}

@font-face {
  font-family: rounded;
  src: url(./assets/Tipografias/Cuenca//MPLUSRounded1c-Medium.ttf);
}

.runted{
  font-family: rounded;
  font-size: 17px;
}

@font-face {
  font-family: Acum;
  src: url(./assets/Tipografias/Ampliacion/AcuminItPro.otf);
}

.text_ampliacion{
  font-family: acum;
  font-size: 55px;
}

@font-face {
  font-family: Avenir;
  src: url(./assets/Tipografias/Ampliacion/Avenir-Next-Bold-Italic.ttf);
}
.avenir{
  font-family: Avenir;
  font-size: 25px;
}
