

<div class="fondo" >

    

    <img src="../../../assets/Imagenes/rotulos/cuenca.png" style="position:absolute;height: 240px; left: 140px; top: 90px; ">



  

    <div class="container-fluid" style="position: absolute; top: 400px; left: 150px; z-index: 8;" > 
     
        <main class="animate__animated animate__fadeInDown" >
          <!-- <h1 class="animated flip" style="margin: 0 auto;" class="titulo2  {{cssTexto}}" id="titulo">{{Titulo}}</h1> -->
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-7" >
            
               
                 <p class="runted" style=" position: relative; top: -60px; font-size: 25px; text-align: justify;line-height: 35px;" id="parrafo">
                    Una <b>cuenca hidrográfica</b> es un área de la superficie terrestre atravesada por uno o varios ríos, cuyas aguas fluyen hacia otro río, lagos o directamente al mar y que se encuentra delimitada por crestas y colinas, también conocida como divisoria de aguas.<br><br>


                    Panamá cuenta con 52 cuencas hidrográficas siendo la Cuenca del Canal una de ellas, la cual tiene una extensión de <b>3,453 km<sup>2</sup></b> abarcando las provincias de Panamá, Panamá Oeste y Colón - siendo habitada por más de <b>230,000 personas.</b> <br><br>
                    
                     
                    
                    La Cuenca del Canal cumple un papel de vital importancia en el país porque abastece agua potable a más del 50% de la población panameña y permite el funcionamiento de la vía interoceánica. 
                    
                     
               
                
                 <br><br>  
    
                   
    
    
    
                    
    
                    
                 </p>
                
    
             
    
    
                
                <br> 
                
    
    
              </div>
              <div class="col-xl-5" style="position: relative; top: -80px; left: 30px;" >
               
    
               <!-- Aqui va una imagen de referencia -->

               <img src="../../../assets/Imagenes/rotulos/areas.png" class="container-fluid" style="width: 350px;" routerLink="/introareas"><br>
               <img src="../../../assets/Imagenes/rotulos/sucyenca.png" class="container-fluid" style="width: 350px;" routerLink="/subcuenca">
<br>
               <img src="../../../assets/Imagenes/rotulos/cobertura.png" class="container-fluid" style="width: 350px;" routerLink="/cobertura">
    
    
    
    
    
                
            
               
    
    
    
              
              </div>

              
              


            </div >
          </div>
    
    
          
        </main> 
    
        
       
    </div>

   
    

    



    <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/mando35.png" style="height: 100px;   position: absolute; top: 880px;
    left: 100px; z-index: 6;" alt="" routerLink="/" >

    <!-- <img src="../../../assets/Imagenes/textos_iconos/AssetsProvicionales/eng.png" style="height: 250px;   position: absolute; top: 750px;
left: -70px; z-index: 6;" alt="" > -->

    <img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/mando39.png" style="height: 120px;   position: absolute; top: 870px;
right: 90px; z-index: 6;" alt="" routerLink="/" >

<img src="../../../assets/Imagenes/textos_iconos/AssetsFinales/eng.png" style="height: 90px;   position: absolute; top: 900px;
right: 250px; z-index: 6;" alt="">
<!-- Boton de ingles español -->




 



   
  </div>


  

 
