

<div class="fondo" >



    <div class="titulo animate__animated animate__flipInX">
    
    </div>

    <!-- <div class="linea_lateral">

    </div> -->
    

    
<!-- Imagen de cuenca -->
<div style="position: absolute; left: -120px;" >
    <img class="animate__animated animate__fadeInDown" src="assets/Imagenes/rotulos/Ingles/mando10eng.png" style="height: 150px; position: absolute; top: 350px;
    left: 620px;" alt="" routerLink="/revertidas_eng">
    <!-- Imagen de cuenca -->

    <!-- cuenca -->
  <img class="animate__animated animate__fadeInDown" src="assets/Imagenes/rotulos/Ingles/mando12eng.png" style="height: 180px;   position: absolute; top: 500px;
  left: 580px;" alt="" routerLink="/introcuenca_eng">


<img class="animate__animated animate__fadeInDown" src="assets/Imagenes/rotulos/Ingles/mando14eng.png" style="height: 280px;   position: absolute; top: 690px;
  left: 600px;" alt="" routerLink="/ampliacion_eng">

</div>
 <!-- Areas Revertidas -->

  <!-- Canal Siglo Xii -->

 <!-- Canal Siglo Xii -->



<!-- Boton de ingles español -->
 <img src="assets/Imagenes/textos_iconos/AssetsFinales/esp.png" style="height: 80px;   position: absolute; top: 930px;right:  120px; z-index: 10;" alt="" routerLink="">
<!-- Boton de ingles español -->





<div class="helicoptero" (click)="revertida()">
    <img src="assets/Imagenes/stickers/Edificios de la zona/Stickers-88.png" style="height:150px;position: relative; z-index: 2; left: 250px; top: -420px;transform: rotateZ(-5deg);">
  </div> 

  <div class="tucan" (click)="revertida()"> 
    <img src="assets/Imagenes/stickers/Landmarks/Stickers-51.png" style="height:200px;position: relative; z-index: 2;right: -1140px; top: -680px;">
  </div> 


  <div class="tanque" (click)="cuenca()">
    <img src="assets/Imagenes/stickers/Animales/Stickers-05.png" style="height:180px;position: relative; z-index: 2;">
  </div> 

  <div class="locomotora" (click)="cuenca()">
    <img src="assets/Imagenes/stickers/Animales/Stickers-25.png" style="height:180px;position: relative; z-index: 2;">
  </div>
  
  <div class="mapache" (click)="ampliacion()">
    <img src="assets/Imagenes/stickers/Iconos/Stickers-85.png" style="height:150px;position: relative; z-index: 2;transform: rotateZ(-15deg);">
  </div> 


  <div class="camion" (click)="ampliacion()">
    <img src="assets/Imagenes/stickers/Vehiculos/Stickers-77.png" style="height:180px;position: relative; z-index: 2;transform: rotateZ(-15deg);">
  </div> 



   
  </div>


  

 