


<div class="fondo">

    <div class="texto_pos"><br><br><br>
        <img src="assets/Imagenes/rotulos/Ingles/mando04eng.png" style="position:absolute;height: 165px; left: 140px; ">
   </div>
 
     
 
   <img src="assets/Imagenes/textos_iconos/AssetsFinales/Assets-02.png" style="height: 150px;   position: absolute; top: 880px;
   left: 100px; z-index: 10;" alt="" routerLink="/revertidas_eng"  (click)="areaRevertida()">

  

   <img src="assets/Imagenes/textos_iconos/AssetsFinales/home38.png" style="height: 150px;   position: absolute; top: 870px;
right: 90px; z-index: 10;" alt="" routerLink="/home_eng" (click)="enviarHome()" >

<img src="assets/Imagenes/textos_iconos/AssetsFinales/esp.png" style="height: 100px;   position: absolute; top: 900px;
right: 250px; z-index: 10;" alt="" routerLink="/poligonostiro">





 
  <div class="container-fluid" style="position: absolute; top: 480px; left: 150px; z-index: 8;margin: 0;padding:0;display: inline-block;" > 
      
        <main class="animate__animated animate__fadeInDown" >
          <!-- <h1 class="animated flip" style="margin: 0 auto;" class="titulo2  {{cssTexto}}" id="titulo">{{Titulo}}</h1> -->
          <div class="container-fluid" >
            <div class="row">
              <div class="col-xl-6" >
                <h1 class="Tit_revertidas" style="position: absolute; top: -190px;" (click)="poligono();">FIRING RANGES</h1><br><br><br><br><br>
               
                 <p class="text_revertidas " style="letter-spacing: 0.5px; position: relative; top: -210px; font-size: 25px; text-align: justify; line-height: 30px;" id="parrafo">  
                    By the year 2000, approximately 340 km<sup>2</sup> of lands used as military bases by the United States had reverted to Panamá, and of these 43% had functioned as training grounds for shooting and bombing drills. <br><br>

 

                    However, despite it was agreed that the U.S. had the obligation to eliminate any threats in these areas, the cleanup efforts conducted between 1979 and 1999 were insufficient and unexploded ammunitions have caused injuries and deaths since then. <br><br>

 

DAfter the abandonment of these military bases, Panama has requested U.S. assistance to complete the cleanup of these contaminated areas. However, the U.S. government has only cooperated in the cleanup of one of these firing ranges, making this a pending task that threatens the lives of this region’s inhabitants.   <br>  <br>
<b id="text-red">See the map to observe the shooting ranges <i id="mano" class="fa-solid fa-hand-point-right fa-xl fa-bounce"></i></b>
               
                 <br><br>  
    
                   
 
 
 
                    
    
                    
                 </p>
                
    
             
    
    
                
                <br> 
                
 
    
              </div>
              <div class="col-xl-6" style="position: relative; top: -150px; right: -80px;" >
               <div class="d-grid gap-2"  >
                 

                <div class="title_revertidas" style="font-size: 50px;color: black;" (click)="sherman();"><img src="assets/Imagenes/stickers/Iconos/Stickers-62.png" style="height: 80px;" >SHERMAN</div>
                <div class="title_revertidas" style="font-size: 50px;color: black;" (click)="pina();"><img src="assets/Imagenes/stickers/Iconos/Stickers-62.png" style="height: 80px;">PIÑA</div>

                <div class="title_revertidas" style="font-size: 50px;color: black;" (click)="balboa();"><img src="assets/Imagenes/stickers/Iconos/Stickers-62.png" style="height: 80px;">WEST BALBOA</div>

                <div class="title_revertidas" style="font-size: 50px;color: black;" (click)="emperador();"><img src="assets/Imagenes/stickers/Iconos/Stickers-62.png" style="height: 80px;">EMPERADOR</div>

                <div class="title_revertidas" style="font-size: 50px;color: black;" (click)="rioHato();"><img src="assets/Imagenes/stickers/Iconos/Stickers-62.png" style="height: 80px;">RÍO HATO</div>

                <div class="title_revertidas" style="font-size: 50px;color: black;" (click)="sanJose();"><img src="assets/Imagenes/stickers/Iconos/Stickers-62.png" style="height: 80px;">SAN JOSE ISLAND</div>
 
                 
               </div>
 
 
             
    
    
    
              
              </div>
            </div>
          </div>
    
    
          
        </main> 
    
        
       
    </div>
 
 
   </div>
    
   <!-- <app-footer></app-footer> -->
    
    
  
    
    
